<p>
  Usa el filtro para que se muestren las consultas relacionadas con tu búsqueda.
</p>
<ion-list>
  <ion-item>
    <ion-select #C aria-label="Selecciona una categoría" placeholder="Selecciona un categoría" (ionChange)="selection(C.value)">
      <ion-select-option value="notas">Notas de voz</ion-select-option>
      <ion-select-option value="firmware">Firmware</ion-select-option>
      <ion-select-option value="all">Todo</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>

<div role="list">
  <details name="category" role="listitem" *ngIf="category==='all' || category==='notas' || category==='firmware'">
    <summary role="button">
      Las notas de voz creadas no se registranm pero si que se crean los ficheros mp3.
    </summary>
    <div class="txt-content">
      <p>
        Se debe descargar e instalar la versión más reciente del firmware para el modelo de Milestone.
        </p>
        <p>
          <span class="emphasy">Nota</span>: 
          La versión estable para Milestone 312 es la 
          <a href="https://cti.once.es/el-rincon-del-conocimiento/tiflo-store/view-ts-item?id=35" aria-label="Descargar versión 4.47.7 (se abre en una ueva pestaña)" target="_blank">
            4.47.7
          </a>.
          La versión estable para Milestone 312 ACE es la <a href="https://cti.once.es/el-rincon-del-conocimiento/tiflo-store/view-ts-item?id=36"
          aria-label="Descargar versión 5.8 (se abre en una nueva pestaña)" target="_blank">Descargar versión 5.8</a>.
      </p>
    </div>
  </details> 
</div>