.btn{
    background-color: green;
    color: #fff;
    padding: 0.5em 0.5em;
    border-radius: 0.2rem;
}

.flex-container{
    border-bottom: solid 0.1rem;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.txt{
    width: 86%;
}

ion-list{
    border-bottom: solid 0.1rem;
}


@import '../details.scss';

@media only screen and (max-width: 765px) {
    .flex-container{
        flex-direction: column;
    }

    .txt{
        width: 100%;
    }

    .flex-btn{
        margin-bottom: 1vh;
    }
    
}