<p>
  Usa el filtro para que se muestren las consultas relacionadas con tu búsqueda.
</p>
<ion-list>
  <ion-item>
    <ion-select #C aria-label="Selecciona una categoría" placeholder="Selecciona un categoría" (ionChange)="selection(C.value)">
      <ion-select-option value="aplicaciones">Aplicaciones</ion-select-option>
      <ion-select-option value="complementos">Complementos</ion-select-option>
      <ion-select-option value="all">Todo</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>

<div role="list">
  <details name="category" role="listitem" *ngIf="category=='all' || category=='complementos'">
    <summary>
      Complemento para definiciones de la <abbr title="Real Academia Española">RAE</abbr>.
    </summary>
    <div class="txt-content">
      <p>
        Enlace de descarga de
        <a href="https://nvda.es/2020/09/19/dle-checker/" title="C (se abre en una nueva pestaña)" target="_blank">
          DLEChecker
        </a>.
      </p>
     </div>
  </details>

  <details name="category" role="listitem" *ngIf="category=='all' || category=='aplicaciones'">
    <summary>
      No se pueden leer archivos *.pdf que si se leen con Jaws.
    </summary>
    <div class="txt-content">
      <p>
        Mirar la configuración de accesibilidad de Adobe Acrobat.
      </p>
     </div>
  </details>

  <details name="category" role="listitem" *ngIf="category=='all' || category=='complementos'">
    <summary>
      Complemento para <abbr title="Editor Científico ONCE">Edico</abbr>.
    </summary>
    <div class="txt-content">
      <p>
        Enlace de descarga del <a href="https://nvda.es/files/get.php?file=edico" title="C (se abre en una nueva pestaña)" target="_blank">
          complemento para <abbr title="Editor Científico ONCE">Edico</abbr>
        </a>.
      </p>
     </div>
  </details>
  
  <details name="category" role="listitem" *ngIf="category=='all' || category=='aplicaciones'">
    <summary>
      Aplicación de firma digital accesible para lectores de pantalla.
    </summary>
    <div class="txt-content">
      <p>
        Autofirma, suele ser una de las recomendadas por la Administración Pública.
      </p>
      <p>
      <span class="emphasy">Nota</span>:
        Enlace de descarga de <a href="https://www.compartolid.es/autofirma/" title="Descarga de autofima (se abre en una nueva ventana)" target="_blank">Autofirma</a>.
      </p>
     </div>
  </details>
  
  <details name="category" role="listitem" *ngIf="category=='all' || category=='aplicaciones' || category=='correo electrpnico'">
    <summary>
      Configuración para que el gestor de correoa Thunderbird sea más accesible.
    </summary>
    <div class="txt-content">
      <p>
        Las possibles configuraciones para hacer un gestor de correos más accesibles para lectores de pantalla son:
      </p>
      <ul>
        <li>
          Si no hay otro cliente de correo en el equipo, ir a <i>Aplicaciones predeterminadas</i> y lo establezco como tal 
          el gestor de correos que se utilizara para que abra vínculos de mensajes directamente.
        </li>
        <li>
          En Ver > Barras de herramientas y las desactivamos todas para que el foco se posicione directamente en la tabla de mensajes o 
          lo más cercano a ella.
        </li>
        <li>
          En Herramientas > Ajustes (pueden ser <i>preferences</i> dependiendo de la versión instalada) hacer lo siguiente:
        </li>
        <ul>
          <li>
            Pestaña <i>General</i>, desmarcar la opción <i>Al iniciarse Thunderbird, mostrar la página de inicio en el área 
            de mensajes</i>.
          </li>
          <li>
            Pestaña <i>Genera</i> ;atcar ña opción <i>Abrir mensajes en: una ventana de mensaje nueva</i>.</li>
          <li>
            Pestaña <i>Privacidad y seguridad</i>, marcar la opción <i>Permitir contenido remoto en los mensajes</i>.
          </li>
          <li>
            Cerrar la ventana de <i>Ajustes</i> con <abbr title="Control">CTRL</abbr> + W para cerrar y guardar las modificaciones.
        </ul>
        <li>
          Tras crear un mensaje nuevo, enviar con <abbr title="Control">CTRL</abbr> <abbr title="más">+</abbr> Intro” y marco la casilla de “No mostrar más este mensaje” para que no me lo solicite en ocasiones sucesivas.
        </li>
      </ul>
     </div>
  </details>
</div>