<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()" title="Ir atrás" role="bbutton">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Detalles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">details</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngFor="let item of items">
    <p *ngIf="item.id == cat">Consulta: {{ item.consult }}</p>
    <p *ngIf="item.id == cat && item.answer != ''"><b>Solución</b>: {{ item.answer }}</p>
    <p *ngIf="item.id == cat && item.answer == ''"><b>Solución</b>: Ahora mismo no conocemos niguna posibles solución, si conoce alguno, por favor, envíela y la probaremos. ¡Muchas gracias!ss</p>
    <p *ngIf="item.id == cat && item.comments != ''"><b>Comentarios</b>: {{ item.comments }}</p>
    <p *ngIf="item.id == cat && item.comments == ''"><b>Comentarios</b>: No hay comentarios.</p>
  
    <div class="flex-container">
      <button *ngIf="item.id == cat && item.answer == ''" title="Enviar" (onclick)="sendSol(item.id)">Enviar una solución</button>
      <button *ngIf="item.id == cat" (click)="edit(cat)" title="Editar Entrada">Editar Entrada</button>
      <button *ngIf="item.id == cat" (click)="erase(item)" title="Borrar Entrada" class="danger">Borrar Entrada</button>
    </div>
  </div>
</ion-content>
