<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon name="arrow-back-outline" slot="start" (click)="goBack()" title="Ir atrás" role="bbutton"></ion-icon>
    <ion-title>Detalles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">details</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngFor="let item of items">
    <p *ngIf="item.id == cat">Consulta: {{ item.consult }}</p>
    <p *ngIf="item.id == cat && item.answer != ''">Solución: {{ item.answer }}</p>
    <button *ngIf="item.id == cat && item.answer == ''" title="Enviar" (onclick)="sendSol(item.id)">Enviar una solución</button>
    <p *ngIf="item.id == cat && item.comments != ''">Comentarios: {{ item.comments }}</p>
    <p *ngIf="item.id == cat && item.comments == ''">Comentarios: No hay comentarios.</p>
  </div>
</ion-content>
