<p>
  Usa el filtro para que se muestren las consultas relacionadas con tu búsqueda.
</p>
<ion-list>
  <ion-item>
    <ion-select #C aria-label="Selecciona una categoría" placeholder="Selecciona un categoría" (ionChange)="selection(C.value)">
      <ion-select-option value="instalacion">instalación</ion-select-option>
      <ion-select-option value="errores">Errores</ion-select-option>
      <ion-select-option value="all">Todo</ion-select-option>
      <!--<ion-select-option value="correo">Correo Electrónico</ion-select-option>
      <ion-select-option value="gestos">Gestos</ion-select-option>
      <ion-select-option value="gold">Gestor <abbr title="Organización Nacional Ciegos Españoles">ONCE</abbr> Libros Digitales</ion-select-option>
      <ion-select-option value="icloud">iCloud</ion-select-option>
      <ion-select-option value="ipad">iPad</ion-select-option>
      <ion-select-option value="macbook">MacBook</ion-select-option>
      <ion-select-option value="portalonce">PortalONCE</ion-select-option>
      <ion-select-option value="siri">Siri</ion-select-option>
      <ion-select-option value="vincular">Vincular</ion-select-option>
      <ion-select-option value="whatsapp">WhatsApp</ion-select-option>-->
    </ion-select>
  </ion-item>
</ion-list>

<div role="list">
  <details name="category" role="listitem" *ngIf="category=='all' || category=='instalacion' || category=='errores'">
    <summary role="button">
      Problemas al instalar el controlador de Magnilink Student, no se detecta el dispositivo, da error 14 y error 70.
    </summary>
    <div class="txt-content">
      <p>
        Deshabilitar la tarjeta gráfica e instalar el software de Magnilink S versión 6, no la 7.
      </p>
     </div>
  </details>
</div>