<p>
  Usa el filtro para que se muestren las consultas relacionadas con tu búsqueda.
</p>
<ion-list>
  <ion-item>
    <ion-select #C aria-label="Selecciona una categoría" placeholder="Selecciona un categoría" (ionChange)="selection(C.value)">
      <ion-select-option value="instalacion">instalación</ion-select-option>
      <ion-select-option value="errores">Errores</ion-select-option>
      <ion-select-option value="all">Todo</ion-select-option>
      <!--<ion-select-option value="correo">Correo Electrónico</ion-select-option>
      <ion-select-option value="gestos">Gestos</ion-select-option>
      <ion-select-option value="gold">Gestor <abbr title="Organización Nacional Ciegos Españoles">ONCE</abbr> Libros Digitales</ion-select-option>
      <ion-select-option value="icloud">iCloud</ion-select-option>
      <ion-select-option value="ipad">iPad</ion-select-option>
      <ion-select-option value="macbook">MacBook</ion-select-option>
      <ion-select-option value="portalonce">PortalONCE</ion-select-option>
      <ion-select-option value="siri">Siri</ion-select-option>
      <ion-select-option value="vincular">Vincular</ion-select-option>
      <ion-select-option value="whatsapp">WhatsApp</ion-select-option>-->
    </ion-select>
  </ion-item>
</ion-list>

<div role="list">
  <div role="listitem" class="flex-container" id="consult_1" *ngIf="category=='all' || category=='instalacion' || category=='errores'">
    <div class="flex-item txt">
      <p>
        <abbr title="Consulta" class="emphasy">C</abbr>: 
        Problemas al instalar el controlador de Magnilink Student, no se detecta el dispositivo, da error 14 y error 70.
      </p>
      <div *ngIf="show == 1" aria-hidden="true" id="student_1">
        <p>
          Deshabilitar la tarjeta gráfica e instalar el software de Magnilink S versión 6, no la 7.
        </p>
      </div>
    </div>

    <div class="flex-btn">
      <button class="btn" (click)="showOpt(1)" *ngIf="show != 1">Consultar</button>
      <button class="btn" (click)="showOpt(0)" *ngIf="show == 1">Ocultar</button>
    </div>
  </div>
</div>