.chat-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.message-wrapper {
  margin-bottom: 10px;
  display: flex;
}

.message-wrapper.user {
  justify-content: flex-end;
}

.message-wrapper.bot {
  justify-content: flex-start;
}

.message {
  padding: 10px;
  border-radius: 10px;
  max-width: 80%;
}

.message-wrapper.user .message {
  background-color: var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);
}

.message-wrapper.bot .message {
  background-color: var(--ion-color-light); /* Use a light background for bot messages */
  color: var(--ion-color-dark); /* Use dark text for contrast */
  
  // Dark mode styles for bot messages
  :host-context(.ion-color-scheme-dark) & {
    background-color: var(--ion-color-medium); /* A slightly darker background for dark mode */
    color: var(--ion-color-light-contrast); /* Lighter text for contrast in dark mode */
  }
}

.chat-input-container {
    display: flex;
    align-items: center;
    padding: 5px;
}

ion-input {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 5px 15px !important;
    margin-right: 10px;
    --color: var(--ion-color-step-850, #000); /* Default to black for light mode */
    --placeholder-color: var(--ion-color-step-600, #929292);

    // Dark mode styles
    :host-context(.ion-color-scheme-dark) & {
      --color: var(--ion-color-step-100, #fff); /* White for dark mode */
      --placeholder-color: var(--ion-color-step-400, #a6a6a6);
    }
}
