<p>
  Usa el filtro para que se muestren las consultas relacionadas con tu búsqueda.
</p>
<ion-list>
  <ion-item>
    <ion-select #C aria-label="Selecciona una categoría" placeholder="Selecciona un categoría" (ionChange)="selection(C.value)">
      <ion-select-option value="actualizacion">Actualización</ion-select-option>
      <ion-select-option value="conexion">Conexión</ion-select-option>
      <ion-select-option value="all">Todo</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>


<div role="list">
  <details name="category" role="listitem" *ngIf="category=='all' || category=='actualizacion'">
    <summary role="button">
      Los drivers no se actualizan correctamente y la impresora entra en un bucle.
    </summary>
    <div class="txt-content">
      <p>
        Mantener pulsado le tecla CHS durante 10 segundos.
      </p>
    </div>
  </details> 

  <details name="category" role="listitem" *ngIf="category=='all' || category=='conexion'">
    <summary role="button">
      Conocer la IP de la impresora.
    </summary>
    <div class="txt-content">
      <p>
        Existen diferentes opciones: 
      </p>
      <ul>
        <li>En la impresora Index-D V5:</li>
        <ul>
          <li>Para imprimir la IP pulsar: HELP, 1</li>
          <li>Para que la impresora diga la IP pulsar: HELP, 10</li>
        </ul>

        <li>En Windows realizar lo siguiente:</li>
        <ol>
          <li>Panel de Control.</li>
          <li>Impresoras.</li>
          <li>Propiedades de la impresora.</li>
          <li>Puertos. </li>
        </ol>
      </ul>
    </div>
  </details>

  <details name="category" role="listitem" *ngIf="category=='all' || category=='conexion'">
    <summary role="button">
      Al realizar una impresión con Index Everest DV-5 desde Ebrai se realiza una doble paginación.
    </summary>
    <div class="txt-content">
      <p>
        Se debe desactivar la paginación de la Index Everest o de la aplicación Ebrai.
      </p>
    </div>
  </details>
</div>