<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Contacto</ion-title>
    </ion-toolbar>
  </ion-header>

  <p>
    SI tiene alguna incidencia con el uso de la aplicación, o alguna consulta a realizar a los creardores,
    por favor rellene el siguiente formulario y se le responderá con la mayor brevedad posible.
  </p>
  <p>Muchas gracias</p>
  
  <form>

  </form>
</ion-content>
