<ion-header>
  <ion-toolbar>
    <ion-title id="modalTitle">Datos a introducir en la Base de Datos</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content class="center" [autofocus]="true" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-modal="true">
  <h2>¿Quieres añadir los siguientes datos a la colección {{ id }}?</h2>
  <p>
    <b>Categoría:</b> {{ category }}
  </p>
  <p>
    <b>Dispositivo:</b> {{ item }}
  </p>
  <p>
    <b>Clasificación:</b> {{ classification }}
  </p>
  <p>
    <b>Consulta:</b> {{ consult }}
  </p>
  <p>
    <b>Resolución:</b> {{ answer }}
  </p>
  <p>
    <b>Histórico:</b> {{ historic }}
  </p>

  <div class="flex-container">
    <button role="button" title="Aceptar" (click)="success()" id="success">Aceptar</button>
    <button role="button" title="Cancelar" (click)="dismiss()" class="danger" id="cancel" class="danger">Cancelar</button>
  </div>
</ion-content>