<p>
  Usa el filtro para que se muestren las consultas relacionadas con tu búsqueda.
</p>
<ion-list>
  <ion-item>
    <ion-select #C aria-label="Selecciona una categoría" placeholder="Selecciona un categoría" (ionChange)="selection(C.value)">
      <ion-select-option value="actualizcion">Acualización</ion-select-option>
      <ion-select-option value="comandos">Comandos</ion-select-option>
      <ion-select-option value="compatibilidad">Compatibilidad</ion-select-option>
      <ion-select-option value="configuracion">Configuración</ion-select-option>
      <ion-select-option value="conexion">Conexión</ion-select-option>
      <ion-select-option value="linea braille">Línea Braille</ion-select-option>
      <ion-select-option value="sintesi voz">Síntesis de voz</ion-select-option>
      <ion-select-option value="all">Todo</ion-select-option>      
    </ion-select>
  </ion-item>
</ion-list>

<div role="list">
  <details name="category" role="listitem" *ngIf="category==='all' || category==='actualizcion' || category==='configuracion'">
    <summary role="button">
      El menú contextual completo no aparece en la aplicación de Editor. Solo aparecen las opciones: Menú de archivos, Menú de edición, Menú de marcadores y Cerrar.
    </summary>
    <div class="txt-content">
      <p>
        A continuación se detalla cómo proceder para que el menú contextual esté completo:
      </p>
        <ol>
        <li>Desde el menú principal acceder a Opciones 8<i>Espacio + O</i>.</li>
        <li>Buscar el elemento <b>Cambiar Idioma</b>.</li>
        <li>Seleccionar el idioma <b>English North America</b>.</li>
        <li>Pulsar el botón Cerrar.</li>
        <li>ceptar cuando se pregunta si se quiere reemplazar el perfil Braille por defecto.</li>
        <li>Aceptar la pregunta para reiniciar.</li>
      </ol>
      <p>
        Una vez hecho esto, el dispositivo se reiniciará y hablará en inglés. Se deberán realizar de nuevo los mismos pasos para volverlo a poner en Español Europa.
      </p>
      
    </div>
  </details>

  <details name="category" role="listitem" *ngIf="category==='all' || category==='linea braille' || category==='comandos'">
    <summary role="button">
      Si se pulsa cor + E tras un texto, el mensaje no se envía.
    </summary>
    <div class="txt-content">
      <p>
        Para enviar los mensajes debe utilizarse el mismo procedimiento que con una linea Focus: pulsar el <i>punto 8</i> 
          y automáticamente se envía.
        </p>
        <p>
          <span class="emphasy">Nota</span>:
          Para crear una línea nueva: <b>cor + 2 + 7</b> y luego al <b>punto 8</b>.
      </p>
    </div>
  </details>
  
  <details name="category" role="listitem" *ngIf="category==='all' || category==='sintesi voz'">
    <summary role="button">
      La síntesis de voz de Brailliant no lee los textos creados directamente en el Brailliant o añadidos desde un ordenador.
    </summary>
    <div class="txt-content">
      <p>
        Cambiar el idioma a inglés y luego vuelve a cambiarlo a Español Europa. También asegurarse de que en la configuración 
        estén verificadas las casillas de:
      </p>
      <ul>
        <li>Verbalizar palabra del cursor.
        <li>Verbalizar el contenido mostrado al desplazarse.
        <li>Eco de borado.
        <li>Eco del teclado en cualquiera de los parámetros que vienen menos en el apagado.</li>
      </ul>
      <p>
        <span class="emphasy">Nota</span>:
        Brailliant sí que lee los textos que se crean o que se importan desde un ordenador en la aplicación de Editor KeyPad. 
        En la aplicación de editor braille no los lee porque no es texto sino puntos.
      </p>
    </div>
  </details>

  <details name="category" role="listitem" *ngIf="category==='all' || category==='comandos'">
    <summary role="button">
      Comando o tecla de Brailliant para acceder a las opciones en un iPhone.
    </summary>
    <div class="txt-content">
      <p>
        La pulsación equivalente a la tecla de la Focus que no tiene Brailliant es con el comando <b>Cor-3 o cor-6</b>para desplazarse por las opciones del rotor activo, en las 
        listas por defecto esta opción es: Acciones. Para seleccionar la opción pulsar intro o pulsación en sensores de la línea y <b>Cor-3-6</b> para ejecutarla.
      </p>
    </div>
  </details>

  <details name="category" role="listitem" *ngIf="category==='all' || category==='configuracion'">
    <summary role="button">
      No se verbaliza el texto que se escribe, ni al navegar por palabras (cor+5 o cor+2) lee el texto escrito.
    </summary>
    <div class="txt-content">
      <p>
        Cambiar idioma a inglés y volver a cambiarlo a español.
      </p>
    </div>
  </details>
  
  <details name="category" role="listitem" *ngIf="category==='all' || category==='conexion'">
    <summary role="button">
      Enlazar anotador Brailliant con Android.
    </summary>
    <div class="txt-content">
      <p>
        Brailliant no se puede conectar con dispositivos Android por Bluetooth, se ha de conectar mediante cable.
      </p>
      <p>
        <span class="emphasy">Nota</span>:
        No se recomiendo la conexión mediante cable porque, al estar conectado al puerto de carga del móvil, Brailliant 
        descarga la batería del móvil .
      </p>
    </div>
  </details>
  
  <details name="category" role="listitem" *ngIf="category==='all' || category==='compatibilidad'">
    <summary role="button">
      Abrir un fichero BRA desde los editores del Brailliant BI.
    </summary>
    <div class="txt-content">
      <p>
        Debe convertirse el fichero bra a txt para abrirse como txt.
      </p>
      <p>
        <span class="emphasy">Nota</span>:
        No se recomienda la conexión mediante cable porque, al estar conectado al puerto de carga del móvil.
      </p>
      <p>
          El formato Bra de Braille Hablado no es compatible con el de Brailliant, tampoco coincide con el formato que maneja el 
          editor braille de Brailliant.
      </p>
    </div>
  </details>
</div>