<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Consultar Incidencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Consultar Incidencia</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <!-- ANOTADORES ELECTRÓNICOS -->
    <!--<button role="button" expand="full" (click)="showOptions(1, 'anotadores')" id="anotadores" class="expand-btn" 
    aria-expanded="true">
      Anotadores Electrónicos
      <ion-icon name="chevron-down-outline" slot="end" *ngIf="showOption != 1" aria-hidden="true"></ion-icon>
      <ion-icon name="chevron-up-outline" slot="end" *ngIf="showOption == 1" aria-hidden="true"></ion-icon>
    </button>-->
    
    <!-- ANOTADORES ELECTRÓNICOS (hidden btns)-->
    <!--<div *ngIf="showOption == 1" class="flex-container">
      <button title="Orbit, pulsa para consultar incidencias" (click)="navigateTo('orbit reader 20')" role="button" class="flex-item">
        Orbit Reader 20
      </button>

      <button title="Braille Hablado, pulsa para consultar incidencias" (click)="navigateTo('braille hablado')" role="button" class="flex-item">
        Braille Hablado
      </button>

      <button title="Brailliant BI, pulsa para consultar incidencias" (click)="navigateTo('brailliant bi')" role="button" class="flex-item">
        Brailliant BI
      </button>
    </div>-->

    <details>
      <summary>Anotadores Electrónicos</summary>
        <button title="Orbit, pulsa para consultar incidencias" (click)="navigateTo('orbit reader 20')" role="button" class="flex-item">
          Orbit Reader 20
        </button>
  
        <button title="Braille Hablado, pulsa para consultar incidencias" (click)="navigateTo('braille hablado')" role="button" class="flex-item">
          Braille Hablado
        </button>
  
        <button title="Brailliant BI, pulsa para consultar incidencias" (click)="navigateTo('brailliant bi')" role="button" class="flex-item">
          Brailliant BI
        </button>
    </details>

    <!-- COMUNICADORES SORDOCEGUERA -->
    <details>
      <summary>Comunicadores personas con Sordoceuera</summary>
      <p>
        No se ha reportado ninguan consulta sobre Comunicadores para Sordoceguera. Si quieres registrar una duda o aportar 
        una solución a un problema detectado, <a href="/new-entry/colaboración" title="Ir a enviar una consulta">Ir a enviar una 
        nueva consulta</a>. 
      </p>
    </details>
    
    <!-- CONVERSORES -->
    <details>
      <summary>Conversores</summary>
      <p>
        No se ha reportado ninguan consulta sobre Conversores. Si quieres registrar una duda o aportar 
        una solución a un problema detectado, <a href="/new-entry/colaboración" title="Ir a enviar una consulta">Ir a enviar una 
        nueva consulta</a>. 
      </p>
    </details>

    <!-- IMPRESORAS -->
    <details>
      <summary>Impresoras Braille</summary>
      
      <button (click)="navigateTo('portathiel')" title="PortaThiel, pulsa para consultar incidencias" role="button" class="flex-item">
        PortaThiel
      </button>

      <button (click)="navigateTo('index everest-d v5')" title="Index Everest-D V5, pulsa para consultar incidencias" role="button" class="flex-item">
        Index Everest-D V5
      </button>

      <button (click)="navigateTo('impacto')" title="Impacto, pulsa para consultar incidencias" role="button" class="flex-item">
        Impacto
      </button>
    </details>

    <!-- LECTORES DE PANTALLA -->
    <details>
    <summary>Lectores de Pantalla</summary>
      <button (click)="navigateTo('jaws')" title="Jaws, pulsa para consultar incidencias" role="button" class="flex-item">
        JAWS
      </button>

      <button (click)="navigateTo('narrador')" title="Narrador, pulsa para consultar incidencias" role="button" class="flex-item">
        Narrador
      </button>

      <button (click)="navigateTo('nvda')" title="NVDA, pulsa para consultar incidencias" role="button" class="flex-item">
        <abbr title="NonVisual Desktop Access">NVDA</abbr>
      </button>

      <button (click)="navigateTo('talkback')" title="TalkBack, pulsa para consultar incidencias" role="button" class="flex-item">
        TalkBack
      </button>

      <button (click)="navigateTo('voiceassistant')" title="VoiceAssistant, pulsa para consultar incidencias" role="button" class="flex-item">
        VoiceAssistant
      </button>

      <button (click)="navigateTo('voiceview')" title="VoiceView, pulsa para consultar incidencias" role="button" class="flex-item">
        VoiceView
      </button>

      <button (click)="navigateTo('voiceover')" title="VoiceOver, pulsa para consultar incidencias" role="button" class="flex-item">
        VoiceOver
      </button>
    </details>

    <!-- LINEA / TECLADO BRAILLE -->
    <details>
      <summary>Línea/Teclado Braille</summary>
      <button (click)="navigateTo('alva')" title="Alva, pulsa para consultar incidencias" role="button" class="flex-item">
        Alva
      </button>
      
      <button (click)="navigateTo('eco')" title="ECO, pulsa para consultar incidencias" role="button" class="flex-item">
        ECO
      </button>
      
      <button (click)="navigateTo('focus')" title="Focus, pulsa para consultar incidencias" role="button" class="flex-item">
        Focus
      </button>

      <button (click)="navigateTo('varioultra')" title="VarioUltra, pulsa para consultar incidencias" role="button" class="flex-item">
        VarioUltra
      </button>
    </details>

    <!-- MAGNIFICADORES PANTALLA -->
    <details>
      <summary>Magnificadores de pantalla</summary>
      
      <button (click)="navigateTo('ampliación android')" title="Ampliación Android, pulsa para consultar incidencias" role="button" class="flex-item">
        Ampliación Android
      </button>

      <button (click)="navigateTo('ampliación ios')" title="Ampliación iOS, pulsa para consultar incidencias" role="button" class="flex-item">
        Ampliación <abbr title="iPhone Operation System">iOS</abbr>
      </button>
      
      <button (click)="navigateTo('ampliación macos')" title="Ampliación MacOS, pulsa para consultar incidencias" role="button" class="flex-item">
        Ampliación MacOS
      </button>

      <button (click)="navigateTo('lupa windows')" title="Lupa de Windows, pulsa para consultar incidencias" role="button" class="flex-item">
        Lupa de Windows
      </button>
      
      <button (click)="navigateTo('zoomtext')" title="ZoomText, pulsa para consultar incidencias" role="button" class="flex-item">
        ZoomText
      </button>
    </details>

    <!-- TELEFONOS ADAPTADOS -->
    <details>
      <summary>Telefonos Adaptados</summary>
      
      <button (click)="navigateTo('blindshell')" title="BlindShell, pulsa para mostrar incidencias" role="button" class="flex-item">
        BlindShell
      </button>

      <button (click)="navigateTo('kapsys')" title="Kapsys, pulsa para mostrar incidencias" role="button" class="flex-item">
        Kapsys
      </button>
    </details>

    <!-- SOFTWARE DIDATICO -->
    <details>
      <summary>Software de Apoyo Didáctico</summary>
      
      <button (click)="navigateTo('bme')" title="BME, pulsa para mostrar incidencias" role="button" class="flex-item">
        <abbr title="Braille Music Editor">BME</abbr>
      </button>

      <button (click)="navigateTo('ebrai')" title="Ebrai, pulsa para mostrar incidencias" role="button" class="flex-item">
        <abbr title="Editor Braille">Ebrai</abbr>
      </button>

      <button (click)="navigateTo('edico')" title="Edico, pulsa para mostrar incidencias" role="button" class="flex-item">
        <abbr title="Editor Cientifico ONCE">Edico</abbr>
      </button>
    </details>

    <!-- ASISTENTES INTELIGENTES -->
    <details>
      <summary>Asistente Inteligente</summary>
      
      <button (click)="navigateTo('alexa')" title="Alexa, pulsa prar mostrar incidencias" role="button" class="flex-item">
        Alexa
      </button>

      <button (click)="navigateTo('google assistant')" title="Google Assistant, pulsa para mostrar incidencias" role="button" class="flex-item">
        Google Assistant
      </button>

      <button (click)="navigateTo('siri')" title="Siri, pulsa para mostrar incidencias" role="button" class="flex-item">
        Siri
      </button>
    </details>

    <!-- MECANOGRAFÍA -->
    <details>
      <summary>Mecanografía</summary>
      
      <button (click)="navigateTo('mecanet')" title="Mecanet, pulsa para mostrar incidencias" role="button" class="flex-item">
        Mecanet
      </button>

      <button (click)="navigateTo('mekanta')" title="Ir a consultas de Mekanta" role="button" class="flex-item">
        Mekanta
      </button>
      
      <button (click)="navigateTo('teclado 2.0')" title="Teclado 2.0, pulsa para mostrar incidencias" role="button" class="flex-item">
        Teclado 2.0
      </button>
    </details>  

    <!-- OCR -->
    <details>
      <summary>
        <abbr title="Reconocedores Ópticos de Caracteres">OCR</abbr>
      </summary>

      <button (click)="navigateTo('finereader')" title="FineReader, pulsa para mostrar incidencias" role="button" class="flex-item">
        FineReader
      </button>

      <button (click)="navigateTo('omnipage')" title="OmniPage, pulsa para mostrar incidencias" role="button" class="flex-item">
        OmniPage
      </button>
    </details>

    <!-- REPRODUCTORES/GRABADORAS -->
    <details>
      <summary>
        Reproductores<span aria-hidden="true">/</span>Grabadoras Digitales
      </summary>

      <button (click)="navigateTo('gestor once libros digitales')" title="Gestor ONCE Libros Digitales, pulsa para mostrar incidencias" role="button" class="flex-item">
        Gestor <abbr title="Organización Nacional Ciegos Españoles">ONCE</abbr> Libros Digitales
      </button>

      <button (click)="navigateTo('milestone')" title="Milestone, pulsa para mostrar incidencias" role="button" class="flex-item">
        Milestone
      </button>

      <button (click)="navigateTo('plextalk')" title="PlexTalk, pulsa para mostrar incidencias" role="button" class="flex-item">
        PlexTalk
      </button>

      <button (click)="navigateTo('victor reader stratus')" title="Victor Reader Stratus, pulsa para mostrar incidencias" role="button" class="flex-item">
        Victor Reader Stratus
      </button>

      <button (click)="navigateTo('victor reader stream 2')" title="Victor Reader Stream 2, pulsa para mostrar incidencias" role="button" class="flex-item">
        Victor Reader Stream 2
      </button>
    </details>

    <!-- TELELUPAS -->
    <details>
      <summary>Telelupas</summary>
      
      <button (click)="navigateTo('telelupa')" title="Telelupa, pulsa para mostrar incidencias" role="button" class="flex-item">
        Telelupa
      </button>

      <button (click)="navigateTo('student')" title="Student, pulsa para mostrar incidencias" role="button" class="flex-item">
        Student
      </button>

      <button (click)="navigateTo('transformer')" title="Transformer, pulsa para mostrar incidencias" role="button" class="flex-item">
        Transformer
      </button>
    </details>

    <!-- SOFTWARE ONCE -->
    <details>
      <summary>
        Software <abbr title="Organización Nacional Ciegos Españoles">ONCE</abbr>
      </summary>
      
      <button (click)="navigateTo('club once')" title="ClubONCE, pulsa para mostrar incidencias" role="button" class="flex-item">
        ClubONCE
      </button>

      <button (click)="navigateTo('portal once')" title="PortalONCE, pulsa para mostrar incidencias" role="button" class="flex-item">
        PortalONCE
      </button>

      <button (click)="navigateTo('apolo')" title="Apolo ONCE, pulsa para mostrar incidencias" role="button" class="flex-item">
        Apolo <abbr title="Organización Nacional Ciegos Españoles">ONCE</abbr>
      </button>

      <button (click)="navigateTo('cti')" title="CTI, pulsa para mostrar incidencias" role="button" class="flex-item">
        <abbr title="Centro de Tecnología e Innovación">CTI</abbr>
      </button>
    </details>
  </ion-list>
</ion-content>