<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Consultar Incidencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Consultar Incidencia</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <!-- ANOTADORES ELECTRÓNICOS -->
    <!--<button role="button" expand="full" (click)="showOptions(1, 'anotadores')" id="anotadores" class="expand-btn" 
    aria-expanded="true">
      Anotadores Electrónicos
      <ion-icon name="chevron-down-outline" slot="end" *ngIf="showOption != 1" aria-hidden="true"></ion-icon>
      <ion-icon name="chevron-up-outline" slot="end" *ngIf="showOption == 1" aria-hidden="true"></ion-icon>
    </button>-->
    
    <!-- ANOTADORES ELECTRÓNICOS (hidden btns)-->
    <!--<div *ngIf="showOption == 1" class="flex-container">
      <button title="Orbit, pulsa para consultar incidencias" (click)="navigateTo('orbit reader 20')" role="button" class="flex-item">
        Orbit Reader 20
      </button>

      <button title="Braille Hablado, pulsa para consultar incidencias" (click)="navigateTo('braille hablado')" role="button" class="flex-item">
        Braille Hablado
      </button>

      <button title="Brailliant BI, pulsa para consultar incidencias" (click)="navigateTo('brailliant bi')" role="button" class="flex-item">
        Brailliant BI
      </button>
    </div>-->

    <details name="item">
      <summary role="button">Anotadores Electrónicos</summary>
        <button aria-label="Orbit, pulsa para consultar incidencias" 
        (click)="navigateTo('orbit reader 20')" role="button" class="flex-item">
          Orbit Reader 20
        </button>
  
        <button aria-label="Braille Hablado, pulsa para consultar incidencias" (click)="navigateTo('braille hablado')" role="button" class="flex-item">
          Braille Hablado
        </button>
  
        <button aria-label="Brailliant BI, pulsa para consultar incidencias" (click)="navigateTo('brailliant bi')" role="button" class="flex-item">
          Brailliant BI
        </button>

        <button aria-label="Braille Lite, pulsa para consultar incidencias" (click)="navigateTo('braille lite')" role="button" class="flex-item">
          Braille Lite
        </button>
    </details>

    <!-- COMUNICADORES SORDOCEGUERA -->
    <details name="item">
      <summary role="button">Comunicadores personas con Sordoceuera</summary>
      <p>
        No se ha reportado ninguan consulta sobre Comunicadores para Sordoceguera. Si quieres registrar una duda o aportar 
        una solución a un problema detectado, <a href="/new-entry/colaboración" title="Ir a enviar una consulta">Ir a enviar una 
        nueva consulta</a>. 
      </p>
    </details>
    
    <!-- CONVERSORES -->
    <details name="item">
      <summary role="button">Conversores</summary>
      <p>
        No se ha reportado ninguan consulta sobre Conversores. Si quieres registrar una duda o aportar 
        una solución a un problema detectado, <a href="/new-entry/colaboración" title="Ir a enviar una consulta">Ir a enviar una 
        nueva consulta</a>. 
      </p>
    </details>

    <!-- IMPRESORAS -->
    <details name="item">
      <summary role="button">Impresoras Braille</summary>
      
      <button (click)="navigateTo('portathiel')" aria-label="PortaThiel, pulsa para consultar incidencias" role="button" class="flex-item">
        PortaThiel
      </button>

      <button (click)="navigateTo('index everest-d v5')" aria-label="Index Everest-D V5, pulsa para consultar incidencias" role="button" class="flex-item">
        Everest
      </button>

      <button (click)="navigateTo('impacto')" aria-label="Impacto, pulsa para consultar incidencias" role="button" class="flex-item">
        Impacto
      </button>
    </details>

    <!-- LECTORES DE PANTALLA -->
    <details name="item">
    <summary role="button">Lectores de Pantalla</summary>
      <button (click)="navigateTo('jaws')" aria-label="Jaws, pulsa para consultar incidencias" role="button" class="flex-item">
        <abbr title="Job Access With Speech">JAWS</abbr>
      </button>

      <button (click)="navigateTo('narrador')" aria-label="Narrador, pulsa para consultar incidencias" role="button" class="flex-item">
        Narrador
      </button>

      <button (click)="navigateTo('nvda')" aria-label="NVDA, pulsa para consultar incidencias" role="button" class="flex-item">
        <abbr title="NonVisual Desktop Access">NVDA</abbr>
      </button>

      <button (click)="navigateTo('talkback')" aria-label="TalkBack, pulsa para consultar incidencias" role="button" class="flex-item">
        TalkBack
      </button>

      <button (click)="navigateTo('voiceassistant')" aria-label="VoiceAssistant, pulsa para consultar incidencias" role="button" class="flex-item">
        VoiceAssistant
      </button>

      <button (click)="navigateTo('voiceview')" aria-label="VoiceView, pulsa para consultar incidencias" role="button" class="flex-item">
        VoiceView
      </button>

      <button (click)="navigateTo('voiceover')" aria-label="VoiceOver, pulsa para consultar incidencias" role="button" class="flex-item">
        VoiceOver
      </button>
    </details>

    <!-- LINEA / TECLADO BRAILLE -->
    <details name="item">
      <summary role="button">Línea/Teclado Braille</summary>
      <button (click)="navigateTo('alva')" aria-label="Alva, pulsa para consultar incidencias" role="button" class="flex-item">
        Alva
      </button>
      
      <button (click)="navigateTo('eco')" aria-label="ECO, pulsa para consultar incidencias" role="button" class="flex-item">
        ECO
      </button>
      
      <button (click)="navigateTo('focus')" aria-label="Focus, pulsa para consultar incidencias" role="button" class="flex-item">
        Focus
      </button>

      <button (click)="navigateTo('varioultra')" aria-label="VarioUltra, pulsa para consultar incidencias" role="button" class="flex-item">
        VarioUltra
      </button>
    </details>

    <!-- MAGNIFICADORES PANTALLA -->
    <details name="item">
      <summary role="button">Magnificadores de pantalla</summary>
      
      <button (click)="navigateTo('ampliación android')" aria-label="Ampliación Android, pulsa para consultar incidencias" role="button" class="flex-item">
        Android
      </button>

      <button (click)="navigateTo('ampliación ios')" aria-label="Ampliación iOS, pulsa para consultar incidencias" role="button" class="flex-item">
        <abbr title="iPhone Operation System">iOS</abbr>
      </button>

      <button (click)="navigateTo('ampliación linux')" aria-label="Ampliación Linux, pulsa para consultar incidencias" role="button" class="flex-item">
        Linux
      </button>
      
      <button (click)="navigateTo('ampliación macos')" aria-label="Ampliación MacOS, pulsa para consultar incidencias" role="button" class="flex-item">
        <abbr title="Machintosh Operation System">MacOS</abbr>
      </button>

      <button (click)="navigateTo('lupa windows')" aria-label="Lupa de Windows, pulsa para consultar incidencias" role="button" class="flex-item">
        Windows
      </button>
      
      <button (click)="navigateTo('zoomtext')" aria-label="ZoomText, pulsa para consultar incidencias" role="button" class="flex-item">
        ZoomText
      </button>
    </details>

    <!-- TELEFONOS ADAPTADOS -->
    <details name="item">
      <summary role="button">Teléfonos Adaptados</summary>
      
      <button (click)="navigateTo('blindshell')" aria-label="BlindShell, pulsa para mostrar incidencias" role="button" class="flex-item">
        BlindShell
      </button>

      <button (click)="navigateTo('kapsys')" aria-label="Kapsys, pulsa para mostrar incidencias" role="button" class="flex-item">
        Kapsys
      </button>
    </details>

    <!-- SOFTWARE DIDATICO -->
    <details name="item">
      <summary role="button">Software de Apoyo Didáctico</summary>
      
      <button (click)="navigateTo('bme')" aria-label="BME, pulsa para mostrar incidencias" role="button" class="flex-item">
        <abbr title="Braille Music Editor">BME</abbr>
      </button>

      <button (click)="navigateTo('ebrai')" aria-label="Ebrai, pulsa para mostrar incidencias" role="button" class="flex-item">
        <abbr title="Editor Braille">Ebrai</abbr>
      </button>

      <button (click)="navigateTo('edico')" aria-label="Edico, pulsa para mostrar incidencias" role="button" class="flex-item">
        <abbr title="Editor Cientifico ONCE">Edico</abbr>
      </button>
    </details>

    <!-- ASISTENTES INTELIGENTES -->
    <details name="item">
      <summary role="button">Asistente Inteligente</summary>
      
      <button (click)="navigateTo('alexa')" aria-label="Alexa, pulsa prar mostrar incidencias" role="button" class="flex-item">
        Alexa
      </button>

      <button (click)="navigateTo('google assistant')" aria-label="Google Assistant, pulsa para mostrar incidencias" role="button" class="flex-item">
        Google Assistant
      </button>

      <button (click)="navigateTo('siri')" aria-label="Siri, pulsa para mostrar incidencias" role="button" class="flex-item">
        Siri
      </button>
    </details>

    <!-- MECANOGRAFÍA -->
    <details name="item">
      <summary role="button">Mecanografía</summary>
      
      <button (click)="navigateTo('dio')" aria-label="DIO, pulsa para mostrar incidencias" role="button" class="flex-item">
        <abbr title="Dactirolografía Interactiva ONCE">DIO</abbr>
      </button>

      <button (click)="navigateTo('mecanet')" aria-label="Mecanet, pulsa para mostrar incidencias" role="button" class="flex-item">
        Mecanet
      </button>

      <button (click)="navigateTo('mekanta')" aria-label="Ir a consultas de Mekanta" role="button" class="flex-item">
        Mekanta
      </button>
      
      <button (click)="navigateTo('mio')" role="button" class="flex-item" aria-label="MIO, pulsa para mostrar incidencias">
        <abbr title="Mecanografía Interactiva ONCE">MIO</abbr>
      </button>

      <button (click)="navigateTo('teclado 2.0')" aria-label="Teclado 2.0, pulsa para mostrar incidencias" role="button" class="flex-item">
        Teclado 2.0
      </button>
    </details>  

    <!-- OCR -->
    <details name="item">
      <summary role="button">
        <abbr title="Reconocedores Ópticos de Caracteres">OCR</abbr>
      </summary>

      <button (click)="navigateTo('finereader')" aria-label="FineReader, pulsa para mostrar incidencias" role="button" class="flex-item">
        FineReader
      </button>

      <button (click)="navigateTo('omnipage')" aria-label="OmniPage, pulsa para mostrar incidencias" role="button" class="flex-item">
        OmniPage
      </button>
    </details>

    <!-- REPRODUCTORES/GRABADORAS -->
    <details name="item">
      <summary role="button">
        Reproductores<span aria-hidden="true">/</span>Grabadoras Digitales
      </summary>

      <button (click)="navigateTo('gestor once libros digitales')" aria-label="Gestor ONCE Libros Digitales, pulsa para mostrar incidencias" role="button" class="flex-item">
        <abbr title="Gestor ONCE Libros Digitales">GOLD</abbr>
      </button>

      <button (click)="navigateTo('milestone')" aria-label="Milestone, pulsa para mostrar incidencias" role="button" class="flex-item">
        Milestone
      </button>

      <button (click)="navigateTo('plextalk')" aria-label="PlexTalk, pulsa para mostrar incidencias" role="button" class="flex-item">
        PlexTalk
      </button>

      <button (click)="navigateTo('victor reader stratus')" aria-label="Victor Reader Stratus, pulsa para mostrar incidencias" role="button" class="flex-item">
        Stratus
      </button>

      <button (click)="navigateTo('victor reader stream 2')" aria-label="Victor Reader Stream 2, pulsa para mostrar incidencias" role="button" class="flex-item">
        Stream 2
      </button>
    </details>

    <!-- TELELUPAS -->
    <details name="item">
      <summary role="button">Lupas Televisión</summary>
      
      <!--<button (click)="navigateTo('telelupa')" aria-label="Telelupa, pulsa para mostrar incidencias" role="button" class="flex-item">
        Lupa <abbr title="Televisión">TV</abbr>
      </button>-->

      <button (click)="navigateTo('student')" aria-label="Student, pulsa para mostrar incidencias" role="button" class="flex-item">
        Student
      </button>

      <button (click)="navigateTo('transformer')" aria-label="Transformer, pulsa para mostrar incidencias" role="button" class="flex-item">
        Transformer
      </button>
    </details>

    <!-- SOFTWARE ONCE -->
    <details name="item">
      <summary role="button">
        Software <abbr title="Organización Nacional Ciegos Españoles">ONCE</abbr>
      </summary>
      
      <button (click)="navigateTo('club once')" aria-label="ClubONCE, pulsa para mostrar incidencias" role="button" class="flex-item">
        ClubONCE
      </button>

      <button (click)="navigateTo('portal once')" aria-label="PortalONCE, pulsa para mostrar incidencias" role="button" class="flex-item">
        PortalONCE
      </button>

      <button (click)="navigateTo('apolo')" aria-label="Apolo ONCE, pulsa para mostrar incidencias" role="button" class="flex-item">
        Apolo <abbr title="Organización Nacional Ciegos Españoles">ONCE</abbr>
      </button>

      <button (click)="navigateTo('cti')" aria-label="CTI, pulsa para mostrar incidencias" role="button" class="flex-item">
        <abbr title="Centro de Tecnología e Innovación">CTI</abbr>
      </button>
    </details>

    <!-- MISCELANEOUS -->
    <details name="item">
      <summary role="button">
        Cajón de Sastre
      </summary>
      
      <button (click)="navigateTo('aplicaciones')" aria-label="Aplicaciones, pulsa para mostrar incidencias" role="button" class="flex-item">
        Aplicaciones
      </button>

      <button (click)="navigateTo('dispositivos')" aria-label="Dispositivos, pulsa para mostrar incidencias" role="button" class="flex-item">
        Dispositivos
      </button>

      <button (click)="navigateTo('repositorio')" aria-label="Repositorio, pulsa para mostrar incidencias" role="button" class="flex-item">
        Repositorio
      </button>
    </details>
  </ion-list>
</ion-content>