<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Consultar Incidencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Consultar Incidencia</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <!-- ANOTADORES ELECTRÓNICOS -->
    <button role="button" expand="full" (click)="showOptions(1, 'anotadores')" id="anotadores" class="expand-btn" 
    title="Anotadores Electrónicos, pulsa para mostrar más" aria-expanded="true">
      Anotadores Electrónicos
      <ion-icon name="chevron-down-outline" slot="end" *ngIf="showOption != 1" aria-hidden="true"></ion-icon>
      <ion-icon name="chevron-up-outline" slot="end" *ngIf="showOption == 1" aria-hidden="true"></ion-icon>
    </button>
    
    <!-- ANOTADORES ELECTRÓNICOS (hidden btns)-->
    <div *ngIf="showOption == 1" class="flex-container">
      <button title="Orbit, pulsa para consultar incidencias" (click)="navigateTo('orbit reader 20')" role="button" class="flex-item">
        Orbit Reader 20
      </button>

      <button title="Braille Hablado, pulsa para consultar incidencias" (click)="navigateTo('braille hablado')" role="button" class="flex-item">
        Braille Hablado
      </button>
    </div>

    <!-- COMUNICADORES SORDOCEGUERA -->
    <button role="button" expand="full" (click)="showOptions(2, 'comunicadores sordoceguera')" id="comunicadores" class="contract-btn" 
    title="Comunicadores para Sordoceguera, pulsa para mostrar más" disabled aria-expanded="false">
      Comunicadores personas con Sordoceuera
      <ion-icon name="chevron-down-outline" slot="end" *ngIf="showOption != 2"aria-hidden="true"></ion-icon>
      <ion-icon name="chevron-up-outline" slot="end" *ngIf="showOption == 2" aria-hidden="true"></ion-icon>
    </button>

    <!-- COMUNICADORES SORDOCEGUERA (hidden btns)-->
    <div *ngIf="showOption == 2" class="flex-container">
      
    </div>

    <!-- CONVERSORES -->
    <button role="button" expand="full" (click)="showOptions(3, 'conversores')" id="conversores" class="contract-btn" 
    title="Conversores, pulsa para mostrar más" disabled aria-expanded="false">
      Conversores
      <ion-icon name="chevron-down-outline" slot="end" aria-hidden="true" *ngIf="showOption != 3"></ion-icon>
      <ion-icon name="chevron-up-outline" slot="end" aria-hidden="true" *ngIf="showOption == 3"></ion-icon>
    </button>
  
    <!-- CONVERSORES (hidden btns)-->
    <div *ngIf="showOption == 3" class="flex-container">
      
    </div>

    <!-- IMPRESORAS -->
    <button role="button" expand="full" (click)="showOptions(4, 'impresoras')" id="impresoras" class='contract-btn' 
    title="Impresoras Braille,pulsa para mostrar más" aria-expanded="false">
      Impresoras Braille
      <ion-icon name="chevron-down-outline" slot="end" *ngIf="showOption != 4" aria-hidden="true"></ion-icon>
      <ion-icon name="chevron-up-outline" slot="end" *ngIf="showOption == 4" aria-hidden="true"></ion-icon>
    </button>

    <!-- IMPRESORAS (hidden btns)-->
    <div *ngIf="showOption == 4" class="flex-container">
      <button (click)="navigateTo('portathiel')" title="PortaThiel, pulsa para consultar incidencias" role="button" class="flex-item">
        PortaThiel
      </button>

      <button (click)="navigateTo('index everest-d v5')" title="Index Everest-D V5, pulsa para consultar incidencias" role="button" class="flex-item">
        Index Everest-D V5
      </button>

      <button (click)="navigateTo('impacto')" title="Impacto, pulsa para consultar incidencias" role="button" class="flex-item" disabled>
        Impacto
      </button>
    </div>

    <!-- LECTORES DE PANTALLA -->
    <button role="button" expand="full" (click)="showOptions(5, 'lectores')" id="lectores" class="contract-btn" 
    title="Pulsa para mostrar categorías de Lectores de Pantalla" aria-expanded="false">
      Lectores de Pantalla
      <ion-icon name="chevron-down-outline" slot="end" *ngIf="showOption != 5" aria-hidden="true"></ion-icon>
      <ion-icon name="chevron-up-outline" slot="end" *ngIf="showOption == 5" aria-hidden="true"></ion-icon>
    </button>

    <!-- LECTORES PANTALLA (hidden btns)-->
    <div *ngIf="showOption == 5" class="flex-container">
      <button (click)="navigateTo('jaws')" title="Jaws, pulsa para consultar incidencias" role="button" class="flex-item">
        JAWS
      </button>

      <button (click)="navigateTo('narrador')" title="Narrador, pulsa para consultar incidencias" role="button" class="flex-item">
        Narrador
      </button>

      <button (click)="navigateTo('nvda')" title="NVDA, pulsa para consultar incidencias" role="button" class="flex-item">
        <abbr title="NonVisual Desktop Access">NVDA</abbr>
      </button>

      <button (click)="navigateTo('talkback')" title="TalkBack, pulsa para consultar incidencias" role="button" class="flex-item">
        TalkBack
      </button>

      <button (click)="navigateTo('voiceassistant')" title="VoiceAssistant, pulsa para consultar incidencias" role="button" class="flex-item" disabled aria-disabled>
        VoiceAssistant
      </button>

      <button (click)="navigateTo('voiceview')" title="VoiceView, pulsa para consultar incidencias" role="button" class="flex-item" disabled aria-disabled>
        VoiceView
      </button>

      <button (click)="navigateTo('voiceover')" title="VoiceOver, pulsa para consultar incidencias" role="button" class="flex-item">
        VoiceOver
      </button>
    </div>

    <!-- LINEA / TECLADO BRAILLE -->
    <button role="button" expand="full" (click)="showOptions(6, 'lineas')" id="lineas" class="contract-btn" 
    title="Línea/Teclado Braille, pulsa para mostrar más" aria-expanded="false">
      Línea/Teclado Braille
      <ion-icon name="chevron-down-outline" slot="end" *ngIf="showOption != 6" aria-hidden="true"></ion-icon>
      <ion-icon name="chevron-up-outline" slot="end" *ngIf="showOption == 6" aria-hidden="true"></ion-icon>
    </button>

    <!-- LINEA / TECLADO BRAILLE (hidden btns)-->
    <div *ngIf="showOption == 6" class="flex-container">
      <button (click)="navigateTo('alva')" title="Alva, pulsa para consultar incidencias" role="button" class="flex-item">
        Alva
      </button>
      
      <button (click)="navigateTo('eco')" title="ECO, pulsa para consultar incidencias" role="button" class="flex-item" disabled>
        ECO
      </button>
      
      <button (click)="navigateTo('focus')" title="Focus, pulsa para consultar incidencias" role="button" class="flex-item">
        Focus
      </button>

      <button (click)="navigateTo('varioultra')" title="VarioUltra, pulsa para consultar incidencias" role="button" class="flex-item">
        VarioUltra
      </button>
    </div>

    <!-- MAGNIFICADORES PANTALLA -->
    <button role="button" expand="full" (click)="showOptions(7, 'magnificadores')" id="magnificadores" class="contract-btn" 
    title="Magnificadores de Pantalla, pulsa para mostrar más" aria-expanded="false">
      Magnificadores de pantalla
      <ion-icon name="chevron-down-outline" slot="end" *ngIf="showOption != 7" aria-hidden="true"></ion-icon>
      <ion-icon name="chevron-up-outline" slot="end" *ngIf="showOption == 7" aria-hidden="true"></ion-icon>
    </button>

    <!-- MAGNIFICADORES PANTALLA (hidden btns)-->
    <div *ngIf="showOption == 7" class="flex-container">
      <button (click)="navigateTo('ampliación android')" title="Ampliación Android, pulsa para consultar incidencias" role="button" class="flex-item">
        Ampliación Android
      </button>

      <button (click)="navigateTo('ampliación ios')" title="Ampliación iOS, pulsa para consultar incidencias" role="button" class="flex-item">
        Ampliación <abbr title="iPhone Operation System">iOS</abbr>
      </button>
      
      <button (click)="navigateTo('ampliación macos')" title="Ampliación MacOS, pulsa para consultar incidencias" role="button" class="flex-item">
        Ampliación MacOS
      </button>

      <button (click)="navigateTo('lupa windows')" title="Lupa de Windows, pulsa para consultar incidencias" role="button" class="flex-item">
        Lupa de Windows
      </button>
      
      <button (click)="navigateTo('zoomtext')" title="ZoomText, pulsa para consultar incidencias" role="button" class="flex-item">
        ZoomText
      </button>
    </div>

    <!-- TELEFONOS ADAPTADOS -->
    <button role="button" expand="full" (click)="showOptions(8, 'telefonos')" id="telefonía" class="contract-btn" 
    title="Telefonía, pulsa para mostrar más" aria-expanded="false">
      Telefonos Adaptados
      <ion-icon name="chevron-down-outline" slot="end" *ngIf="showOption != 8" aria-hidden="true"></ion-icon>
      <ion-icon name="chevron-up-outline" slot="end" *ngIf="showOption == 8" aria-hidden="true"></ion-icon>
    </button>

    <!-- TELEFONOS ADAPTADOS (hidden btns)-->
    <div *ngIf="showOption == 8" class="flex-container">
      <button (click)="navigateTo('blindshell')" title="BlindShell, pulsa para mostrar incidencias" role="button" class="flex-item">
        BlindShell
      </button>
    </div>

    <!-- SOFTWARE DIDATICO -->
    <button role="button" expand="full" (click)="showOptions(9, 'didactico')" id="didactico" class="contract-btn" 
    title="Software de Apoyo Didáctico, pulsa para mostrar más" aria-expanded="false">
      Software de Apoyo Didáctico
      <ion-icon name="chevron-down-outline" slot="end" *ngIf="showOption != 9" aria-hidden="true"></ion-icon>
      <ion-icon name="chevron-up-outline" slot="end" *ngIf="showOption == 9" aria-hidden="true"></ion-icon>
    </button>

    <!-- SOFTWARE DIDATICO (hidden btns)-->
    <div *ngIf="showOption == 9" class="flex-container">
      <button (click)="navigateTo('bme')" title="BME, pulsa para mostrar incidencias" role="button" class="flex-item">
        <abbr title="Braille Music Editor">BME</abbr>
      </button>

      <button (click)="navigateTo('ebrai')" title="Ebrai, pulsa para mostrar incidencias" role="button" class="flex-item">
        <abbr title="Editor Braille">Ebrai</abbr>
      </button>

      <button (click)="navigateTo('edico')" title="Edico, pulsa para mostrar incidencias" role="button" class="flex-item">
        <abbr title="Editor Cientifico ONCE">Edico</abbr>
      </button>
    </div>

    <!-- ASISTENTES INTELIGENTES -->
    <button role="button" expand="full" (click)="showOptions(10, 'asistente')" id="asistente" class="contract-btn" 
    title="Asistente Inteligente, pulsa para mostrar más" aria-expanded="false">
      Asistente Inteligente
      <ion-icon name="chevron-down-outline" slot="end" *ngIf="showOption != 10" aria-hidden="true"></ion-icon>
      <ion-icon name="chevron-up-outline" slot="end" *ngIf="showOption == 10" aria-hidden="true"></ion-icon>
    </button>

    <!-- ASISTENTES INTELIGENTES (hidden btns)-->
    <div *ngIf="showOption == 10" class="flex-container">

      <button (click)="navigateTo('alexa')" title="Alexa, pulsa prar mostrar incidencias" role="button" class="flex-item">
        Alexa
      </button>

      <button (click)="navigateTo('google assistant')" title="Google Assistant, pulsa para mostrar incidencias" role="button" class="flex-item">
        Google Assistant
      </button>

      <button (click)="navigateTo('siri')" title="Siri, pulsa para mostrar incidencias" role="button" class="flex-item">
        Siri
      </button>
    </div>

    <!-- MECANOGRAFÍA -->
    <button role="button" expand="full" (click)="showOptions(11, 'meca')" id="meca" class="contract-btn" 
    title="Mecanografía, pulsa para mostrar más" aria-expanded="false">
      Mecanografía
      <ion-icon name="chevron-down-outline" slot="end" *ngIf="showOption != 11" aria-hidden="true"></ion-icon>
      <ion-icon name="chevron-up-outline" slot="end" *ngIf="showOption == 11" aria-hidden="true"></ion-icon>
    </button>

    <!-- MECANOGRAFÍA (hidden btns)-->
    <div *ngIf="showOption == 11" class="flex-container">
      <button (click)="navigateTo('mecanet')" title="Mecanet, pulsa para mostrar incidencias" role="button" class="flex-item">
        Mecanet
      </button>

      <button (click)="navigateTo('mekanta')" title="Ir a consultas de Mekanta" role="button" class="flex-item">
        Mekanta
      </button>

      

      <button (click)="navigateTo('teclado 2.0')" title="Teclado 2.0, pulsa para mostrar incidencias" role="button" class="flex-item">
        Teclado 2.0
      </button>
    </div>  

    <!-- OCR -->
    <button role="button" expand="full" (click)="showOptions(12, 'ocr')" id="ocr" class="contract-btn" 
    title="Pulsa para mostrar categorías de OCR" aria-expanded="false">
      Reconocedores Ópticos de Caracteres (<abbr title="Optical Character Recognition">OCR</abbr>)
      <ion-icon name="chevron-down-outline" slot="end" *ngIf="showOption != 12" aria-hidden="true"></ion-icon>
      <ion-icon name="chevron-up-outline" slot="end" *ngIf="showOption == 12" aria-hidden="true"></ion-icon>
    </button>

      <!--OCR (hidden btns)-->
    <div *ngIf="showOption == 12" class="flex-container">
      <button (click)="navigateTo('finereader')" title="FineReader, pulsa para mostrar incidencias" role="button" class="flex-item">
        FineReader
      </button>

      <button (click)="navigateTo('omnipage')" title="OmniPage, pulsa para mostrar incidencias" role="button" class="flex-item">
        OmniPage
      </button>
    </div>

      <!-- REPRODUCTORES/GRABADORAS -->
    <button role="button" expand="full" (click)="showOptions(13, 'reproductores')" id="reproductores" class="contract-btn" 
    title="Reproductores Grabadoras Digitales, pulsa para mostrar incidencias">
      Reproductores<span aria-hidden="true">/</span>Grabadoras Digitales
      <ion-icon name="chevron-down-outline" slot="end" *ngIf="showOption != 13" aria-hidden="true"></ion-icon>
      <ion-icon name="chevron-up-outline" slot="end" *ngIf="showOption == 13" aria-hidden="true"></ion-icon>
    </button>

    <!--REPRODUCTORES/GRABADORAS (hidden btns)-->
    <div *ngIf="showOption == 10" class="flex-container">
      
      <button (click)="navigateTo('gestor once libros digitales')" title="Gestor ONCE Libros Digitales, pulsa para mostrar incidencias" role="button" class="flex-item">
        Gestor <abbr title="Organización Nacional Ciegos Españoles">ONCE</abbr> Libros Digitales
      </button>

      <button (click)="navigateTo('milestone')" title="Milestone, pulsa para mostrar incidencias" role="button" class="flex-item">
        Milestone
      </button>

      <button (click)="navigateTo('plextalk')" title="PlexTalk, pulsa para mostrar incidencias" role="button" class="flex-item">
        PlexTalk
      </button>

      <button (click)="navigateTo('victor reader stratus')" title="Victor Reader Stratus, pulsa para mostrar incidencias" role="button" class="flex-item">
        Victor Reader Stratus
      </button>

      <button (click)="navigateTo('victor reader stream 2')" title="Victor Reader Stream 2, pulsa para mostrar incidencias" role="button" class="flex-item">
        Victor Reader Stream 2
      </button>
    </div>

    <!-- SOFTWARE ONCE -->
    <button role="button" expand="full" (click)="showOptions(14, 'once')" id="once" class="contract-btn" 
    title="Pulsa para mostrar categorías de Software ONCE" aria-expanded="false">
      Software <abbr title="Organización Nacional Ciegos Españoles">ONCE</abbr>
      <ion-icon name="chevron-down-outline" slot="end" *ngIf="showOption != 14" aria-hidden="true"></ion-icon>
      <ion-icon name="chevron-up-outline" slot="end" *ngIf="showOption == 14" aria-hidden="true"></ion-icon>
    </button>

    <!-- SOFTWARE ONCE (hidden btns)-->
    <div *ngIf="showOption == 12" class="flex-container">
      <button (click)="navigateTo('portal once')" title="PortalONCE, pulsa para mostrar incidencias" role="button" class="flex-item">
        PortalONCE
      </button>
    </div>
  </ion-list>
</ion-content>