<p>
  Usa el filtro para que se muestren las consultas relacionadas con tu búsqueda.
</p>
<ion-list>
  <ion-item>
    <ion-select #C aria-label="Selecciona una categoría" placeholder="Selecciona un categoría" (ionChange)="selection(C.value)">
      <ion-select-option value="lite">Lite</ion-select-option>
      <ion-select-option value="fire">Fire TV</ion-select-option>
      <ion-select-option value="instalacion">Instalación</ion-select-option>
      <ion-select-option value="all">Todo</ion-select-option>
      <!--<ion-select-option value="control por voz">Control por voz</ion-select-option>
      <ion-select-option value="correo">Correo</ion-select-option>
      <ion-select-option value="marcacion rapida">Marcación Rápida</ion-select-option>
      <ion-select-option value="notificaciones">Notificaciones</ion-select-option>
      <ion-select-option value="version">Versión</ion-select-option>
    --></ion-select>
  </ion-item>
</ion-list>

<div role="list">
  <details name="category" role="listitem" *ngIf="category=='all' || category=='fire' || category=='instalacion'">
    <summary>
      No se puede instalar Apolo ONCE en el Fire <abbr title="Televión">TV</abbr>.
    </summary>
    <div class="txt-content">
      <p>
        Actualizar a la version 7.0.0 o superior.
      </p>
      
    </div>
  </details>

  <details name="category" role="listitem" *ngIf="category=='all' || category=='descarga'">
    <summary>
      En la pestaña Descargas no se puede abrir la opción de búsqueda, pero fundiona correctamente en novedades y el resto de ítems.
    </summary>
    <div class="txt-content">
      <p>
        Para solucionar el problema realizar lo siguiente::
      </p>
      <ol>
        <li>Ir a Ajustes.</li>
        <li>Club ONCE.</li>
        <li>Cerrar la sesión del usuario.</li>
        <li>Volver a iniciar sesión.</li>
      </ol>
      <p>
        Otra opción es desinstalar la app y volver a instalar la aokicación.
      </p>
    </div>
  </details>
</div>