<p>
  Usa el filtro para que se muestren las consultas relacionadas con tu búsqueda.
</p>
<ion-list>
  <ion-item>
    <ion-select #C aria-label="Selecciona una categoría" placeholder="Selecciona un categoría" (ionChange)="selection(C.value)">
      <ion-select-option value="aplicaciones">Aplicaciones</ion-select-option>
      <ion-select-option value="comandos">Comandos</ion-select-option>
      <ion-select-option value="configuración">Configuración</ion-select-option>
      <ion-select-option value="correo electrónico">Correo Electrónico</ion-select-option>
      <ion-select-option value="dongle">Dongle</ion-select-option>
      <ion-select-option value="excel">Excel</ion-select-option>
      <ion-select-option value="instalación">Instalación</ion-select-option>
      <ion-select-option value="lectura">Lectura</ion-select-option>
      <ion-select-option value="linea">Línea braille</ion-select-option>
      <ion-select-option value="menú de inicio">Menú de Inicio</ion-select-option>
      <ion-select-option value="outlook">Outlook</ion-select-option>
      <ion-select-option value="scripts">Scripts</ion-select-option>
      <ion-select-option value="vpn"><abbr title="Virtual Private Network">VPN</abbr></ion-select-option>
      <ion-select-option value="word">Word</ion-select-option>
      <ion-select-option value="all">Todo</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>

<div role="list">
  <details name="category" role="listitem" *ngIf="category=='all' || category=='configuracion'">
    <summary role="button">
      Jaws no lee los elementos del Menú de Inicio de Windows.
    </summary>
    <div class="txt-content">
      Probar alguno de los siguientes procedimientos:
      <ol>
        <li>Actualizando Windos 10 y Jaws.</li>
        <li>Si no funciona el punso anterior:
          <ol>
            <li>Archivos de programa.</li>
            <li>Freedome Scientific.</li>
            <li>Jaws.</li>
            <li>Propiedades (alt + Enter).</li>
            <li>Pestaña de Seguridad.</li>
            <li>Pulsar sobre el botón Editar y a continuación sobre el botón Agregar.</li>
            <li>Añadir el grupo "Todos los paquetes" y darle control total.</li>
          </ol>
        </li>
        <li>Si no se resuelve instalar el ClassicShell</li>
      </ol>
      <p>
        <span class="emphasy">Nota</span>: 
        <a href="http://www.classicshell.net/" target="_blank" title="Enlace de descarga de ClassicShell (se abre en una nueva ventana)"> Enlace de descarga de ClassicShell<span class="scr-only">(se abre en una nueva ventana)</span></a>.
      </p>
    </div>
  </details>

  <details name="category" role="listitem" *ngIf="category=='all' || category=='configuración'">
    <summary role="button">
      Modificar la tecla Insert de Jaws y asignarle otra tecla que no sea Bloq. mayúsc.
    </summary>
    <div class="txt-content">
      <p>
        Como tecla Jaws puede asignarse una de estas 3 teclas: Insert, <abbr title="Bloqueo">Bloq.</abbr> 
        <abbr title="Mayúsculas">Mayúsc,</abbr> o <abbr title="Bloqeuo">Bloq.</abbr> <abbr title="Desplazamiento">Despl.</abbr>
      </p>
      <p>Para ello deben seguirse los siguientes pasos:</p>
      <ol>
        <li>Opciones.</li>
        <li>Configuración báscia.</li>
        <li>Teclado.</li>
        <li>Seleccionar Teclado laptop en el menú desplegable.</li>
        <li>Asistente.</li>
        <li>Gestor de Configuraciones.</li>
        <li>Teclado.</li>
        <li>General.</li>
        <li>Teclas Jaws para telado Desktop.</li>
        <li>
          Seleccionar entre: Insert, <abbr title="Bloqueo">Bloq.</abbr> <abbr title="Mayúsculas">Mayúsc.</abbr> o 
          <abbr title="Bloqueo">Bloq.</abbr> <abbr title="Desplazamiento">Desplaz.</abbr></li>
        <li>En la impresora Index-D V5: 
      </ol>
    </div>
  </details>
  
  <details name="category" role="listitem" *ngIf="category=='all' || category=='configuración'">
    <summary role="button">
      Los menús aparecen en inglés a pesar de que se marcaba para que fueran en castellano (el teclado está configurado como danés por el usuario).
    </summary>
    <div class="txt-content">
      <p>
        Copia todos los scripts de la carpeta esn en la carpeta enu y renombrar los de extensión enu como ori; realizar una copia 
        de seguridad de los archivos de extensión esn y renombrarlos con la extensión enu.
      </p>
    </div>
  </details>
  
  <details name="category" role="listitem" *ngIf="category=='all' || category=='lectura'">
    <summary role="button">
      Cuando Jaws lee "Mouse Over" la ayuda de Jaws indica que la combinación de teclas a utilizar es Insert + Ctrl + Enter, pero al utilizar esa combinación de teclas Jaws no hace 
      nada.
    </summary>
    <div class="txt-content">
      <p>
        Pulsar Enter y después la cominación de teclas indicada por Jaws.
      </p>
    </div>
  </details>
  
  <details name="category" role="listitem" *ngIf="category=='all' || category=='aplicaciones' || category=='correo electrónico' || category=='outlook'">
    <summary role="button">
      Al escribir la dirección para enviar el correo Jaws no lee las sugerencias ni el desplegable con las opciones, tampoco utilizando la combinación insert + cursor.
    </summary>
    <div class="txt-content">
      <p>
        Restablecer la vistas de Outlook: Vista > Restablecer Vista y después volver a configurar la vista de Outlook a gusto del usuario.
      </p>
    </div>
  </details>
  
  <details name="category" role="listitem" *ngIf="category=='all' || category=='correo electrónico'">
    <summary role="button">
      Cuando Jaws lee "Mouse Over" la ayuda de Jaws indica que la combinación de teclas a utilizar es Insert + Ctrl + Enter, pero al utilizar esa combinación de teclas Jaws no hace 
      nada.
    </summary>
    <div class="txt-content">
      <p>
        Realizar una copia del fichero con extensión *,rtf y renombrarlo.
      </p>
    </div>
  </details>
  
  <details name="category" role="listitem" *ngIf="category=='all' || category=='word'">
    <summary role="button">
      Al utilizar Jaws con el revisor ortográfico dice tras cada palabra "marcador de espacio".
    </summary>
    <div class="txt-content">
      <p>
        En Word realizar lo siguiente:
      </p>
      <ol>
        <li>Opciones de Word (Alt + A y cursor arriba hasta opciones).</li>
        <li>En la sección presentación desactivar la casilla "mostrar espacios". Se realiza lo mismo con la combinación: 
          <b>Control + <abbr title="abrir paréntesis">(</abbr></b>.
        </li>
      </ol>
    </div>
  </details>
  
  <details name="category" role="listitem" *ngIf="category=='all' || category=='lectura'">
    <summary role="button">
      El motor de Vocalizer no aparece en la lista de selección.
    </summary>
    <div class="txt-content">
      <p>
        En las nuevas versiones de Jaws las voces se deben descargar desde la opción agregar / eliminar voces del menú voces.
      </p>
    </div>
  </details>
  
  <details name="category" role="listitem" *ngIf="category=='all' || category=='vpn'">
    <summary role="button">
      Mensaje de error al entrar al ordenador mediante <abbr title="Virtual Private Network">VPN</abbr> por fallo del controlador de vídeo de Jaws. En algunas ocasiones Jaws no 
      lee y se queda colgado.
    </summary>
    <div class="txt-content">
      <p>
        Se debe desintsalar Jaws con componentes compartidos e instalar la versión 2019 de Jaws (versión mínima).
      </p>
    </div>
  </details>
  
  <details name="category" role="listitem" *ngIf="category=='all' || category=='dongle'">
    <summary role="button">
      Jaws no reconoce el Dongle pero el sistema sí.
    </summary>
    <div class="txt-content">
      <p>
        Actualizar el Dongle.
      </p>
    </div>
  </details>
  
  <details name="category" role="listitem" *ngIf="category=='all' || category=='lectura'">
    <summary role="button">
      Al actualizar de Jaws 2019 a Jaws 2020 Jaws habla en inglés y no permite cambiar el idioma.
    </summary>
    <div class="txt-content">
      <p>
        Desinstalar Jaws y volver a instalarlo seleccionando com idioma de instalación cespañol.
      </p>
    </div>
  </details>
  
  <details name="category" role="listitem" *ngIf="category=='all' || category=='configuración'">
    <summary role="button">
      En un texto escrito, al pulsar sobre el cursor de subir o bajar Jaws dice: “Acciones: deshacer acciones automáticas”.
    </summary>
    <div class="txt-content">
      <p>
        Seguir el siguiente procedimiento:
      </p>
      <ol>
        <li>Opciones de configuración básica de Jaws (JAWS + v).</li>
        <li>Apartado de opciones de edición.</li>
        <li>Desmarcar la opción "detectar autocorrección".</li>
      </ol>
    </div>
  </details>

  <details name="category" role="listitem" *ngIf="category=='all' || category=='instalación'">
    <summary role="button">
      Herramienta para activar Jaws remotamente.
    </summary>
    <div class="txt-content">
      <p>
        Debe ejecutarse el programa <b>EsClientActivator.exe</b> que se encuentra en <b>C:\Program Tiles\Freedom Scientific\Shared\Authorization Tools\x.0</b>.
      </p>
    </div>
  </details>

  <details name="category" role="listitem" *ngIf="category=='all' || category=='configuración'">
    <summary role="button">
      Al escribir Jaws dice la letra y una palabra. Por ejemplo, A alfa.
    </summary>
    <div class="txt-content">
      <p>
        Existen dos posibles soluciones: 
      </p>
      <ul>
        <li>Desde el gestor de configuraciones:
          <ol>
            <li>Ir al Gestor de configuraciones.</li>
            <li>Procesamiento de textos.</li>
            <li>Descativar anunciar carácter fonéticamente.</li>
          </ol>
        </li>
        <li>Pulsar el número 5 del teclado numérico.</li>
      </ul>
    </div>
  </details>
  
  <details name="category" role="listitem" *ngIf="category=='all' || category=='excel'">
    <summary role="button">
      Al pegar una columna completa  Excel deja de leer el contenido de las celdas e indica sólo la posición de la mismas.
    </summary>
    <div class="txt-content">
      <p>
        Los datos deben ser pegados desde la cinta de Excel.
      </p>
    </div>
  </details>
  
  <details name="category" role="listitem" *ngIf="category=='all' || category=='correo electrónico'">
    <summary role="button">
      Al pulsar <b>Insert + A</b> para abrir un archivo adjunto, éste no se abre. Tampoco se puede abrir con el menú contextual.
    </summary>
    <div class="txt-content">
      <p>
        Realizar los siguientes pasos: 
      </p>
      <ol>
        <li>Abrir el mensaje.</li>
        <li>Navegar con Shift + Tabulador hasta el listado de adjuntos.</li>
        <li>Situarse sobre el archivo.</li>
        <li>Pulsar Alt + flecha abajo.</li>
      </ol>
    </div>
  </details>
  
  <details name="category" role="listitem" *ngIf="category=='all' || category=='comandos' || category=='aplicaciones'">
    <summary role="button">
      Pasar de remoto a local.
    </summary>
    <div class="txt-content">
      <p>
        Utilizar el comando: <b><abbr title="control">Ctrl</abbr> + fin</b>.
      </p>
    </div>
  </details>
  

  <details name="category" role="listitem" *ngIf="category=='all' || category=='comandos'">
    <summary role="button">
      Activación cursor táctil.
    </summary>
    <div class="txt-content">
      <p>
        Utilizar el comando: <b>Shift + + </b>(teclado numérico).
      </p>
    </div>
  </details>

  <details name="category" role="listitem" *ngIf="category=='all' || category=='word'">
    <summary role="button">
      Al utilizar el correcto éste se queda colgado.
    </summary>
    <div class="txt-content">
      <p>
        Debe actualizarse Word.
      </p>
    </div>
  </details>
  
  <details name="category" role="listitem" *ngIf="category=='all' || category=='lectura'">
    <summary role="button">
      Jaws no enuncia la configuración de Windows 10.
    </summary>
    <div class="txt-content">
      <p>
        Realizar los siguientes pasos:
      </p>
      <ol>
        <li>Ir a Archivos de programa/Freedom Scientific/Jaws.</li>
        <li>Propiedades (menú de aolicaciones).</li>
        <li>Pestaña Seguridad.</li>
        <li>Comprobar si está la línea "TODOS LOS PAQUETES DE APLICACIONES".</li>
        <li>Si no existe realizar:
          <ol>
            <li>Botón Editar.</li>
            <li>Botón Agregar.</li>
            <li>Añadir el grupo "TODOS LOS PAQUETES DE APLICACIONES".</li>
            <li>Otorgarle Control total.</li>
          </ol>
        </li>
      </ol>
    </div>
  </details>
  
  <details name="category" role="listitem" *ngIf="category=='all' || category=='lectura' || category=='outlook'">
    <summary role="button">
      Jaws lee toda la información del mensaje al situar el foco sobre el mismo en la bandeja de entrada.
    </summary>
    <div class="txt-content">
      <p>
        Restablecer la vista de Outlook.
      </p>
    </div>
  </details>
  
  <details name="category" role="listitem" *ngIf="category=='all' || category=='correo electrónico'">
    <summary role="button">
      Configurar Outlook con Yahoo.
    </summary>
    <div class="txt-content">
      <p>
        Debe marcarse o desmarcarse las siguientes opciones:
      </p>
      <ul>
        <li>Desmarcar la casilla iniciar sesión utilizando autentificación de contraseña segura.</li>
        <li>Marcar incluir la cuenta al recibir correo electrónico sinsintonizar.</li>
        <li>Marcar Mi servidor requiere auntentificación.</li>
        <li>Puerto correo saliente: 465; Puerto Correo entrante: 995.</li>
        <li>Marcar la casilla El servidor requiere una contraseña segura.</li>
      </ul>
      <p>
        <span class="emphasy">Nota</span>:
        <a href="https://www.solvetic.com/tutoriales/article/3995-como-configurar-cuenta-correo-yahoo-outlook-2016/" title="Ver configuración de Yahoo (se abre en una nueva ventana)" 
        target="_blank">
        Ver configuración de Yahoo con Outlook<span class="scr-only">(se abre en una nueva ventana)</span></a>
      </p>
    </div>
  </details>
  
  <details name="category" role="listitem" *ngIf="category=='all' || category=='scripts'">
    <summary role="button">
      Scripts de Jaws para Facturaplus y Contaplus.
    </summary>
    <div class="txt-content">
      <p>
        <a href="https://www.compartolid.es/jaws-noticias/" target="_blank" title="Scripts para Contaplus y Facturaplus (se abre en una pestaña nueva).">
          Página de descargas de scripts para de Contaplus y Facturaplus para Jaws 12.<span class="scr-only">(se abre en una nueva ventana)</span>
        </a>
      </p>
    </div>
  </details>
  
  <details name="category" role="listitem" *ngIf="category=='all' || category=='lectura'">
    <summary role="button">
      Jaws dice "Verificado" al movernos por la pantalla de escritorio de Windows.
    </summary>
    <div class="txt-content">
      <p>
        Debe realizarse lo siguiente:
      </p>
      <ol>
        <li>Opciones del Explorador de Archivos.</li>
        <li>Configuración Avanzada.</li>
        <li>Mostrar siempre menús: OFF.</li>
        <li>Usar las casillas para seleccionar elementos: OFF.</li>
      </ol>
    </div>
  </details>
  
  <details name="category" role="listitem" *ngIf="category=='all' || category=='comandos'">
    <summary role="button">
      Comando de Jaws para la descripción de imágenes.
    </summary>
    <div class="txt-content">
      <p>
        <b>Insert + espació, i</b>.
      </p>
    </div>
  </details>
  
  <details name="category" role="listitem" *ngIf="category=='all' || category=='lectura'">
    <summary role="button">
      Jaws no reconoce siglas.
    </summary>
    <div class="txt-content">
      <p>
        Asegurarse que las siglas están incorporadas en el Diccionario de Jaws; también descativar la lectura inteligente.
      </p>
    </div>
  </details>
  
  <details name="category" role="listitem" *ngIf="category=='all' || category=='comandos'">
    <summary role="button">
      Hacer MouseOver.
    </summary>
    <div class="txt-content">
      <p>
        Para hacer MouseOver con JAWS: <b>JAWS + Ctrl</b>.
      </p>
    </div>
  </details>
  
  <details name="category" role="listitem" *ngIf="category=='all' || category=='correo electrónico' || category=='outlook'">
    <summary role="button">
      Jaws no lee el autocompletado, ni el campo para cuando se envía un correo con Outlook.
    </summary>
    <div class="txt-content">
      <p>
        Restablecer la visatas de Outlook:
      </p>
      <ol>
        <li>Vista.</li>
        <li>Restablecer Vista.</li>
        <li>Volver a configurar la vista de Outlook a gusto del usuario.</li>
      </ol>
    </div>
  </details>
  
  <details name="category" role="listitem" *ngIf="category=='all' || category=='configuración' || category=='word'">
    <summary role="button">
      No se puede acceder a la barra de menús de word pulsando la tecla alt.
    </summary>
    <div class="txt-content">
      <p>
        La solución más sencilla es utilizar la tecla F10. Si se quiere continuar utilizando la tecla alt se debe realizar los siguientes pasos:
      </p>
      <ol>
        <li>Gestor de Configuraciones.</li>
        <li>Ctrl + Mayúsc. + D (Confiración de todas las aplicaciones).</li>
        <li>Teclado.</li>
        <li>General.</li>
        <li>Desactivar procesamiento de teclado.</li>
      </ol>
    </div>
  </details>
  
  <details name="category" role="listitem" *ngIf="category=='all' || category=='aplicaciones'">
    <summary role="button">
      Aplicación de firma digital accesible para lectores de pantalla.
    </summary>
    <div class="txt-content">
      <p>
        Autofirma, suele ser una de las recomendadas por la Administración Pública.
      </p>
      <p>
        <span class="emphasy">Nota</span>:
        Enlace de descarga de <a href="https://www.compartolid.es/autofirma/" title="Descarga de Autofirma (se abre en una nueva ventana)" target="_blank">Autofirma<span class="scr-only">(se abre en una nueva ventana)</span></a>.
      </p>
    </div>
  </details>
  
  <details name="category" role="listitem" *ngIf="category=='all' || category=='aplicaciones'">
    <summary role="button">
      Evitar que se escuche lo que JAWS verbaliza durante una videoconferencia en un equipo con la pantalla que incluye cámara, altavoces y micrófono.
    </summary>
    <div class="txt-content">
      <p>
        En las opciones de Windows y de la aplicación de videoconferencia a usar seleccionar como altavoz la opción de: <b>Teléfono sin eco</b>.
      </p>
    </div>
  </details>
  
  <details name="category" role="listitem" *ngIf="category=='all' || category=='aplicaciones'">
    <summary role="button">
      Al enviar un archivo desde Exce: Archivo > Compartir > Correo electronico > Enviar como datos adjuntos, al escribir la 
        inicial del contacto en el campo <i>Para:</i> aunque se muestra la sugerencia del contacto Jaws no la verbaliza. 
        Ocurre igual cuando se hace con el botón de aplicaciones > enviar a > destinatario de correo.
    </summary>
    <div class="txt-content">
      <p>
        Probar una de las siguientes opciones:
      </p>
      <ol> 
        <li>
          Volver a instalar los script, pero antes borra el fichero <i>versionscripts.txt</i> y volver a instalarlos en la 
          ruta correcta.
        </li>
        <li>
          Una vez escritas las iniciales del contacto, probar a activar el cursor de Jaws: tecla “-” del teclado númerico.
        </li>
        <li>
          Una vez puestas las iniciales del contacto, probar a activar el cursor táctil: Shift + tecla “+” del teclado númerico.
        </li>
      </ol>
    </div>
  </details>
  
  <details name="category" role="listitem" *ngIf="category=='all' || category=='aplicaciones' || category=='correo electrónico'">
    <summary role="button">
      Configuración para que el gestor de correoa Thunderbird sea más accesible.
    </summary>
    <div class="txt-content">
      <p>
        Las possibles configuraciones para hacer un gestor de correos más accesibles para lectores de pantalla son:
      </p>
      <ul>
        <li>
          Si no hay otro cliente de correo en el equipo, ir a <i>Aplicaciones predeterminadas</i> y lo establezco como tal 
          el gestor de correos que se utilizara para que abra vínculos de mensajes directamente.
        </li>
        <li>
          En Ver > Barras de herramientas y las desactivamos todas para que el foco se posicione directamente en la tabla de mensajes o 
          lo más cercano a ella.
        </li>
        <li>
          En Herramientas > Ajustes (pueden ser <i>preferences</i> dependiendo de la versión instalada) hacer lo siguiente:
        </li>
        <ul>
          <li>
            Pestaña <i>General</i>, desmarcar la opción <i>Al iniciarse Thunderbird, mostrar la página de inicio en el área 
            de mensajes</i>.
          </li>
          <li>
            Pestaña <i>Genera</i> ;atcar ña opción <i>Abrir mensajes en: una ventana de mensaje nueva</i>.</li>
          <li>
            Pestaña <i>Privacidad y seguridad</i>, marcar la opción <i>Permitir contenido remoto en los mensajes</i>.
          </li>
          <li>
            Cerrar la ventana de <i>Ajustes</i> con <abbr title="Control">CTRL</abbr> + W para cerrar y guardar las modificaciones.
        </ul>
        <li>
          Tras crear un mensaje nuevo, enviar con <abbr title="Control">CTRL</abbr> <abbr title="más">+</abbr> Intro” y marco la casilla de “No mostrar más este mensaje” para que no me lo solicite en ocasiones sucesivas.
        </li>
      </ul>
    </div>
  </details>
  
  <details name="category" role="listitem" *ngIf="category=='all' || category=='aplicaciones'">
    <summary role="button">
      El micrófono no funciona en una reunión de Teams si está Jaws activado.
    </summary>
    <div class="txt-content">
      <p>
        Se debe desactivar el control mediante comandos de voz. Para ello utilizar los siguientes comandos al iniciar Teams:
      </p>
      <ol>
        <li>Insert + espacio.</li>
        <li>v.</li>
        <li>b.</li>
        <li>Flecha derecha o izquierda</li>
      </ol>
      <p>
        Para restaurar la configuración anterior:
      </p>
      <ol>
        <i>Insert + espacio.</i>
        <i>v.</i>
        <li>b.</li>
        <li>Flecha arriba.</li>
      </ol>
    </div>
  </details>
  
  <details name="category" role="listitem" *ngIf="category=='all' || category=='word'">
    <summary role="button">
      Jaws verbaliza <b>marcador de espacio</b> en documento Word.
    </summary>
    <div class="txt-content">
      <p>
        Desactivar la representación de símbolos en la pantalla de Word: <b>Control + Shift + 8</b>.
      </p>
    </div>
  </details>
  
  <details name="category" role="listitem" *ngIf="category=='all' || category=='instalacion'">
    <summary role="button">
      Jaws no funciona en tablet de Microsoft, la Surface Pro X.
    </summary>
    <div class="txt-content">
      <p>
        Se debe descargar la versión de JAWS para ARM. Los pasos a seguir son:
      </p>
      <ol>
        <li>Descargar la versión arm del jaws 2023 para instalar (versión offline).</li>
        <li>
          Ejecutar el programa 
          <b><a href="https://www.iobit.com/es/advanceduninstaller.php" 
            title="Descargar iobit installer (se abre en una pestaña nueva)" target="_blank">iobit uninstaller<span class="scr-only">(se abre en una nueva ventana)</span></a></b> 
            para quitar los restos de los anteriores jaws (si se ha instalado JAWS anteriormente).
        </li>
        <li>Reiniciar el equipo.</li>
        <li>Instalar Jaws 2023 arm.</li>
        <li>Si al ejecutar JAWS se produce el <b>error 0xc00007b</b>. Se ha soluciona descargando e instalando 
          <a href="https://learn.microsoft.com.rproxy.goskope.com/en-us/cpp/windows/latest-supported-vc-redist?view=msvc-170"
          title="Descargar Microsoft Visual C++ Redistributable para ARM64 (se abre en una pestaña nueva)" target="_blank">
            Microsoft Visual C++ Redistributable para ARM64<span class="scr-only">(se abre en una nueva ventana)</span>
          </a>.
        </li>
      </ol>
    </div>
  </details>
  
  <details name="category" role="listitem" *ngIf="category=='all' || category=='excel'">
    <summary role="button">
      En un equipo corporativo con Jaws y Excel en una hoja protegida que tiene distintos filtros de selección, cuando se entra 
        en uno de ellos, no se puede salir utilizando el comando <b>CTRL + Alt+ L</b>.
    </summary>
    <div class="txt-content">
      <p>
        Reinstalar Jaws sin scripts.
      </p>
    </div>
  </details>

  <details name="category" role="listitem" *ngIf="category=='all' || category=='word'">
    <summary role="button">
      Al escribir un punto con la línea braille (punto 3), si se pulsa después el espacio el punto se cambia
      automáticamente por un apóstrofe, tanto en WORD como en la línea braille.
    </summary>
    <div class="txt-content">
      <p>
        Existen dos posibles soluciones:
      </p>
      <ul>
        <li>Configurar la entrada como braille computerizado (así si que me lo detecta como ., el punto 3).</li>
        <li>
          Sustituir la tabla de braille, que al menos en el JAWS 2021 viene predefinida liblouis 3.15, por liblouis 3.9.
          en el gestor de configuraciones de:
        </li>
        <ol> 
          <li>JAWS.</li>
          <li>Braille.</li>
          <li>Opciones avanzadas.</li>
          <li>Transcriptor a braille.</li>
        </ol>
      </ul>
    </div>
  </details>

  <details name="category" role="listitem" *ngIf="category=='all' || category=='aplicaciones'">
    <summary role="button">
      En el <a href="https://dle.rae.es/" title="Diccionario de la Real Academia Española (se abre en una nueva pestaña)"
      target="_blank">Diccionario de la Real Academia Española<span class="scr-only">(se abre en una nueva ventana)</span></a>  al consultar una acepción de una palabra con JAWS 
      2023.2212 se verbaliza la etiqueta HTML mark, incrustada en a cada una de las palabras que conforman la acepción. 
    </summary>
    <div class="txt-content">
      <p>
        Se ha de editar el esquema actual (por defecto clásico), para ello:
      </p>
      <ol>
        <li>Abrir el gestor de configuraciones desde el navegador (<i>INSERT + F6</i>).</li>
        <li>Localizar en el árbol el elemento <b>Esquema de voces y sonidos</b>.</li>
        <li>Desplegar con flecha derecha, bajar y pulsar la barra espaciadora sobre <b>Modificar esquemas...</b>.</li>
        <li>Editar el esquema mediante la combinación <i>ALT + E</i> o tabulando hasta la opción <b>Editar esquema seleccionado</b>.</li>
        <li>Pulsar Ctrl + tab hasta llegar a la pestaña <b>Atributos</b>.</li>
        <li>
          En la lista bajar hasta <b>Marcado</b>, tabular una vez y seleccionar la opción deseada, en este caso, se 
          recomienda <b>Silenciar</b>.
        </li>
        <li>Tabular y pulsar <b>Aceptar</b>.</li>
        <li>Tabular hasta <b>Guardar esquema seleccionado</b> o utilizar la combinación <i>ALT + G</i>.</li>
        <li>Tabular y pulsar  <b>Aceptar</b>.</li>
        <li>A la pregunta <b>¿Desea utilizar Clásico (Modificado)como esquema activo</b> pulsar en <b>Sí</b>.</li>
        <li>Tabular y pulsar  <b>Aceptar</b>.</li>
      </ol>
    </div>
  </details>

  <details name="category" role="listitem" *ngIf="category=='all' || category=='configuracion'">
    <summary role="button">
      Cambiar la verbalización para que cuando una palabra está en mayúsculas, lea la palabra completa y no la deletree.
    </summary>
    <div class="txt-content">
      <p>
        Se ha de elimina la entrada de diccionario.
      </p>
    </div>
  </details>

  <details name="category" role="listitem" *ngIf="category=='all' || category=='configuracion' || category=='excel'">
    <summary role="button">
      Fijar la primera columna de una hoja Excel en una línea braille.
    </summary>
    <div class="txt-content">
      <p>
        No es posible dicha configuración, pero sí es posible que se vea la primera celdilla y la celda activa.
      </p>
      <p>  
        Se fija la primera como columna como de títulos de fila con <b>CTRLl + ALT + INSERT + F</b> y se deja el Modo braille a Celdilla activa.
      </p>
    </div>
  </details>

  <details name="category" role="listitem" *ngIf="category=='all' || category=='configuracion' || category=='comandos'">
    <summary role="button">
      No se puede asignar comando de acceso rápido.
    </summary>
    <div class="txt-content">
      <p>
        Modificar los permisos de administrador al icono de jaws desde la pestaña seguridad del diálogo de propiedades del acceso directo.
      </p>
    </div>
  </details>

  <details name="category" role="listitem" *ngIf="category=='all' || category=='configuracion'">
    <summary role="button">
      Desactivar tecla FN desde BIOS.
    </summary>
    <div class="txt-content">
      <p>
        El procedimiento es el siguiente:
      </p>
      <ol>
        <li>Arrancar el equipo y pulsar F10 para entrar en BIOS.</li>
        <li>Entramos en el menú Avanzado > Configuración del dispositivo.</li>
        <li>Con flechas izquierda o derecha activar o desactivar el interruptor de tecla FN.</li>
        <li>Pulsar F10 para guardar los cambios.</li>
        <i>Reiniciar el equipo.</i>
      </ol>
      <p>
        <span class="emphasy">Nota</span>:
        La forma de acceder a la BIOS puede variar en función del ordenador, pero siempre se puede acceder desde la actualización
        de Windows pulsando sobre el botón de inico a prueba de errores.
      </p>
      <p>
        Cuando pulsemos ese botón el ordenador se reiniciará y nos irá preguntando paso a paso lo que queremos ir cargando;
        ofreciéndonos acceder a la BIOS del ordenador.
      </p>
    </div>
  </details>

  <details name="category" role="listitem" *ngIf="category=='all' || category=='configuracion'">
    <summary role="button">
      Configurar JAWS para que verbalice mayúsculas y no haga una modificación del tono (por defecto).
    </summary>
    <div class="txt-content">
      <p>
        Para que JAWS diga las letras que están en mayúscula se pueden agregar entradas en el diccionario de JAWS. Para añadir una entrada al diccionario:
      </p>
      <ol>
        <li>Asistente de diccionario de JAWS.</li>
        <li>Agregar...</li> 
        <li>Insertar todas las letras que quieras que te diga que están en mayúscula.</li>
        <li>Marcar la casilla "Sensible a mayúsculas".</li>
        <li>Guardas los cambios.</li>
      </ol>
      <p>
        <span class="emphasy">Nota</span>:
        Si se quiere que cada vez que aparezca la letra A JAWS diga <i>a mayúscula</i>, se ha de agregar la entrada al diccionario de JAWS.
      </p>
    </div>
  </details>

  <details name="category" role="listitem" *ngIf="category=='all' || category=='aplicaciones'">
    <summary role="button">
      No se puede acceer a los archivos compartidos en OneDrive.
    </summary>
    <div class="txt-content">
      <p>
        Se ha de pulsar sobre el enlace de <b>Mis Archivos</b>, si se pulsa sobre el enlace <b>Compartido</b>, no se carga bien la lista.
      </p>
    </div>
  </details>

  <details name="category" role="listitem" *ngIf="category=='all' || category=='aplicaciones'">
    <summary role="button">
      Saber en que página estamos en un documento PDF abierto con Adobe Acrobat Reader.
    </summary>
    <div class="txt-content">
      <p>
        <b>Control + Shift + N</b>.
      </p> 
      <p>
        <span class="emphasy">Nota</span>:
        Mp es un comando de JAWS, es el comando de navegar a página de Adobe Acrobar Reader, pero JAWS nos dice en que página estamos.
      </p>
    </div>
  </details>

  <details name="category" role="listitem" *ngIf="category=='all' || category=='aplicaciones'">
    <summary role="button">
      Hacer que Jaws verbalice con distintas voces el texto con formatos de negrita, subrayado y cursiva. 
    </summary>
    <div class="txt-content">
      <p>
        Seguir el siguiente procedimiento:
      </p>
      <ol>
        <li>Gestor de Configuraciones.</li>
        <li>Configuración por defecto.</li>
        <li>Perfiles de Voz.</li>
        <li>
          Agregar tres perfiles nuevos, que se llamen negrita, cursiva y subrayado, asignándole a cada uno una persona, tono y 
          velocidad.
        </li>
        <li>Gestor de Configuraciones (por defecto o solo Word).</li>
        <li>Esquemas de Voces y Sonidos.</li>
        <li>Modificar esquemas - editar.</li>
        <li>Pestaña Atributos.</li>
        <li>Agregar, y añadimos los tres atributos asociados a los perfiles de voz.</li>
        <li>Guardar esquema seleccionado, y te creará otro nuevo.</li> 
        <li>Aceptas.</li>
      </ol>
    </div>
  </details>

  <details name="category" role="listitem" *ngIf="category=='all' || category=='aplicaciones'">
    <summary role="button">
      Exportar configuración de Jaws a otro equipo.
    </summary>
    <div class="txt-content">
      <p>
        Los perfiles creados se guardan en: <b>SettingsCenter.ini</b> y los esquemas de voces y sonidos en archivos con 
        extensión <b>SMF</b> y el nombre que se haya elegido. Por ejemplo, Classic (Modificado).SMF.
      </p>
      <p>
        El esquema a utilizar por defecto se guarda en el <b>Default.JCF</b> o en el <b>JCF</b> de la aplicación que se haya 
        elegido al crearlo (ejemplo WORD.JCF). En este caso, en lugar de copiar el archivo, puede ser conveniente hacer el 
        cambio manualmente para no perder otros cambios que puedan contener esos archivos. Solo hay que ir a: 
      </p>
      <ol>
        <li>Gestor de configuraciones.</li>
        <li>Esquemas de voces y sonidos.</li>
        <li>Seleccionar el esquema a utilizar (tiene el mismo nombre que el SMF).</li>
      </ol>
    </div>
  </details>

  <details name="category" role="listitem" *ngIf="category=='all' || category=='configuracion' || category=='menú de inicio'">
    <summary role="button">
      JAWS no lee los elementos del Menú de Inicio de Windows.
    </summary>
    <div class="txt-content">
      <p>
        Probar primero actualizando Windos 10 y Jaws; si no funciona.
      </p>
      <ol>
        <li>Ir a Archivos de programa.</li>
        <li>Carpeta Freedome Scientific.</li>
        <li>Posicionarse sobre Jaws.</li>
        <li> y en propiedades (alt + Enter)</li>
        <li>en la pestaña de Seguridad.</li>
        <li>Pulsar sobre el botón Editar.</li>
        <li>A continuación sobre el botón Agregar.</li>
        <li>Añadir el grupo <b>Todos los paquetes de Aplicaciones</b>.</li>
        <li>Por último darle control total.</li>
      </ol>
      <p>Si no se resuelve instalar el Classic.</p>
    </div>
  </details>

  <details name="category" role="listitem" *ngIf="category=='all' || category=='aplicaciones'">
    <summary role="button">
      Al crearse y guardarse un fichero con Write Jaws lee perfectamente el fichero, pero al cerrarlo y abrirlo Jaws lee una línea sí y otra no.
    </summary>
    <div class="txt-content">
      <p>
        Realizar una copia del fichero con extensión *,rtf y renombrarlo.  
      </p>
    </div>
  </details>

  <details name="category" role="listitem" *ngIf="category=='all' || category=='aplicaciones'">
    <summary role="button">
      No es posible instalar Jaws 2019 y 2020.
    </summary>
    <div class="txt-content">
      <p>
        Comprobar que la configuración del equipo cumple los requisitos mínimos.  
      </p>
      <p><span class="emphasy">Nota</span>:
        Requisitos: 
        <ul>
          <li>Procesador i5 a 2.0<abbr title="Gigahercios">GHz</abbr>.</li>
          <li>8<abbr title="Gigabytes">Gb</abbr> de <abbr lang="en" title="Random Access Memory">RAM</abbr>.</li>
          <li>2<abbr title="Gigabytes">Gb</abbr> de espacio en el disco duro.</li>
        </ul>
    </div>
  </details>

  <details name="category" role="listitem" *ngIf="category=='all' || category=='configuracion' || category=='vincular'">
    <summary role="button">
      No se consigue vincular Orbit a JAWS.
    </summary>
    <div class="txt-content">
      <p>
        Para poder escribir debe activarse el modo teclado braille. Para ello realizar lo siuiente:
      </p>
      <ol>
        <li>Pulsar flecha derecha + barra espaciadora + punto 6, para habilitar la conexión por USB.</li>
        <li>Agregar la Orbit Reader a Jaws como si se tratara de una línea braille al uso.</li>
        <li>Seleccionarla como línea braille predeterminada.</li>
        <li>Pulsar la barra espaciadora + los puntos del 1 al 6. La Orbit verbalizará el mensaje: modo teclado braille activado.</li>
      </ol>
      <p>Este modo braille se utiliza para poder escribir, pero si no se activa, se puede manejar el equipo sin problemas</p>
      <p>
        <span class="emphasy">Nota</span>: Esta solución tambien serviría para <abbr title="No Visual Desktop Accessibility">NVDA</abbr>.
      </p>
    </div>
  </details>

  <details name="category" role="listitem" *ngIf="category=='all' || category=='configuracion'">
    <summary role="button">
      La línea braille dejó de funcionar en el equipo. Cuando se conecta la línea braille al ordenador por puerto USB y se accede
         a Opciones > braille (em Jaws), el mensaje es: <i>La línea braille activa es ninguna línea</i>. Se verifica que todas las 
         opciones están bien configuradas, que se ha agregado en más de una ocasión la línea. Se reinicia Jaws, ... 
         <p>
          Por otro lado, se ha desinstalado Jaws con los elementos compartidos y procedido a instalar la última versión de Jaws. 
          El problema continúa. También se comprueba que la línea braille funciona correctamente en otros ordenadores. 
        </p>
    </summary>
    <div class="txt-content">
      <p>
        Si el equipo tiene actualizaciones pendientes, hay que instalarlas para ver si el fabricante ha resuelto el problema.
        Si está actualizado, intentar volver a la versión anterior del controlador: 
      </p>
      <ol>
        <li>Administrador de dispositivos.</li>
        <li>Nos posicionamos sobr el dispositivo que no funciona.</li>
        <li>Menú contextual.</li>
        <li>Opciones.</li>
      </ol>
      <p>
        Si permite volver al controlador anterior, inténtalo.
      </p>
      <p>
        Si esto no funciona, consultar la configuración de energía.
      </p>
      <p>
        <span class="emphasy">Nota</span>:
        Existe otra posible solución para este problema.
        <button class="btn" (click)="showOpt(6)" *ngIf="show != 6" aria-label="Ver otra posible solución para el problema de la línea braille">Ver</button>
      </p>
    </div>
  </details>
  
  <details name="category" role="listitem" *ngIf="category=='all' || category=='linea'">
    <summary role="button">
      La línea braille dejó de funcionarle en este equipo.
    </summary>
    <div class="txt-content">
      <p>
        Es un problema de la versión del controlados, seguir el siguiente procedimiento:
      </p>
      <ol>
        <li>Acceder a administrador de dispositivos.</li>
        <li>Localizar <b>Lib USB-1.0:FreedmScientific [Focus Blue]</b>.</li>
        <li>Consultar la fecha del  controlador y su versión.</li>
        <li>Desinstalo el controlador.</li>
        <li>Reiniciar el ordenador.</li>
        <li>Conecto la línea braille.</li>
        <li>Ejecutar Jaws.</li>
        <li>Acceder a administrador de dispositivos.</li>
        <li>Localizar <i>Lib USB-1.0:FreedmScientific [Focus Blue]</i>.</li>
        <li>Consultar la fecha del  controlador y su versión.</li>
      </ol>
      <p>
        <span class="emphasy">Nota</span>:
        <a href="https://support.freedomscientific.com/Downloads/Focus/FocusBlueBrailleDisplayDriver" target="_blank" 
        title="Descarga el driver de Freedom Scientific (se abre en una nueva ventana)">Descarga el driver de Freedom Scientific<span class="scr-only">(se abre en una nueva ventana)</span></a>.
      </p>
    </div>
  </details>
  
  <details name="category" role="listitem" *ngIf="category=='all' || category=='aplicaciones' || category=='lectura'">
    <summary role="button">
      Leer tablas en un documeto PDF.
    </summary>
    <div class="txt-content">
      <p>
        Convertir las tablas o el documento a formato <abbr title="Hyper Text Markup Language">HTML</abbr>.
      </p>
    </div>
  </details>

  <details name="category" role="listitem" *ngIf="category=='all' || category=='aplicaciones' || category=='excel' || category=='comandos'">
    <summary role="button">
      Fijar una cabecera columna en Excel con JAWS.
    </summary>
    <div class="txt-content">
      <p>
        El comando es: <b>Control + ALT + Insert + C</b>.
      </p>
    </div>
  </details>
  
    <details name="category" role="listitem" *ngIf="category=='all' || category=='aplicaciones' || category=='excel' || category=='comandos'">
    <summary role="button">
      Fijar una cabecera fila en Excel con JAWS.
    </summary>
    <div class="txt-content">
      <p>
        El comando es: <b>Control + ALT + Insert + F</b>.
      </p>
    </div>
  </details>
</div>

  
  

  