<p>
  Usa el filtro para que se muestren las consultas relacionadas con tu búsqueda.
</p>
<ion-list>
  <ion-item>
    <ion-select #C aria-label="Selecciona una categoría" placeholder="Selecciona un categoría" (ionChange)="selection(C.value)">
      <ion-select-option value="actualizcion">Acualización</ion-select-option>
      <ion-select-option value="comandos">Comandos</ion-select-option>
      <ion-select-option value="error">Error</ion-select-option>
      <ion-select-option value="all">Todo</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>

<div role="list">
  <details name="category" role="listitem" *ngIf="category==='all' || category==='actualizcion'">
    <summary role="button">
      Mensaje: reloj no preparado.
    </summary>
    <div class="txt-content">
      <p>
        Debemos seguir el siguiente procedimiento: </p>
      <ol>
        <li>cor+o</li>
        <li>s</li>
        <li>d</li>
        <li>Introducir la fecha en braille computerizado.</li>
      </ol>
    </div>
  </details>

  <details name="category" role="listitem" *ngIf="category==='all' || category==='comandos'">
    <summary role="button">
      Obtener el número de serie de Braille Hablado 2000.
    </summary>
    <div class="txt-content">
      <p>
        Pulsar la siguiente seguencia de comandos:
      </p>
      <ol>
        <li>Cos + Puntos 1-2-3-4-5-6.</li>
        <li>Cor + Puntos 1-2-3-4-5-6.</li>
        <li>Cor + P.</li>
        <li>Puntos 1-4-5-6.</li>
      </ol>
    </div>
  </details>

  <details name="category" role="listitem" *ngIf="category==='all' || category==='comandos' || category==='error'">
    <summary role="button">
      Error “File system”.
    </summary>
    <div class="txt-content">
      <p>
        El error en File System a veces se arregla con el reinicio (<i>Cor+i</i>), pero ese arreglo siempre sería provisional. En cualquier momento volverá a salir.
      </p>
      <p>
        La mejor opción es hacer una copia de respaldo de datos y enviar a CTI. Puede ser tema de baterías o incluso de resoldaduras de procesador.
      </p>
    </div>
  </details>

  <details name="category" role="listitem" *ngIf="category==='all' || category==='comandos'">
    <summary role="button">
      Comandos para reaizar una copia de seguridad en Braille hablado 2000 (del BH a la Unidad de disco).
    </summary>
    <div class="txt-content">
      <p>
        El proceso para realizar una copia de seguridad es:
      </p>
      <ol>
        <li>Cor + S, Y</li>
        <li>S para enviar.</li>
        <li>Seleccionar los archivos.</li>
        <li>Cor + E para enviar</li>
      </ol>
    </div>
  </details>

  <details name="category" role="listitem" *ngIf="category==='all' || category==='comandos'">
    <summary role="button">
      ¿Los Comandos copia de seguridad con el Braille hablado 2000 son los mismos en el Braille hablado clásico 2000?
    </summary>
    <div class="txt-content">
      <p>
        Sí.
      </p>
    </div>
  </details>
</div>