<p>
  Usa el filtro para que se muestren las consultas relacionadas con tu búsqueda.
</p>
<ion-list>
  <ion-item>
    <ion-select #C aria-label="Selecciona una categoría" placeholder="Selecciona un categoría" (ionChange)="selection(C.value)">
      <ion-select-option value="digitatalizacion">Digitalización</ion-select-option>
      <ion-select-option value="all">Todo</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>

<div role="list">
  <details name="category" role="listitem" *ngIf="category=='all' || category=='digitalizacion'">
    <summary>
      FineReader no digitaliza.
    </summary>
    <div class="txt-content">
      <p>
        <a href="https://support.hp.com/es-es/help/printscandoctor"
          title="ScanDoctor: HP Print and Scan Doctor para Windows oficial (se abre en una pestala nueva)">
            Descargar <span lang="en">ScanDoctor: HP Print and Scan Doctor</span> para Windows oficial
        </a>.
      </p>
    </div>
  </details>
</div>