<p>
  Usa el filtro para que se muestren las consultas relacionadas con tu búsqueda.
</p>
<ion-list>
  <ion-item>
    <ion-select #C aria-label="Selecciona una categoría" placeholder="Selecciona un categoría" (ionChange)="selection(C.value)">
      <ion-select-option value="comandos">Comandos</ion-select-option>
      <ion-select-option value="all">Todo</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>

<div role="list">
  <details name="category" role="listitem" *ngIf="category=='all' || category=='comandos'">
    <summary role="button">
      Activar la voz del del dispositivo Braille Lite.
    </summary>
    <div class="txt-content">
      <p>
        Para que se encienda el dispositivo con voz: <b>Cor-O, V</b>.
      </p>
      <p>
        Si se quiere activar la voz ir al menú de estado: <b>Cor-3,4</b> y activar el parámetro
      </p>
    </div>
  </details>
</div>
