.super{
    vertical-align: super;
    font-size: 0.5em;
}

.flex-container{
    display: block;
}

p{
    border-top: 0.05em solid black;
    margin-top: 0.5em;
    padding-top: 0.5em;
    margin-bottom: 0.5em;
}

button{
    margin-top: 0;
    background-color: green;
    color: #fff;
    padding: 0.5em 0.5em;
    border-radius: 0.2rem;
}