.super{
    vertical-align: super;
    font-size: 0.5em;
}

/*.flex-container{
    border-bottom: 0.05em solid black;
}*/

p{
    //border-top: 0.05em solid black;
    //margin-top: 0.5em;
    //padding-top: 0.5em;
    padding-bottom: 1em;
}

.btn{
    //margin-top: 0;
    background-color: green;
    color: #fff;
    padding: 0.5em 0.5em;
    border-radius: 0.2rem;
}

@media screen and (max-width: 660px){
    /*.flex-container{
        display: block;
    }*/
    p{
        padding-bottom: 0em;
    }
}