ion-card {
    color: var(--ion-text-color);

    h2 {
        color: var(--ion-text-color);
    }

    p {
        color: var(--ion-text-color);
    }
}

.super{
    vertical-align: super;
    font-size: 0.5rem;
}

/*.flex-container{
    border-bottom: 0.05em solid black;
}*/

.title{
    border-bottom: solid 0.1rem;
}

.flex-container{
    border-bottom: solid 0.1rem;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

p{
    width: 86%;
}

.flex-btn{
    background-color: yellow;
 //   flex-grow: 0;
}

p{
    //border-top: 0.05em solid black;
    //margin-top: 0.5em;
    //padding-top: 0.5em;
    padding-bottom: 1em;
}

.btn{
    //margin-top: 0;
    background-color: green;
    padding: 0.5em 0.5em;
    border-radius: 0.2rem;
}

/*img{
    width: 100%;
    height: auto;

    margin-top: 0.5rem;
    margin-left: 1em;
}*/

.back-btn{
    height: 2em;
    width: 2em;

    margin-left: 1em;

    background-image: '../../../assets/left-arrow.png';
    //background-image: "../../../assets/left-arrow.png";
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    //background-color: red;
}


@media only screen and (max-width: 765px) {
    .flex-container{
        flex-direction: column;
    }

    p{
        width: 100%;
    }

    .flex-btn{
        margin-bottom: 1vh;
    }    
}