<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()" title="Ir atrás" role="bbutton">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Incidencias sobre {{cat }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Incidencias sobre {{ cat }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngFor="let item of items; let i = index" class="flex-container">
    <p *ngIf="item.item == cat && item.category != 'Solución Propuesta'" class="question">
      <abbr title="Pregunta">P</abbr>: {{ item.consult }}
      <span *ngIf="item.item == cat && item.answer == ''" class="super">Solución no disponible</span>
    </p>
    <button *ngIf="item.item == cat && item.category != 'Solución Propuesta'" (click)="show(item.id)" title="Consultar">Consultar</button>
  </div>
</ion-content>