<p>
  Usa el filtro para que se muestren las consultas relacionadas con tu búsqueda.
</p>
<ion-list>
  <ion-item>
    <ion-select #C aria-label="Selecciona una categoría" placeholder="Selecciona un categoría" (ionChange)="selection(C.value)">
      <ion-select-option value="comandos">Comandos</ion-select-option>
      <ion-select-option value="configuracion">Configuración</ion-select-option>
      <ion-select-option value="edico">Edico</ion-select-option>
      <ion-select-option value="talkback" lang="en">TalkBack</ion-select-option>
      <ion-select-option value="vincular">Vinculación</ion-select-option>
      <ion-select-option value="voiceover" lang="en">VoiceOver</ion-select-option>
      <ion-select-option value="all">Todo</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>

<div role="list">
  <details name="category" role="listitem" *ngIf="category==='all' || category==='comandos' || category==='configuracion'">
    <summary role="button">
      Configurar entrada y salida con un comando.
    </summary>
    <div class="txt-content">
      <p>
        Los comandos de la línea focus son:
      </p>
      <ul>
        <li>Comando para configurar la salida: cor + G.</li>
        <li>Comando para consigurar la entrada: cor + 2-3-6.</li>
      </ul>
    </div>
  </details>
  
  <details name="category" role="listitem" *ngIf="category==='all' || category==='comandos'">
    <summary role="button">
      Escribir línea nueva.
    </summary>
    <div class="txt-content">
      <p>
        El comando para crear una línea nueva es: cor + 2 + 7 y 8.  
      </p>
    </div>
  </details>
  
  <details name="category" role="listitem" *ngIf="category==='all' || category==='configuracion'">
    <summary role="button">
      La línea braille dejó de funcionar en el equipo. Cuando se conecta la línea braille al ordenador por puerto USB y se accede
      a Opciones > braille (em Jaws), el mensaje es: <i>La línea braille activa es ninguna línea</i>. Se verifica que todas las 
      opciones están bien configuradas, que se ha agregado en más de una ocasión la línea. Se reinicia Jaws, ... 
      <p>
        Por otro lado, se ha desinstalado Jaws con los elementos compartidos y procedido a instalar la última versión de Jaws. 
        El problema continúa. También se comprueba que la línea braille funciona correctamente en otros ordenadores. 
      </p>
    </summary>
    <div class="txt-content">
      <p>
        Si el equipo tiene actualizaciones pendientes, hay que instalarlas para ver si el fabricante ha resuelto el problema.
          Si está actualizado, intentar volver a la versión anterior del controlador: 
      </p>
      <ol>
        <li>Administrador de dispositivos.</li>
        <li>Nos posicionamos sobr el dispositivo que no funciona.</li>
        <li>Menú contextual.</li>
        <li>Opciones.</li>
      </ol>
      <p>
        Si permite volver al controlador anterior, inténtalo.
      </p>
      <p>
        Si esto no funciona, consultar la configuración de energía.
      </p>
      <p>
        <span class="emphasy">Mota</span>:
        <details>
          <summary role="button">
            Otra posible solución para este problema.
          </summary>
          <p>
            Es un problema de la versión del controlados, seguir el siguiente procedimiento:
          </p>
          <ol>
            <li>Acceder a administrador de dispositivos.</li>
            <li>Localizar <b>Lib USB-1.0:FreedmScientific [Focus Blue]</b>.</li>
            <li>Consultar la fecha del  controlador y su versión.</li>
            <li>Desinstalo el controlador.</li>
            <li>Reiniciar el ordenador.</li>
            <li>Conecto la línea braille.</li>
            <li>Ejecutar Jaws.</li>
            <li>Acceder a administrador de dispositivos.</li>
            <li>Localizar <i>Lib USB-1.0:FreedmScientific [Focus Blue]</i>.</li>
            <li>Consultar la fecha del  controlador y su versión.</li>
          </ol>
          <p>
            <span class="emphasy">Nota</span>:
            <a href="https://support.freedomscientific.com/Downloads/Focus/FocusBlueBrailleDisplayDriver" target="_blank" 
            title="Descarga el driver de Freedom Scientific (se abre en una nueva ventana)">Descarga el driver de Freedom Scientific</a>.
          </p>
        </details>
      </p>
    </div>
  </details>

  <details name="category" role="listitem" *ngIf="category==='all' || category==='configuracion'">
    <summary role="button">
      Al utilizar una línea braille Focus blue 40 para escribir en Word no se escribe el texto hasta pulsar la tecla espacio.
    </summary>
    <div class="txt-content">
      <p>
        Si la línea focus tiene como método de entrada braille de 6 puntos; debe cambiarse a braille de 8 puntos.
      </p>
    </div>
  </details>
  
  <details name="category" role="listitem" *ngIf="category==='all' || category==='configuracion' || category==='comandos'">
    <summary role="button">
      Cambiar la configuración del teclado de una línea focus a una mano.
    </summary>
    <div class="txt-content">
      <p>
        Utilzar los siguientes comandos para permutar entre una configuración y otra:
      </p>
      <ul>
        <li>Shift izquierdo + 1-2-3-7.</li>
        <li>Shift derecho + 4-5-6-8.</li>
      </ul>
      <p>
        Si se configura mediante menús, seguir el siguiente procedimiento para activar o desactivar el modo a una mano:
      </p>
      <ol>
        <li>Pulsar la tecla menú.</li>
        <li>Para acceder a la opción, pulsar Punto 8.</li>
        <li>Para cambiar entre <i>activado</i> y <i>desactivado</i> usar el Balancín izquierdo.</li>
        <li>Para confirmar la opción seleccionada, pulsar Punto 8.</li>
      </ol>
    </div>
  </details>

  <details name="category" role="listitem" *ngIf="category==='all' || category==='talkback' || category==='vincular'">
    <summary role="button">
      Conexión línea braille con TalkBack.
    </summary>
    <div class="txt-content">
      <p>
        Para añadir una línea braille a Talkback debemos tener instalada 
          BrailleBack (dependiendo de la versión de Android no está incluido por defecto) y realizar los siguientes pasos:
      </p>
      <ol>
        <li>Activar la conexión mediante Bluetooth.</li>
        <li>Vicular la línea braille.</li>
        <li>Ir a:</li>
        <ol>
          <li>Ajustes.</li>
          <li>Accesibilidad.</li>
          <li>BrailleBack.</li>
        </ol>
        <li>Comprobar que la línea braille está enlazada, si no lo est´´a pulsar sobre el desplegable y seleccionarla.</li>
      </ol>
      <p class="emphasy">Nota</p>:
      <ul>
        <li>Actualmente BrailleBack está incluido en la Suite de Accesibilidad de Android.</li>
        <li>Para que la línea funcione debe estar activado TalkBack.</li>
      </ul>
    </div>
  </details>

  <details name="category" role="listitem" *ngIf="category==='all' || category==='talkback' || category==='vincular'">
    <summary role="button">
      El iPhone no detecta la línea Braille.
    </summary>
    <div class="txt-content">
      <p>
        Deben eliminarse dispositivos vinculados de la línea.
      </p>
    </div>
  </details>

  <details name="category" role="listitem" *ngIf="category==='all' || category==='vincular'">
    <summary role="button">
      Como conectar una línea Braille a un Apple Watch.
    </summary>
    <div class="txt-content">
      <p>
        Se deben seguir los siguientes pasos:
      </p>
      <ol>
        <li>Descubrir la Línea Braille.</li>
        <li>Ajustes.</li>
        <li>Accesibilidad.</li>
        <li>VoiceOver.</li>
        <li>Braille.</li>
        <li>Conectar la línea Braille.</li>
      </ol>
    </div>
  </details>

  <details name="category" role="listitem" *ngIf="category==='all' || category==='configuracion'">
    <summary role="button">
      La línea Focus está bloqueada.
    </summary>
    <div class="txt-content">
      <p>
        Para desbloquear la línea braille:
      </p>
      <ol>
        <li>Desconectar la línea braille de todos los dispositivos.</li>
        <li>Pulsar, con la línea encendida, Modo derecho y dos sensores durante 5 segundos.</li>
      </ol>
    </div>
  </details>

  <details name="category" role="listitem" *ngIf="category==='all' || category==='edico' || category==='configuracion'">
    <summary role="button">
      Cuando se pulsa un sensor de la línea braille para posicionarse en un lugar determinado de la  misma, el cursor sube 3 líneas.
    </summary>
    <div class="txt-content">
      <p>
        Las siguientes opciones deben estar activadas:
        </p>
        <ul>
          <li>Teclas de la línea braille desplazan el cursor activo.</li>
          <li>La línea braille sigue el cursor activo.</li>
        </ul>
        <p>
          <span class="emphasy">Nota</span>:
          Estas configuraciones se encuentran en el gestor de configuración > Braille > General. 
      </p>
    </div>
  </details>

  <details name="category" role="listitem" *ngIf="category==='all' || category==='edico' || category==='configuracion'">
    <summary role="button">
      En Word la línea braille Focus al escribir un "punto", con la tecla 3, y configurada en braille español grado 1, escribe apóstrofe.
    </summary>
    <div class="txt-content">
      <p>
        Configurar la línea en braille computerizado.
      </p>
    </div>
  </details>

  <details name="category" role="listitem" *ngIf="category==='all' || category==='word'">
    <summary role="button">
      Al escribir un punto con la línea braille (punto 3), si se pulsa después el espacio el punto se cambia automáticamente por un apóstrofe, tanto en WORD como en la línea braille.
    </summary>
    <div class="txt-content">
      <p>
        Existen dos posibles soluciones:
      </p>
      <ul>
        <li>Configurar la entrada como braille computerizado (así si que me lo detecta como ., el punto 3).</li>
        <li>
          Sustituir la tabla de braille, que al menos en el JAWS 2021 viene predefinida liblouis 3.15, por liblouis 3.9.
          en el gestor de configuraciones de:
        </li>
        <ol> 
          <li>JAWS.</li>
          <li>Braille.</li>
          <li>Opciones avanzadas.</li>
          <li>Transcriptor a braille.</li>
        </ol>
      </ul>
    </div>
  </details>
</div>