<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Búsqueda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Búsquueda</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="showTxt">
    <h2>Cómo utilizar la búsqueda</h2>
    <p>
      Para buscar una información en la Base de Datos, introduce una o tres palabras claves a buscar, por ejemplo: jaws voz
    </p>
    <p>
      <b>Nota</b>; Se debe dejar un espacio después de la palabra para que se produzca la búsqueda. 
      Se está trabajando en mejorar el filtro de búsqueda. 
    </p>
  </div>

  <ion-searchbar
    [(ngModel)]="result"
    placeholder="Orbit"
    show-clear-button="focus"
    [debounce]="1000"
    aria-labelledby="search"
    role="searchbox"
    name="result">
    <span id="search" class="scr">Introduce el término a buscar</span>
  </ion-searchbar>

  <h2 *ngIf="term.length > 0">Soluciones encontradas para: {{ term }}</h2>
  <!--<div *ngFor="let item of items | filter: term:'classification'" class="flex-container" role="listitem">-->
  <div *ngFor="let item of items | filter: result" class="flex-container" role="listitem">
    <p class="consult" *ngIf="item.category != 'Solución Propuesta' && item.category != 'colaboración'">
      <abbr title="Pregunta">P</abbr>: {{ item.consult }}
      <span *ngIf="item.answer == ''" class="super">Solución no disponible</span>
    </p>
    <button (click)="show(item.id)" *ngIf="item.category != 'Solución Propuesta' && item.category != 'colaboración' && item.answer != ''">
      Consultar
    </button>
    <button (click)="show(item.id)" *ngIf="item.category != 'Solución Propuesta' && item.category != 'colaboración' && item.answer == ''">
      Resolver
    </button>
  </div>
</ion-content>