<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Búsqueda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-searchbar [(ngModel)]="searchValue" (ionInput)="onSearch()" placeholder="Buscar..." aria-label="Realizar consulta"></ion-searchbar>

  <p *ngIf="resultsCount > 0">
    Resultados encontrados: {{ resultsCount }}
  </p>
  <p *ngIf="resultsCount === 0">
    No se encontraron resultados.
  </p>

  <p *ngIf="resultsCount > 0">
    Mostrando resultados del {{ page * pageSize + 1 }} al
    {{
      ((page + 1) * pageSize) > resultsCount
        ? resultsCount
        : ((page + 1) * pageSize)
    }}
    de {{ resultsCount }}
  </p>

  <ion-list *ngIf="resultsCount > 0">
    <ion-item *ngFor="let item of pagedItems; trackBy: trackByFn" class="item-bordered" button (click)="show(item.id)" detail="true">
      <ion-label class="ion-text-wrap">
        {{ item.consult }} <sup *ngIf="item.answer === ''">(Por resolver)</sup>
      </ion-label>
    </ion-item>
  </ion-list>

  <div class="pagination-controls" *ngIf="resultsCount > pageSize">
    <ion-button *ngIf="page > 0" (click)="prevPage()" aria-label="Anterriores 10 resultados">
      {{
        ((page - 1) * pageSize + 1)
      }} -
      {{
        ((page) * pageSize) > resultsCount
          ? resultsCount
          : ((page) * pageSize)
      }}
      {{
        ((page - 1) * pageSize + 1)
      }} -
      {{
        ((page) * pageSize) > resultsCount
          ? resultsCount
          : ((page) * pageSize)
      }}
    </ion-button>

    <ion-button *ngIf="(page + 1) * pageSize < resultsCount" (click)="nextPage()" aria-label="Siguiente 10 resultados">
      {{
        ((page + 1) * pageSize + 1)
      }} -
      {{
        ((page + 2) * pageSize) > resultsCount
          ? resultsCount
          : ((page + 2) * pageSize)
      }}
      {{
        ((page + 1) * pageSize + 1)
      }} -
      {{
        ((page + 2) * pageSize) > resultsCount
          ? resultsCount
          : ((page + 2) * pageSize)
      }}
    </ion-button>
  </div>
</ion-content>