button{
    margin-top: 0;
    background-color: green;
    color: #fff;
    padding: 0.5em 0.5em;
    border-radius: 0.2rem;
}

.super{
    vertical-align: super;
    font-size: 0.5em;
}

@media screen and (max-width: 660px) {
  .flex-container {
    display: block;
    background-color: lightgreen;
  }
}