button{
    margin-top: 0;
    background-color: green;
    color: #fff;
    padding: 1em 1em;
    border-radius: 0.2rem;
}

.btn{
    background-color: green !important;
    font-weight: 600;
}

.super{
    vertical-align: super;
    font-size: 0.5rem;
}

.flex-container{
    border-bottom: solid 0.1rem;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.txt{
    background-color: red;
    color: #fff;
    width: 86%;
}

.flex-btn{
    background-color: yellow;
}

p{
    width: 86%;

}

.title{
    border-bottom: solid 0.1rem;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-top: 1em;
}

.item-bordered {
  border-bottom: 1px solid #d1d1d1;
}

ion-searchbar {
  --color: var(--ion-color-step-850, #000); /* Default to black for light mode */
  --placeholder-color: var(--ion-color-step-600, #929292);

  // Dark mode styles
  :host-context(.ion-color-scheme-dark) & {
    --color: var(--ion-color-step-100, #fff); /* White for dark mode */
    --placeholder-color: var(--ion-color-step-400, #a6a6a6);
  }
}

@media only screen and (max-width: 765px) {
    .flex-container{
        flex-direction: column;
    }

    p{
        width: 100%;
    }

    .flex-btn{
        margin-bottom: 1vh;
    }
    
}