<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Búsqueda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Búsquueda</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="showTxt">
    <p>
      Para buscar una información en la Base de Datos, introduce la palabra o palabras a buscar relacionadas con la incidencia.
    </p>
    <p>
      <b>Nota</b>; Se está trabajando en mejorar el filtro de búsqueda para obtener mejor resultados. 
    </p>
  </div>

  <!--<ion-searchbar
    [(ngModel)]="searchTerm"
    placeholder="Orbit"
    show-clear-button="focus"
    [debounce]="1000"
    aria-labelledby="search"
    role="searchbox
    ">
    <span id="search" class="scr">Introduce el término a buscar</span>
  </ion-searchbar>
-->
  <div *ngFor="let item of items; let i = index" class="flex-container">
    <p class="consult">
      <abbr title="Pregunta">P</abbr>: {{ item.consult }}
      <span *ngIf="item.answer == ''" class="super">Solución no disponible</span>
    </p>
    <button (click)="show(item.id)" title="Consultar">Consultar</button>
  </div>
</ion-content>
