<p>
  Usa el filtro para que se muestren las consultas relacionadas con tu búsqueda.
</p>
<ion-list>
  <ion-item>
    <ion-select #C aria-label="Selecciona una categoría" placeholder="Selecciona un categoría" (ionChange)="selection(C.value)">
      <ion-select-option value="compatibilidad">Compatibilidad</ion-select-option>
      <ion-select-option value="all">Todo</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>

<div role="list">
  <details name="category" role="listitem" *ngIf="category==='all' || category==='compatibilidad'">
    <summary role="button">
      ¿Es compatible la línea braille Alva 570 con un Windows de 64 bits?
    </summary>
    <div class="txt-content">
      <p>
        No es compatile; es compatible con un Windows de 32 bits pero no con 
          uno de 64.
      </p>
    </div>
  </details>
</div>