<ion-tabs>
  <ion-tab-bar slot="bottom" class="ion-hide-md-up">
    <ion-tab-button tab="index" href="/tabs/index">
      <ion-icon name="home-outline" aria-hidden="true"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="consult" href="/tabs/consult">
      <ion-icon name="help-circle-outline" aria-hidden="true"></ion-icon>
      <ion-label>Consultas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search" href="/tabs/search">
      <ion-icon name="search-outline" aria-hidden="true"></ion-icon>
      <ion-label>Buscar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="assistant" href="/tabs/assistant">
      <ion-icon name="sparkles-outline" aria-hidden="true"></ion-icon>
      <ion-label>Asistente</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
