<p>
  Usa el filtro para que se muestren las consultas relacionadas con tu búsqueda.
</p>
<ion-list>
  <ion-item>
    <ion-select #C aria-label="Selecciona una categoría" placeholder="Selecciona un categoría" (ionChange)="selection(C.value)">
      <ion-select-option value="aplicaciones">Aplicaciones</ion-select-option>
      <ion-select-option value="configuracion">Configuración</ion-select-option>
      <ion-select-option value="all">Todo</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>

<div role="list">
  <details name="category" role="listitem" *ngIf="category=='all' || category=='configuracion'">
    <summary role="button">
      Desactivar los menús de contexto en un iPhone.
    </summary>
    <div class="txt-content">
      <p>
        Posiblemente se debe a que 3D Touch activado, para desactivarlo:
      </p>
      <ol>
        <li>Ajustes.</li>
        <li>Accesibilidad.</li>
        <li>Tocar.</li>
        <li>3D y respuesta áptica.</li>
        <li>Desactivas 3D Touch.</li>
      </ol>
      <p>
        <span class="emphasy">Nota</span>:
        Si ha habido una actualización de algún programa o del sistema operativo, actualizar la aplicación.
      </p>
    </div>
  </details>

  <details name="category" role="listitem" *ngIf="category=='all' || category=='configuracion'">
    <summary role="button">
      Desactivar el modo de bajo consumo en un iPhone.
    </summary>
    <div class="txt-content">
      <p>
        Para desactivar el modo de bajo consumo:
      </p>
      <ol>
        <li>Ajustes.</li>
        <li>Batería.</li>
        <li>Desactivar el modo de bajo consumo.</li>
      </ol>
    </div>
  </details>

  <details name="category" role="listitem" *ngIf="category=='all' || category=='aplicaciones'">
    <summary role="button">
      La aplicación FichApp no tiene permisos en <abbr lang="en" title="iPhone Operative System">iOS</abbr>.
    </summary>
    <div class="txt-content">
      <p>
        Se debe activar la opción <i>Confíar en la <abbr title="Organización Nacional Ciegos Españoles">ONCE</abbr> como  desarrollador de la <abbr title="aplicación">APP</abbr></i>. 
        Para ello seguir los siguientes pasos: 
      </p>
      <ol>
        <li>Ajustes.</li>
        <li>General.</li>
        <li><abbr title="Virtual Private Network">VPN</abbr>.</li>
        <li>Gestión de dispositivos.</li>
      </ol>
    </div>
  </details>
</div>