<p>
  Usa el filtro para que se muestren las consultas relacionadas con tu búsqueda.
</p>
<ion-list>
  <ion-item>
    <ion-select #C aria-label="Selecciona una categoría" placeholder="Selecciona un categoría" (ionChange)="selection(C.value)">
      <ion-select-option value="compatibilidad">Compatibilidad</ion-select-option>
      <ion-select-option value="navegacion">Navegación</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>

<div role="list">
  <div role="listitem" class="flex-container" id="consult_1" *ngIf="category=='all' || category=='compatibilidad'">
    <div>
      <p>
        <abbr title="Consulta" class="emphasy">C</abbr>: Cuando se abre directamente un archivo con extensión *.opd, se ejecuta 
        Omnipage pero se abre un archivo en blanco. 
      </p>
      <div *ngIf="show == 1" aria-hidden="true" id="op_1">
        <p><abbr title="Resolucion" class="emphasy">R</abbr>: Hay que hacer el proceso a la inversa:</p>
        <ol>
          <li>ejecutar Omnipage.</li>
          <li>Ir a Archivo.</li>
          <li>Abrir.</li>
          <li>Buscar el documento.</li>
        </ol>
        <p>
          De esta manera se vé el archivo en pantalla.
        </p>
      </div>
    </div>

    <button class="btn" (click)="showOpt(1)" *ngIf="show != 1">Consultar</button>
    <button class="btn" (click)="showOpt(0)" *ngIf="show == 1">Ocultar</button>
  </div>

  <div role="listitem" class="flex-container" *ngIf="category=='all' || category=='navegacion'">
    <div>
      <p>
        <abbr title="Consulta" class="emphasy">C</abbr>: Si tienes varias ventanas en la pantalla (miniaturas, editor de texto, 
        imágenes, etc….) si que dando F6 va cambiando de ventana o de área como lo hace con el Power Point, pero desactivando todas 
        y dejando sólo el editor de texto, no se sabe, ni visualmente, dónde va el foco.
      </p>
      <div *ngIf="show == 2" aria-hidden="true" id="op_2">
        <p>
          <abbr title="Resolucion" class="emphasy">R</abbr>: Cada vez que se termine de reconocer un texto o se haya abierto el 
          archivo, aunque ya se hubiera seleccionado la opción, volver a repetir los pasos de acceder a la barra de menú de 
          OmniPage > Ver > Editor de textos > Texto sin formato.
        </p>
      </div>
    </div>

    <button class="btn" (click)="showOpt(2)" *ngIf="show != 2">Consultar</button>
    <button class="btn" (click)="showOpt(0)" *ngIf="show == 2">Ocultar</button>
  </div>
</div>