<p>
  Usa el filtro para que se muestren las consultas relacionadas con tu búsqueda.
</p>
<ion-list>
  <ion-item>
    <ion-select #C aria-label="Selecciona una categoría" placeholder="Selecciona un categoría" (ionChange)="selection(C.value)">
      <ion-select-option value="compatibilidad">Compatibilidad</ion-select-option>
      <ion-select-option value="navegacion">Navegación</ion-select-option>
      <ion-select-option value="todo">Todo</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>

<div role="list">
  <details name="category" role="listitem" *ngIf="category=='all' || category=='compatibilidad'">
    <summary role="button">
      Omnipage pero se abre un archivo en blanco. 
    </summary>
    <div class="txt-content">
      <p>
        Hay que hacer el proceso a la inversa:
      </p>
      <ol>
        <li>ejecutar Omnipage.</li>
        <li>Ir a Archivo.</li>
        <li>Abrir.</li>
        <li>Buscar el documento.</li>
      </ol>
      <p>
        De esta manera se vé el archivo en pantalla.
      </p>
     </div>
  </details>

  <details name="category" role="listitem" *ngIf="category=='all' || category=='navegacion'">
    <summary role="button">
      Si tienes varias ventanas en la pantalla (miniaturas, editor de texto, 
        imágenes, etc….) si que dando F6 va cambiando de ventana o de área como lo hace con el Power Point, pero desactivando todas 
        y dejando sólo el editor de texto, no se sabe, ni visualmente, dónde va el foco.
    </summary>
    <div class="txt-content">
      <p>
        archivo, aunque ya se hubiera seleccionado la opción, volver a repetir los pasos de acceder a la barra de menú de 
        OmniPage > Ver > Editor de textos > Texto sin formato.
      </p>
     </div>
  </details>
</div>