<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Acerca de</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Acercar de</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <p>
      <span class="head">Versión</span>: La versión actual es 2.1.1.
    </p>
    <p>
      <span class="head">Creador</span>: Gacs.
    </p>
  </ion-card>
  <ion-card>
    Si tienen cualquier consulta pueden escribir un correo electrónico a la siguiente dirección: 
    <b>bcn4itb&#64;gmail.com</b>
  </ion-card>
</ion-content>
