details[open] {
    font-weight: 600;
    background-color: var(--ion-item-background);
}

details {
    margin-bottom: 0.5em;
    padding: 0.5em;
    border-radius: 0.2rem;
    border: solid 0.1rem;
    border-color: #70b578;
}

details summary {
    font-weight: 400;
    padding-top: 1em;
    cursor: pointer;
}

details .txt-content {
    padding-left: 2em;
    border-left: solid 0.25rem;
    border-color: #70b578;
}