<p>
  Usa el filtro para que se muestren las consultas relacionadas con tu búsqueda.
</p>
<ion-list>
  <ion-item>
    <ion-select #C aria-label="Selecciona una categoría" placeholder="Selecciona un categoría" (ionChange)="selection(C.value)">
      <ion-select-option value="voiceover" lang="en">VoiceOver</ion-select-option>
      <ion-select-option value="configuracion">Configuración</ion-select-option>
      <ion-select-option value="all">Todo</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>

<div role="list">
  <details name="category" role="listitem" *ngIf="category=='all' || category=='voiceover'">
    <summary>
      Hay contactos que no aparecen en la agenda pero Siri si que los reconoce.
    </summary>
    <div class="txt-content">
      <p>
        Comprobar que el contacto no fue guardado en iCloud.
      </p>
     </div>
  </details>  
</div>