<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Iniciar Sesión</ion-title>
    </ion-toolbar>
  </ion-header>

  <p>
    Para poder iniciar sesión debes de estar registrado como administrador de la apliación.
  </p>
  <p>
    Si eres administrados podrás modificar las entradas y crear nuevas. Si no eres administrador podrás realizar consultas
    y enviar dudas, así como colaborar con las consultas aún no solucionadas o aportar nuevas soluciones.
  </p>

  <app-acces *ngIf="logged == 'No'"></app-acces>
  
  <p *ngIf="logged == 'Sí' && count > 0">
    Hay {{ count }} <span *ngIf="count > 1">soluciones proupuestas</span> <span *ngIf="count == 1">solución proupuesta</span> para revisar.
  </p>

  <div *ngIf="logged == 'Sí'" class="flex-container">
    <button (click)="seeSol()" titl="Ver Propuestas" *ngIf="count == 1">Ver Propuesta</button>
    <button (click)="seeSol()" titl="Ver Propuestas" *ngIf="count > 1">Ver Propuestas</button>
    <button routerLink="/new-entry" titl="Nueva entrada">Nueva Entrada</button>
    <button (click)="logout()" title="Cerrar sesión" class="danger">Cerrar Sesión</button>
  </div>
</ion-content>
