<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <!-- TODO ADMIN USER -->
      <a (click)="logout()" title="Cerrar sesión" role="button" *ngIf="logged == 'connected'">
        <ion-icon name="log-out-outline" aria-hidden="true" slot="end"></ion-icon>
      </a>
    </ion-buttons>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Iniciar Sesión</ion-title>
    </ion-toolbar>
  </ion-header>

  <p>
    Para poder iniciar sesión debes de estar registrado como administrador de la apliación.
  </p>
  <p>
    Si eres administrados podrás modificar las entradas y crear nuevas. Si no eres administrador podrás realizar consultas
    y enviar dudas, así como colaborar con las consultas aún no solucionadas o aportar nuevas soluciones.
  </p>

  <!-- TODO: ADMIN USER -->
  <app-acces *ngIf="logged == 'no connected'"></app-acces>
  
  <!-- TODO: ADMIN USER 
  <div *ngIf="logged == 'connected'">
  --> <div>
    <!-- ADMIN OF ADMIN USERS -->
    <app-register></app-register>
    
    <p *ngIf="count == 0">
      No hay soluciones propuestas.
    </p>
    <p *ngIf="count > 0">
      Hay {{ count }} 
      <span *ngIf="count > 1">soluciones proupuestas.</span>
      <span *ngIf="count == 1">solución proupuesta.</span> 
      para revisar.
    </p>

    <p *ngIf="countNew == 0">
      No hay nuevas aportaciones.
    </p>
    <p *ngIf="countNew > 0">
      Hay {{ countNew }} 
      <span *ngIf="countNew > 1">nuevas aportaciones.</span>
      <span *ngIf="countNew == 1">nueva aportación.</span> 
      para revisar.
    </p>

    <p *ngIf="countContact == 0">
      No hay mensajes nuevos.
    </p>
    <p *ngIf="countContact > 0">
      Hay {{ countContact }} 
      <span *ngIf="countContact > 1">mensjes nuevos.</span>
      <span *ngIf="countContact == 1">mensaje nuevo.</span> 
      para revisar.
    </p>

    <div class="flex-container">
      <button (click)="seeSol(1)" *ngIf="count == 1">Ver Propuesta</button>
      <button (click)="seeSol(1)" *ngIf="count > 1">Ver Propuestas</button>

      <button (click)="seeSol(2)" *ngIf="countNew == 1">Ver Aportación</button>
      <button (click)="seeSol(2)" *ngIf="countNew > 1">Ver Aportaciones</button>

      <button (click)="seeSol(3)" *ngIf="countContact == 1">Ver Mensje</button>
      <button (click)="seeSol(3)" *ngIf="countContact > 1">Ver Mensajes</button>
      <button (click)="seeSol(3)">Ver Mensajes</button>

      <button routerLink="/new-entry/admin" id="new">Nueva Entrada</button>
    </div>
  </div>
</ion-content>