<ion-app>
  <ion-content>
    <ion-split-pane contentId="main-content" when="(min-width: 768px)">
      <ion-menu contentId="main-content" role="navigation" aria-label="Menú Principal" [class.menu-collapsed]="menuCollapsed">
        <ion-header>
          <ion-toolbar>
            <ion-title>TifloDudas</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="toggleMenuCollapse()" aria-label="Contraer/Expandir menú" *ngIf="!isMobileView">
                <ion-icon [name]="menuCollapsed ? 'chevron-forward-outline' : 'chevron-back-outline'" aria-hidden="true"></ion-icon>
              </ion-button>
              <ion-menu-toggle *ngIf="isMobileView">
                <ion-button aria-label="Cerrar menú">
                  <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
                </ion-button>
              </ion-menu-toggle>
            </ion-buttons>
  
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-list role="menu">
            <ion-menu-toggle auto-hide="false">
              <ion-item *ngIf="!showTabs" [routerDirection]="'root'" [routerLink]="'/tabs/index'" role="menuitem">
                <ion-icon slot="start" [name]="'home-outline'" aria-hidden="true"></ion-icon>
                <ion-label>
                  Inicio
                </ion-label>
                <div *ngIf="menuCollapsed" class="custom-tooltip">Inicio</div>
              </ion-item>

              <ion-item *ngIf="!showTabs" [routerDirection]="'root'" [routerLink]="'/tabs/consult'" role="menuitem">
                <ion-icon slot="start" [name]="'cube-outline'" aria-hidden="true"></ion-icon>
                <ion-label>
                  Consultar la Base de Datos
                </ion-label>
                <div *ngIf="menuCollapsed" class="custom-tooltip">Consultar la Base de Datos</div>
              </ion-item>

              <ion-item *ngIf="!showTabs" [routerDirection]="'root'" [routerLink]="'/tabs/search'" role="menuitem">
                <ion-icon slot="start" [name]="'search-outline'" aria-hidden="true"></ion-icon>
                <ion-label>
                  Buscar en la Base de Datos
                </ion-label>
                <div *ngIf="menuCollapsed" class="custom-tooltip">Buscar en la Base de Datos</div>
              </ion-item>

              <ion-item [routerDirection]="'root'" [routerLink]="'/tabs/new-entry/colaboración'" role="menuitem">
                <ion-icon slot="start" [name]="'send-outline'" aria-hidden="true"></ion-icon>
                <ion-label>
                  Enviar una consulta
                </ion-label>
                <div *ngIf="menuCollapsed" class="custom-tooltip">Enviar una consulta</div>
              </ion-item>

             <!--<ion-item [routerDirection]="'root'" [routerLink]="'/tabs/gemini'" role="menuitem">
                <ion-icon slot="start" [name]="'sparkles-outline'" aria-hidden="true"></ion-icon>
                <ion-label>
                  Gemini
                </ion-label>
                <div *ngIf="menuCollapsed" class="custom-tooltip">Gemini</div>
              </ion-item>-->



              <ion-item [routerDirection]="'root'" [routerLink]="'/tabs/contact'" role="menuitem">
                <ion-icon slot="start" [name]="'mail-outline'" aria-hidden="true"></ion-icon>
                <ion-label>
                  Contacto
                </ion-label>
                <div *ngIf="menuCollapsed" class="custom-tooltip">Contacto</div>
              </ion-item>

              <ion-item [routerDirection]="'root'" [routerLink]="'/tabs/accesibilidad'" role="menuitem">
                <ion-icon slot="start" [name]="'accessibility-outline'" aria-hidden="true"></ion-icon>
                <ion-label>
                  Accesibilidad
                </ion-label>
                <div *ngIf="menuCollapsed" class="custom-tooltip">Accesibilidad</div>
              </ion-item>

                          <ion-item [routerDirection]="'root'" [routerLink]="'/tabs/settings'" role="menuitem">
                            <ion-icon slot="start" [name]="'settings-outline'" aria-hidden="true"></ion-icon>
                            <ion-label>
                              Configuración
                            </ion-label>
                            <div *ngIf="menuCollapsed" class="custom-tooltip">Configuración</div>
                          </ion-item>
              
                          <ion-item *ngIf="isAdmin" [routerDirection]="'root'" [routerLink]="'/admin'" role="menuitem">
                            <ion-icon slot="start" [name]="'cog-outline'" aria-hidden="true"></ion-icon>
                            <ion-label>
                              Administración
                            </ion-label>
                            <div *ngIf="menuCollapsed" class="custom-tooltip">Administración</div>
                          </ion-item>
              

              <ion-item [routerDirection]="'root'" [routerLink]="'/tabs/about'" role="menuitem">
                <ion-icon slot="start" [name]="'information-circle-outline'" aria-hidden="true"></ion-icon>
                <ion-label>
                  Acerca de
                </ion-label>
                <div *ngIf="menuCollapsed" class="custom-tooltip">Acerca de</div>
              </ion-item>

              <ion-item [routerDirection]="'root'" [routerLink]="'/tabs/login'" role="menuitem">
                <ion-icon slot="start" [name]="'log-in-outline'" aria-hidden="true"></ion-icon>
                <ion-label>
                  Area Personal
                </ion-label>
                <div *ngIf="menuCollapsed" class="custom-tooltip">Area Personal</div>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
        </ion-content>
      </ion-menu> 
      <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
  </ion-content>


</ion-app>