<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button class="focus"></ion-menu-button>
    </ion-buttons>  
    <ion-title>
      Declaración de accesibilidad
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Declaración de accesibilidad</ion-title>
    </ion-toolbar>
  </ion-header>

  <p>
    El creador de esta aplicación web se ha comprometido a hacer accesible su aplicación web, de conformidad con el 
    <a href="https://www.boe.es/diario_boe/txt.php?id=BOE-A-2018-12699" target="_blank" title="Real Decreto 
    1112/2018 (se abre en una nueva página)">Real Decreto 1112/2018</a>, de 7 de septiembre, sobre accesibilidad de los sitios web
     y aplicaciones para dispositivos móviles del sector público.
  </p>

  <p>
    La presente declaración de accesibilidad se aplica al sitio web https://tiflodudas.000webhostapp.com/
  </p>

  <div>
    <h2>Situación de cumplimiento</h2>
    <p>
      Este sitio web es parcialmente conforme con el Real Decreto 1112/2018, de 7 de septiembre, sobre accesibilidad de los sitios
       web y aplicaciones para dispositivos móviles del sector público, debido a la falta de conformidad de los aspectos que se 
       indican a continuación.
    </p>

    <h3>Contenido no accesible</h3>
    <p>
      El contenido que se recoge a continuación no es accesible por lo siguiente:
    </p>

    <ul>
      <li>
        <strong>Falta de conformidad con el RD 1112/2018</strong>
        <p>Podrían existir fallos puntuales de edición en alguna página web.</p>
      </li>
      <li>
        <strong>Carga desproporcionada</strong>
        <p>No aplica.</p>
      </li>
    </ul>
  </div>  
  
  <div>
    <h2>Preparación de la presente declaración de conformidad</h2>
    <p>
      La presente declaración fue preparada el 28 de agosto de 2023, con conformidad del nivel AA de las 
      <abbr title="Web Content Accessibility Guidelines">WCAG</abbr> 2.1 como base a cumplir, si bien se intentan cumplis algunos 
      puntos del borrador de las <abbr title="Web Content Accessibility Guidelines">WCAG</abbr> 2.2 así como del nivel AAA.
    </p>
    <p>
      La preparación se ha realizado mediante una autoevaluación de los requisitos de la Norma 
      <a href="https://administracionelectronica.gob.es/PAe/accesibilidad/une-en-301549-2020.pdf" 
      title="Descarga normativa UNE-EN 301 549:2022 en formato pdf">UNE-EN 301 549:2022, “Requisitos de accesibilidad de productos
       y servicios TIC aplicables a la contratación pública en Europa” - “Accessibility requirements suitable for public 
       procurement of ICT products and services in Europe”</a>.
    </p>
    <p>
      Los resultados de dicha <a>evaluación de accesibilidad</a> están disponibles y abiertos para que pueda ser  consultado por 
      todo el público.
    </p>

    <h3>Observaciones y datos de contacto</h3>
    <p>
      Se puede realizar comunicaciones sobre requisitos de accesibilidad (artículo 10.2.a) del RD 1112/2018) como por 
      ejemplo:
    </p>
    <ul>
      <li>Informar sobre cualquier posible incumplimiento por parte de este sitio web.</li>
      <li>Transmitir otras dificultades de acceso al contenido.</li>
      <li>formular cualquier otra consulta o sugerencia de mejora relativa a la accesibilidad del sitio web.</li>
    </ul>
    <p>
      A través de la dirección de correo electrónico bcn4itb@gmail.com indicando en el asunto el motivo de la consulta.
    </p>
    <p>
      Se intentaré responder, o resolver el problema detectado lo antes posible.
    </p>

    <h3>Procedimiento de aplicación</h3>
    <p>
      Se puede realizar reclamaciones sobre sus solicitudes de información accesible o quejas (artículo 13 del RD 1112/2018) a 
      través del Libro del correo electrónico citado en el apartado anterior.
    </p>
  </div>

  <div>
    <h2>Contenido opcional</h2>

    <ul>
      <li><a>Estudio de accesibilidad</a>.</li>
      <li><a>Declaración voluntaria de accesibilidad.</a></li>
    </ul>
  </div>
</ion-content>
