<p>
  Usa el filtro para que se muestren las consultas relacionadas con tu búsqueda.
</p>
<ion-list>
  <ion-item>
    <ion-select #C aria-label="Selecciona una categoría" placeholder="Selecciona un categoría" (ionChange)="selection(C.value)">
      <ion-select-option value="instalacion">Instalación</ion-select-option>
      <ion-select-option value="all">Todo</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>

<div role="list">
  <div role="listitem" class="flex-container" id="consult_1" *ngIf="category=='all' || category=='instalacion'">
    <div class="flex-item txt">
      <p>
        <abbr title="Consulta" class="emphasy">C</abbr>: Al instalar el programa Ebrai y poner la activación se me abre en modo 
        comentarios y no permite  seleccionar impresora, configurar página o imprimir. Se ha desinstalado el programa y vuelto a 
        instalar sin cambios.
      </p>
      <div *ngIf="show == 1" aria-hidden="true" id="ebrai_1">
        <p><abbr title="Resolucion" class="emphasy">R</abbr>: Es necesario instalar el Visual C++ Redistributable de Microsoft 
          Visual Studio. Para ello sigue estos pasos: </p>
        <ol>
          <li>
            Descargar el programa de instalación de <a href="https://learn.microsoft.com/es-es/cpp/windows/latest-supported-vc-redist?view=msvc-170"
            target="_blank" titl="Visual Studio Redistributable (descarga)">Visual Studio Redistributable</a>. Asegurate de bajar la 
            versión adecuada para su sistema operativo, X86 para Windows de 32 bits, X64 para Windows de 64 bits.
          </li> 
          <li>Cierra EBrai (si está ejecutándose) e instala Visual C++ Runtime.</li> 
          <li>Vuelve a lanzar EBrai.</li>
        </ol>
        <p>Las opciones de impresora ya deberían estar disponibles.</p>
      </div>
    </div>

    <div class="flex-btn">
      <button class="btn" (click)="showOpt(1)" *ngIf="show != 1">Consultar</button>
      <button class="btn" (click)="showOpt(0)" *ngIf="show == 1">Ocultar</button>
    </div>
  </div>
  