<p>
  Usa el filtro para que se muestren las consultas relacionadas con tu búsqueda.
</p>
<ion-list>
  <ion-item>
    <ion-select #C aria-label="Selecciona una categoría" placeholder="Selecciona un categoría" (ionChange)="selection(C.value)">
      <ion-select-option value="configuracion">Configuración</ion-select-option>
      <ion-select-option value="all">Todo</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>

<div role="list">
  <details name="category" role="listitem" *ngIf="category=='all' || category=='configuracion'">
    <summary class="txt-title">
      En un ordenador con Linux Ubuntu 14 se ha modificado la resolución, aumentado el tamaño del texto y configurado con puntero de ratón grande y de color rojo. Al reiniciar el 
      equipo no se guardan los cambios.
    </summary>
    <div class="txt-content">
      <p>
        Las modificacione deben realizarse omo usuario administrador (<b>su</b>).
      </p>
      <p>
        <span class="emphasy">Nota</span>:
        Se requiere contraseña de administrador.
      </p>
    </div>
  </details>
</div>