<p>
  Usa el filtro para que se muestren las consultas relacionadas con tu búsqueda.
</p>
<ion-list>
  <ion-item>
    <ion-select #C aria-label="Selecciona una categoría" placeholder="Selecciona un categoría" (ionChange)="selection(C.value)">
      <ion-select-option value="skills">Skills</ion-select-option>
      <ion-select-option value="all">Todo</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>

<div role="list">
  <details name="category" *ngIf="category=='all' || category=='skills'" role="listitem">
    <summary>
      La skill de la <abbr title="Bibkioteca Digital ONCE">BDO</abbr> no reconoce el número de afiliado introducido.
    </summary>
    <div class="txt-content">
      <p>
        Dictar los números de dos en dos. Por ejemplo, 22.1236 sería 22, 12. 36.
      </p>
    </div>
  </details>
</div>