<p>
  Usa el filtro para que se muestren las consultas relacionadas con tu búsqueda.
</p>
<ion-list>
  <ion-item>
    <ion-select #C aria-label="Selecciona una categoría" placeholder="Selecciona un categoría" (ionChange)="selection(C.value)">
      <ion-select-option value="configuracion">Configuración</ion-select-option>
      <ion-select-option value="all">Todo</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>

<div role="list">
  <details name="category" id="consult_1" role="listitem" *ngIf="category=='all' || category=='configuracion'">
    <summary>
      Cambiar entre red (modo conectado) y local (modo desconectado).
    </summary>
    <div class="txt-content">
      <p>
        Pulsar el botón redondo situado sobre la fila del 1 al 3.
      </p>
    </div>
  </details>
</div>