<p>
  Usa el filtro para que se muestren las consultas relacionadas con tu búsqueda.
</p>
<ion-list>
  <ion-item>
    <ion-select #C aria-label="Selecciona una categoría" placeholder="Selecciona un categoría" (ionChange)="selection(C.value)">
      <ion-select-option value="aplicaciones">Aplicaciones</ion-select-option>
      <ion-select-option value="configuracion">Configuración</ion-select-option>
      <ion-select-option value="cookies">Cookies</ion-select-option>
      <ion-select-option value="correo">Correo Electrónico</ion-select-option>
      <ion-select-option value="gestos">Gestos/Comandos</ion-select-option>
      <ion-select-option value="gold">Gestor <abbr title="Organización Nacional Ciegos Españoles">ONCE</abbr> Libros Digitales</ion-select-option>
      <ion-select-option value="icloud">iCloud</ion-select-option>
      <ion-select-option value="ipad">iPad</ion-select-option>
      <ion-select-option value="macbook">Mac</ion-select-option>
      <ion-select-option value="portalonce">PortalONCE</ion-select-option>
      <ion-select-option value="siri">Siri</ion-select-option>
      <ion-select-option value="vincular">Vincular</ion-select-option>
      <ion-select-option value="whatsapp">WhatsApp</ion-select-option>
      <ion-select-option value="all">Todo</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>

<div role="list">
  <details name="category" role="listitem" *ngIf="category=='all' || category=='vincular'">
    <summary>
      El iPhone no detecta la línea Braille.
    </summary>
    <div class="txt-content">
      <p>
        Deben eliminarse dispositivos vinculados de la línea.
      </p>
    </div>
  </details>

  <details name="category" role="listitem" *ngIf="category=='all' || category=='gestos'">
    <summary>
        El iphone no reconoce los flicks.
    </summary>
    <div class="txt-content">
      <p>
        Restablecer ajustes de VoiceOver desde el apartado comandos.
      </p>
    </div>
  </details>

  <details name="category" role="listitem" *ngIf="category=='all' || category=='configuracion'">
    <summary>
        Evitar que Voice Over diga: <b>pantalla bloqueada</b>.
    </summary>
    <div class="txt-content">
      <p>
        ctivar los sonidos del iPhone.
      </p>
    </div>
  </details>

  <details name="category" role="listitem" *ngIf="category=='all' || category=='configuracion'">
    <summary>
        El iPhone no deja modificar la velocidad de la voz.
    </summary>
    <div class="txt-content">
      <p>
        Restablecer ajustes de VoiceOver desde el apartado comandos.
      </p>
    </div>
  </details>

  <details name="category" role="listitem" *ngIf="category=='all' || category=='configuracion'">
    <summary>
        El botón de dictado aparece atenuado, aunque puede activarse desde la línea braille.
    </summary>
    <div class="txt-content">
      <p>
        Restablecer ajustes de Voice Over desde el apartado comandos.
      </p>
    </div>
  </details>

  <details name="category" role="listitem" *ngIf="category=='all' || category=='configuracion'">
    <summary>
        Al recibir una llamada y descolgar, si se separa el terminal de la oreja salta automáticamente el altavoz.
    </summary>
    <div class="txt-content">
      <p>
        Deben seguirse los siguientes pasos para desactivar el altavoz:
      </p>
      <ol>
        <li>Ajustes.</li>
        <li>Accesibilidad.</li>
        <li>VoiceOver.</li>
        <li>Audio.</li>
        <li>Altavoz automático.</li>
      </ol>
    </div>
  </details>

  <details name="category" role="listitem" *ngIf="category=='all' || category=='configuracion'">
    <summary>
        Cuando se consulta una notificación y entra una llamada o un mensaje, el nuevo elemento se superpone al antiguo.
    </summary>
    <div class="txt-content">
      <p>
        Deben seguirse los siguientes pasos:
      </p>
      <ol>
        <li>Ajustes.</li>
        <li>Notificaciones.</li>
      </ol>
      <p>
        En la opción <b>mostrar previsualizaciones</b> seleccionar la opción más convniente para el usuario. Otra solución es: 
      </p>
      <ol>
        <li>Ajustes.</li>
        <li>Notificaciones.</li>
        <li>WhatsApp.</li>
      </ol>
      <p>
        Realizar una selección como en la solución anterior. En esta ocasión esta modificación sólo afectaría a 
        las notificaciones de WhatsApp.
      </p>
    </div>
  </details>
  
  <details name="category" role="listitem" *ngIf="category=='all' || category=='ipad'">
    <summary>
      Conectar por acceso remoto con un iPad.
    </summary>
    <div class="txt-content">
      <p>
        Se debe instalar en el iPad: Fortclient y Microsoft Remote Desktop. 
      </p>
      <p>
        <span class="emphasy">Nota</span>:
        Las ayudas visuales deberían funcionar.
      </p>
    </div>
  </details>

  <details name="category" role="listitem" *ngIf="category=='all' || category=='configuracion' || category=='whatsapp'">
    <summary>
      VoiceOver no verbaliza la letra al escribirla, ni la palabra cuando en 
      el rotor se seleccionan navegación por palabras para realizar una corrección (por ejemplo).
    </summary>
    <div class="txt-content">
      <p>
        Desinstalar WhatsApp y volverlo a instalar. 
      </p>
    </div>
  </details>

  <details name="category" role="listitem" *ngIf="category=='all' || category=='potalonce'">
    <summary>
      No se puede utilizar la aplicación de PortalONCE.
    </summary>
    <div class="txt-content">
      <p>
        Una vez descargada la app de la página web (no está en AppStore) se debe realizar los siguientes pasos: 
      </p>
      <ol>
        <li>Ajustes.</li>
        <li>General.</li>
        <li>Gestión de Dispositivo.</li>
        <li>Apps Empresariales.</li>
        <li>ORGANIZACIÓN NACIONAL DE CIEGOS ESPAÑOLES.</li>
        <li>Confiar en ORGANIZACIÓN NACIONAL DE CIEGOS ESPAÑOLES.</li>
      </ol>
    </div>
  </details>

  <details name="category" role="listitem" *ngIf="category=='all' || category=='gold'">
    <summary>
      VoiceOver tiene un mal funcionamiento al leer un libro, no responde a 
      los gestos o lo hace tarde y el terminal se sobrecalienta.
    </summary>
    <div class="txt-content">
      <p>
        Comprobar si se trata de un libro ilustrado.
      </p>
    </div>
  </details>

  <details name="category" role="listitem" *ngIf="category=='all' || category=='gold'">
    <summary>
      Error en la aplicación con iPod touch; las listas de búsqueda salen vacías.
    </summary>
    <div class="txt-content">
      <p>
        Actualizar la versión de iOS.
      </p>
    </div>
  </details>

  <details name="category" role="listitem" *ngIf="category=='all' || category=='configuracion'">
    <summary>
      El teléfono vibra al realizar un flick.
    </summary>
    <div class="txt-content">
      <p>
        Deben seguirse los siguientes pasos:
      </p>
      <ol>
        <li>Ajustes.</li>
        <li>Accesibilidad.</li>
        <li>VoiceOver.</li>
        <li>Audio, Sonido y Vibraciones.</li>
        <li>Desactivar vibración.</li>
      </ol>
      <p>Otra opción es:</p>
      <ol>
        <li>Ajustes.</li>
        <li>Accesibilidad.</li>
        <li>Tocar y vibración.</li>
        <li>Desactivar vibración.</li>
      </ol>
    </div>
  </details>

  <details name="category" role="listitem" *ngIf="category=='all' || category=='siri'">
    <summary>
      Hay contactos que no aparecen en la agenda pero Siri si que los reconoce.
    </summary>
    <div class="txt-content">
      <p>
        Comprobar que el contacto no fue guardado en iCloud.
      </p>
    </div>
  </details>

  <details name="category" role="listitem" *ngIf="category=='all' || category=='macbook' || category=='vincular'">
    <summary>
      Como conectar un iPhone con un MAC sin utilizar iTunes.
    </summary>
    <div class="txt-content">
      <p>
        Se ha de buscar el dispositivo en la barra lateral (<b>comando + shift + c</b>). 
      </p>
    </div>
  </details>

  <details name="category" role="listitem" *ngIf="category=='all' || category=='configuracion' || category=='cookies'">
    <summary>
      Activar/desactivar cokies.
    </summary>
    <div class="txt-content">
      <p>
        Seguir los siguientes pasos:
      </p>
      <ol>
        <li>Borrar las cokies del teléfono.</li>
        <li>Cerrar de multitareas Safari.</li>
        <li>Ajustes.</li>
        <li>Activar/Desactivar las Cokies.</li>
      </ol>
    </div>
  </details>

  <details name="category" role="listitem" *ngIf="category=='all' || category=='icloud'">
    <summary>
      Como gestionar el espacio de <span lang="en">iCloud.</span>.
    </summary>
    <div class="txt-content">
      <p>
        <a href="https://sucdepoma.org/2020/09/02/como-gestionar-la-liberacion-de-espacio-en-icloud-desde-el-iphone/" target="_blank">
          Enlace para gestionar <span lang="en">iCloud</span><span class="scr-only">(se abre en una nueva pestaña)</span>
        </a>.
      </p>
    </div>
  </details>

  <details name="category" role="listitem" *ngIf="category=='all' || category=='vincular'">
    <summary>
      El teléfono no se cuelga al pulsar dos veces con dos dedos.
    </summary>
    <div class="txt-content">
      <p>
        Posiblemente el protector de pantalla no está bien colocado.
      </p>
    </div>
  </details>

  <details name="category" role="listitem" *ngIf="category=='all' || category=='configuracion' || category=='correo'">
    <summary>
      No entran las notificaciones de correo nuevo.
    </summary>
    <div class="txt-content">
      <p>
        Seguir los siguientes pasos:
      </p>
      <ol>
        <li>Ajustes.</li>
        <li>Mail.</li>
        <li>Cuentas.</li>
        <li>Obtener datos: PUSH.</li>
      </ol>
    </div>
  </details>

  <details name="category" role="listitem" *ngIf="category=='all' || category=='configuracion'">
    <summary>
      Como asignar un acceso a dictado.
    </summary>
    <div class="txt-content">
      <p>
        Seuir los siguientes pasos. En el iPhone:
      </p>
      <ol>
        <li>Ajustes.</li>
        <li>Accesibilidad.</li>
        <li>VoiceOver.</li>
        <li>Comandos.</li>
      </ol>
      <p>En la Orbit;</p>
      <ol>
        <li>Dispositivo modificar gesto para mostrar/ocultar teclado.</li>
        <li>Cor 4, 5 y 6(al final de pantalla).</li>
        <li>Dos veces flecha derecha.</li>
        <li>Ok para empezar el dictado.</li>
      </ol>
    </div>
  </details>
        
  <details name="category" role="listitem" *ngIf="category=='all' || category=='macbook'">
    <summary>
      Ir a inicio y final del documento con un teclado de MacBook Pro.
    </summary>
    <div class="txt-content">
      <p>
        Los comandosdde navegación en un texto son:
      </p>
      <ul>
        <li>Inicio del documento: fn + ctrl + cursor arriba.</li>
        <li> ir al final del documento: fn + ctrl + cursor abajo.</li>
        <li>avance de página: fn + ctrl + curor derecha.</li>
        <li>retroceso de página: fn + ctrl + cursor izquierda.</li>
      </ul>
    </div>
  </details>
  
  <details name="category" role="listitem" *ngIf="category=='all' || category=='vincular'">
    <summary>
      Como conectar una línea Braille a un <span lang="en">Apple Watch</span>.
    </summary>
    <div class="txt-content">
      <p>
        
      </p>
    </div>
  </details>
  
  <details name="category" role="listitem" *ngIf="category=='all' || category=='vincular'">
    <summary>
      Como conectar una línea Braille a un <span lang="en">Apple Watch</span>.
    </summary>
    <div class="txt-content">
      <p>
        Se deben seguir los siguientes pasos:
      </p>
      <ol>
        <li>Descubrir la Línea Braille.</li>
        <li>Ajustes.</li>
        <li>Accesibilidad.</li>
        <li>VoiceOver.</li>
        <li>Braille.</li>
        <li>Conectar la línea Braille.</li>
      </ol>
    </div>
  </details>
    
  <details name="category" role="listitem" *ngIf="category=='all' || category=='whatsapp'">
    <summary>
      Evitar que VvoiceOver, en los grupos de WhassApp, diga: <b>información del contacto</b> al lado de cada mensaje.
    </summary>
    <div class="txt-content">
      <p>
        Actualizar WhatsApp a su última versión.
      </p>
    </div>
  </details>
  
  <details name="category" role="listitem" *ngIf="category=='all' || category=='configuracion' || category=='imagenes'">
    <summary>
      VoiceOver no puede ver las fotos de la galería haciendo flick, las ve deslizando el dedo por la pantalla (rastreo).
    </summary>
    <div class="txt-content">
      <p>
        Modificar el ajuste de VoiceOver <b>explorar imágenes</b> y dejarlo en: <b>siempre</b> para poder hacer flick por las 
        fotos.
      </p>
    </div>
  </details>

  <details name="category" role="listitem" *ngIf="category=='all' || category=='aplicaciones'">
    <summary>
      Si se trata de acceder a un enlace para unirse a una reunión de Zoom no resulta posible, no se abre la aplicación Zoom. 
      Si desactivas VoiceOver el enlace sí se abre. Si el enlace se le envía por correo electrónico, en el mismo iPhone, sí se 
      puede abrir estando VoiceOver activado.
    </summary>
    <div class="txt-content">
      <p>
        Probar una de las dos opciones;
      </p>
      <ul>
        <li>Acceder por primera vez a una reunión de Zoom con VoiceOver desactivado (los accesos siguientes pueden hacerse con VoiceOver).</li>
        <li>Registrarse como usuario de zoom.</li>
      </ul>
    </div>
  </details>
      
  <details name="category" role="listitem" *ngIf="category=='all' || category=='configuracion'">
    <summary>
      VoiceOver verbaliza todos los signos de puntuación: Puntos, comas, dos puntos, <abbr title="etcétera">etc</abbr>. Y lo hace
      en cualquier lugar.
    </summary>
    <div class="txt-content">
      <p>
        Formatear el dispositivo a fábrica.
      </p>
    </div>
  </details>
        
  <details name="category" role="listitem" *ngIf="category=='all' || category=='configuracion'">
    <summary>
      Cómo obtener las teclas de función de un MarcBook Pro con TouchBar en un Windows cargado utlizando BoothCamp.
    </summary>
    <div class="txt-content">
      <p>
        Deben seguirse los siguientes pasos:
      </p>
      <ol>
        <li>Entrar en el boton lateral de barra de tareas.</li>
        <li>Abrir bootcamp.</li>
        <li>Entrar en panel de control bootcamp.</li>
        <li>Control de cuentas-Si.</li>
        <li>Teclado.</li>
        <li>Buscar la casilla de verificación para utilizar las teclas de función estandar.</li>
      </ol>
    </div>
  </details>
          
  <details name="category" role="listitem" *ngIf="category=='all' || category=='configuracion'">
    <summary>
      Hacer que VoiceOver hable más bajo mientras se tiene una conversación telefónica.
    </summary>
    <div class="txt-content">
      <p>
        Se debe atenuar el volumen de VoiceOver, para ello: 
      </p>
      <ol>
        <li>Configuración.</li>
        <li>Accesibilidad.</li>
        <li>VoiceOver.</li>
        <li>Audio.</li>
        <li>Seleccionar la casilla <i>Atenuación de audio</i>.</li>
      </ol>
    </div>
  </details>
        
  <details name="category" role="listitem" *ngIf="category=='all' || category=='configuracion'">
    <summary>
      Al añadir un contacto con VoiceOver marcando el número, si se valuego a la opción de añadir contacto, la opción del 
      dictado se queda inhabilitada y no deja ni con pulsación mágica ni con el botón de dictado del teclado.
    </summary>
    <div class="txt-content">
      <p>
        Agregar el contacto desde la aplicación de contactos, no marcando el número desde la aplicación de teléfono y yendo 
        hasta añadir número.
      </p>
    </div>
  </details>
    
  <details name="category" role="listitem" *ngIf="category=='all' || category=='aplicaciones'">
    <summary>
      No se puede hacer un bizum con la app de la Caixa utilizando VoiceOver al estar oculto el botón <i>Continuar</i>.
    </summary>
    <div class="txt-content">
      <p>
        Ocultar el teclado del iPhone para que se muestre el botón.
      </p>
    </div>
  </details>
      
  <details name="category" role="listitem" *ngIf="category=='all' || category=='aplicaciones'">
    <summary>
      Seleccionar un rango de fila o columna en una hoja de cálculo con VoiceOver en la aplicación hojas de Cálculo de Google.
    </summary>
    <div class="txt-content">
      <p>
        Seguir este procedimiento para seleccionar filas:
      </p>
      <ol>
        <li>Seleccionar en el rotor la opción <b>seleccionar texto</b>.</li>
        <li>Flic arriba hasta colocarlo en <b>líneas</b>.</li>
        <li>Flic derecha para ir seleccionando las celdas.</li>
      </ol>
      <p>Una vez seleccionadas las filas deseadas:</p>
      <ol>
        <li>Opciones de editar del rotor.</li>
        <li>Seleccionamos copiar.</li>
      </ol>
      <p>
        <span class="emphasy">Nota</span>:
        No se ha conseguido realizar esta selección por columnas.      
      </p>
    </div>
  </details>
    
  <details name="category" role="listitem" *ngIf="category=='all' || category=='configuracion'">
    <summary>
      VoiceOver dice <i>muiriel</i> cuando debería decir <b>muriel</b>.
    </summary>
    <div class="txt-content">
      <p>
        Dentro de VoiceOver, en el menú pronunciaciones scribir la palabra y grabar la pronunciación deseada.
      </p>
      <p>
        <span class="emphasy">Nota</span>:
        VoiceOver pronuncia muchas veces los nombres como Muriel que son de origen inglés como se harían en su idioma de origen.
      </p>
    </div>
  </details>
          
  <details name="category" role="listitem" *ngIf="category=='all' || category=='configuracion' || category=='aplicaciones'">
    <summary>
      VoiceOver verbaliza el logo, otros, y la hora a la que le han enviado el audio de WhatsApp.
    </summary>
    <div class="txt-content">
      <p>
        Desactivar la descripción de imágenes para WhatsApp del rotor.
      </p>
    </div>
  </details>
  
  <details name="category" role="listitem" *ngIf="category=='all' || category=='configuracion' || category=='aplicaciones'">
    <summary>
      Al pulsar el botón suprimir en WhatsappVoiceOver verbaliza: suprimir <b>feliz navidad</b>.
    </summary>
    <div class="txt-content">
      <p>
        El problema esté en la descripción de imagen. Cuando posiciones el foco en el botón suprimir, desliza de arriba abajo 
        hasta explorar la imagen y pulsar dos veces con un dedo.
      </p>
    </div>
  </details>
          
  <details name="category" role="listitem" *ngIf="category=='all' || category=='configuracion'">
    <summary>
      Lee de forma descoordinada la pantalla.
    </summary>
    <div class="txt-content">
      <p>
        Desactivar el reconocimiento de pantalla:
      </p>
      <ol>
        <li>Ajustes.</li>
        <li>Accesibilidad.</li>
        <li>VoiceOver.</li>
        <li>Reconocimiento de VoiceOver.</li>
        <li>Configurar todo lo relativo al reconocimiento de pantalla.</li>
        <li>Elimina la opción del rotor.</li>
      </ol>
    </div>
  </details>
    
  <details name="category" role="listitem" *ngIf="category=='all' || category=='macbook'">
    <summary>
      Seleccionar un fragmento de texto de un <abbr title="Portable Document Format" lang="en">PDF</abbr>.
    </summary>
    <div class="txt-content">
      <p>
        Leer el texto sin utilizar Vista Previa e ir seleccionando con cursores y shift.
      </p>
    </div>
  </details>
          
  <details name="category" role="listitem" *ngIf="category=='all' || category=='configuracion'">
    <summary>
      Al intentar escribir no se despliega el teclado para poder utilizarlo.
    </summary>
    <div class="txt-content">
      <p>
        Ir a Mensajes y activar APPs oculta:
      </p>
      <ol>
        <li>Ajustes.</li>
        <li>VoiceOver.</li>
        <li>Braille.</li>
        <li>Entrada Brailleen pantalla.</li>
      </ol>
    </div>
  </details>
    
  <details name="category" role="listitem" *ngIf="category=='all' || category=='aplicaciones'">
    <summary>
      La asistencia remota con TeamViewer a un iPhone finaliza en un minuto.
    </summary>
    <div class="txt-content">
      <p>
        Es debido a una característica de las nuevas versiones del sistema operativo iOS. Sucede cuando se utiliza a la vez el 
        mismo dispositivo para comunicarse entre el técnico y el usuario.
      </p>
    </div>
</details>
      
  <details name="category" role="listitem" *ngIf="category=='all' || category=='gestos' || category=='macbook'">
    <summary>
      Comando para activar o desactivar el habla de VoiceOver en un Mac.
    </summary>
    <div class="txt-content">
      <p>
        Para silenciar VoiceOver con comandos seguir el siguiente procedimiento:
      </p>
      <ol>
        <li>Pulsar VO + Comando + Mayúsculas + Flecha derecha hasta que escuches <i>Volumen</i>.</li>
        <li>Pulsar VO + Comando + Mayúsculas + Flecha abajo repetidamente para bajar el volumen.</li>
      </ol>
      <p>
        Para silencia VoiceOver mediante menú seguir el siguiente procedimiento:
      </p>
      <ol>
        <li>Abrir Utilidad VoiceOver (pulsa VO + F8 cuando VoiceOver esté activo).</li>
        <li>Acceder a la categoría <b>Habla</b>.</li>
        <li>acceder a <b>Voces</b>.</li>
        <li>Seleccionar <b>Silenciar habla</b>.</li>
      </ol>
    </div>
  </details>
    
  <details name="category" role="listitem" *ngIf="category=='all' || category=='aplicaciones' || category=='portalonce'">
    <summary>
      No se puede utilizar la aplicación de PortalONCE.
    </summary>
    <div class="txt-content">
      <p>
        Una vez descargada la app de la página web (no está en AppStore) se debe realizar los siguientes pasos:
      </p>
      <ol>
        <li>Ir a Ajustes.</li>
        <li>Accedr a General.</li>
        <li>Entrar en Gestión de Dispositivo.</li>
        <li>Entrar en la sección Apps Empresariales.</li>
        <li>Acceder a ORGANIZACIÓN NACIONAL DE CIEGOS ESPAÑOLES.</li>
        <li>Seleccionar la opción: <b>Confiar en <span class="cap-letters">Organización Nacional de Ciegos Españoles</span>.</b>.</li>
      </ol>
    </div>
  </details>
    
  <details name="category" role="listitem" *ngIf="category=='all' || category=='aplicaciones'">
    <summary>
      Aplicación de firma digital accesible para lectores de pantalla.
    </summary>
    <div class="txt-content">
      <p>
        Autofirma, suele ser una de las recomendadas por la Administración Pública.
      </p>  
      <p>
        <span class="emphasy">Nota</span>:
        Enlace de descarga de <a href="https://www.compartolid.es/autofirma/" target="_blank">
        Descarga de Autofirma <span class="scr-only">(se abre en una nueva ventana)</span>
        </a>.
      </p>
    </div>
</details>
  
  <details name="category" role="listitem" *ngIf="category=='all' || category=='aplicaciones' || category=='correo electrpnico'">
    <summary>
      Configuración para que el gestor de correoa Thunderbird sea más accesible.
    </summary>
    <div class="txt-content">
      <p>
        Las possibles configuraciones para hacer un gestor de correos más accesibles para lectores de pantalla son:
      </p>
      <ul>
        <li>
          Si no hay otro cliente de correo en el equipo, ir a <i>Aplicaciones predeterminadas</i> y lo establezco como tal 
          el gestor de correos que se utilizara para que abra vínculos de mensajes directamente.
        </li>
        <li>
          En Ver > Barras de herramientas y las desactivamos todas para que el foco se posicione directamente en la tabla de mensajes o 
          lo más cercano a ella.
        </li>
        <li>
          En Herramientas > Ajustes (pueden ser <i>preferences</i> dependiendo de la versión instalada) hacer lo siguiente:
        </li>
        <ul>
          <li>
            Pestaña <i>General</i>, desmarcar la opción <i>Al iniciarse Thunderbird, mostrar la página de inicio en el área 
            de mensajes</i>.
          </li>
          <li>
            Pestaña <i>Genera</i> ;atcar ña opción <i>Abrir mensajes en: una ventana de mensaje nueva</i>.</li>
          <li>
            Pestaña <i>Privacidad y seguridad</i>, marcar la opción <i>Permitir contenido remoto en los mensajes</i>.
          </li>
          <li>
            Cerrar la ventana de <i>Ajustes</i> con <abbr title="Control">CTRL</abbr> + W para cerrar y guardar las modificaciones.
        </ul>
        <li>
          Tras crear un mensaje nuevo, enviar con <abbr title="Control">CTRL</abbr> <abbr title="más">+</abbr> Intro” y marco la casilla de “No mostrar más este mensaje” para que no me lo solicite en ocasiones sucesivas.
        </li>
      </ul>
    </div>
  </details>

  <details name="category" role="listitem" *ngIf="category=='all' || category=='aplicaciones' || category=='correo electrpnico'">
    <summary>
      No se puede saltar de contenedor realizando un flick con un dedo.
    </summary>
    <div class="txt-content">
      <p>
        Comprobar que no está activada la navegación por grupos.
      </p>
      <ol>
        <li> Ir a Accesibilidad.</li>
        <li> Navegación.</li>
        <li>Activar: <b>Navegación individual</b>.</li>
      </ol>
      <p>
        <span class="emphasy">Nota:</span>
        La configurar descrita permite que se configure para caracteres o para palabras.
      </p>
    </div>
  </details>
</div>