<p>
  Usa el filtro para que se muestren las consultas relacionadas con tu búsqueda.
</p>
<ion-list>
  <ion-item>
    <ion-select #C aria-label="Selecciona una categoría" placeholder="Selecciona un categoría" (ionChange)="selection(C.value)">
      <ion-select-option value="aplicaciones">Aplicaciones</ion-select-option>
      <ion-select-option value="configuracion">Configuración</ion-select-option>
      <ion-select-option value="all">Todo</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>

<div role="list">
  <details name="category" role="listitem" *ngIf="category=='all' || category=='aplicaciones'">
    <summary>
      La aplicación Big Font no funciona correctamente.
    </summary>
    <div class="txt-content">
      <p>
        Posiblemente ha habido una actualización de algún programa o del sistema operativo. actualizar la aplicación.
      </p>
    </div>
  </details>

  <details name="category" role="listitem" *ngIf="category=='all' || category=='configuracion'">
    <summary>
      Configurar el teclado de Android para que diga la tecla que se pulsa sin tener el lector de pantalla activado.
    </summary>
    <div class="txt-content">
      <p>
        Seguir el siguiente procedimiento (en un Samsung):
      </p>
      <ol>
        <li>Teclado Samsung.</li>
        <li>Opción desplazar.</li>
        <li>Comentarios.</li>
        <li>Activar la opción <i>Decir en voz alta la entrada del teclado</i>.</li>
      </ol> 
      <p class="emphasy">Nota:
        Pese a que la descripción es para un dispositivo Samsung, en principio, en las propiedades del teclado se encuentra la 
        opción descrita.
      </p>
    </div>
  </details>
  
</div>