<p>
  Usa el filtro para que se muestren las consultas relacionadas con tu búsqueda.
</p>
<ion-list>
  <ion-item>
    <ion-select #C aria-label="Selecciona una categoría" placeholder="Selecciona un categoría" (ionChange)="selection(C.value)">
      <ion-select-option value="instalacion">Instalación</ion-select-option>
      <ion-select-option value="all">Todo</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>

<div role="list">
   <details name="category" role="listitem" *ngIf="category==='all' || category==='instalacion'">
    <summary role="button">
      Mekanta no se instala.
    </summary>
    <div class="txt-content">
      <p>
        Seguir los siguientes pasos:
      </p>
      <ol>
        <li>Reiniciar el equipo.</li>
        <li>Modificacar la fecha del Sistema Operativo.</li>
        <li>Desconectarlo de internet el equipo.</li>
        <li>Volver a instalar.</li>
      </ol>
    </div>
  </details>
</div>