<p>
  Usa el filtro para que se muestren las consultas relacionadas con tu búsqueda.
</p>
<ion-list>
  <ion-item>
    <ion-select #C aria-label="Selecciona una categoría" placeholder="Selecciona un categoría" (ionChange)="selection(C.value)">
      <ion-select-option value="configuracion">Configuración</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>

<div role="list">
  <div role="listitem" class="flex-container" id="consult_1" *ngIf="category=='all' || category=='configuracion'">
    <div>
      <p>
        <abbr title="Consulta" class="emphasy">C</abbr>: Google Assistant graba lo que verbaliza Voice Assistant.
      </p>
      <div *ngIf="show == 1" aria-hidden="true" id="va_1">
        <p>
          <abbr title="Resolucion" class="emphasy">R</abbr>: Debemos seguir el siguiente procedimiento:
        </p>
        <ol>
          <li>Google.</li>
          <li>Ajustes.</li>
          <li>Asistente de Google.</li>
          <li>General.</li>
          <li>Desactivar <b>usar contexto de pantalla</b>.</li>
        </ol>
      </div>
    </div>

    <button class="btn" (click)="showOpt(1)" *ngIf="show != 1">Consultar</button>
    <button class="btn" (click)="showOpt(0)" *ngIf="show == 1">Ocultar</button>
  </div>
</div>