/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

body {
  font-size: 1rem;
  background-color: var(--ion-background-color);
  color: var(--ion-text-color);
}

html[color-theme="dark"] .alert-radio-label {
    color: var(--ion-text-color);
}

.alert-radio-group .alert-radio-button[aria-checked="true"] .alert-radio-label {
  color: var(--ion-text-color);
  font-weight: bold;
}

.alert-radio-group .alert-radio-button[aria-checked="true"] .alert-radio-icon {
  border-color: var(--ion-text-color);
  background: var(--ion-text-color);
}

html[color-theme="custom"] {
}

.flex-container{
    margin-top: 1em;
    margin-bottom: 1em;
  
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
    align-content: space-around;
}

button:disabled{
    opacity: 0.5;
}

button:focus-visible, .focus:focus-visible{
    //border: red solid 0.5em;

    outline: red solid 0.5em;
    outline-offset: 0.2em;

    z-index: 10;
}

.danger{
    background-color: red;
}

.danger:focus-visible{
    //border: yellow solid 0.5em;

    outline: red solid 0.5em;
    outline-offset: 0.2em;
}

/*.web{
    display: none;
}*/