<p>
  Usa el filtro para que se muestren las consultas relacionadas con tu búsqueda.
</p>
<ion-list>
  <ion-item>
    <ion-select #C aria-label="Selecciona una categoría" placeholder="Selecciona un categoría" (ionChange)="selection(C.value)">
      <ion-select-option value="descarga">Descarga</ion-select-option>
      <ion-select-option value="eliminar">Eliminar</ion-select-option>
      <ion-select-option value="lectura">Lectura</ion-select-option>
      <ion-select-option value="movil">Móvil</ion-select-option>
      <ion-select-option value="pausa lectura">Pausar lectura</ion-select-option>
      <ion-select-option value="all">Todo</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>

<div role="list">
  <details name="category" role="listitem" *ngIf="category==='all' || category==='pausa lectura' || category==='movil'">
    <summary role="button">
      La lectura se pausa cuando se apaga la pantalla del terminal.
    </summary>
    <div class="txt-content">
      <p>
        Abrir el selector de aplicaciones y cerratodas las aplicaciones, incluído Gold.
      </p>
    </div>
  </details>

  <details name="category" role="listitem" *ngIf="category==='all' || category==='lectura' || category==='movil'">
    <summary role="button">
      En alguno de los libros descargados cuando se para la lectura, al reanudarla, vuelve al principio de todo.
    </summary>
    <div class="txt-content">
      <p>
        Eliminar la caché de GOLD y reinstalar la aplicación. Para borrar la caché:
      </p>
      <ol>
        <li>Ajustes.</li>
        <li>Almacenamiento.</li>
        <li>Otras aplicaciones o Ajustes.</li>
        <li>Aplicaciones y notificaciones.</li>
      </ol>
      <p>
        <span class="emphasy">Nota</span>:
        ¡Cuidado! Si se pulsa en <b>Borrar almacenamiento</b> se borrarán todos los libros descargados.
      </p>
    </div>
  </details>

  <details name="category" role="listitem" *ngIf="category==='all' || category==='descarga' || category==='movil'">
    <summary role="button">
      No se puede descargar libros, da el mensaje: <b>error en la descarga</b>.
    </summary>
    <div class="txt-content">
      <p>
        Eliminar la caché de GOLD y reinstalar la aplicación. Para borrar la caché:
      </p>
      <ol>
        <li>Ajustes.</li>
        <li>Almacenamiento.</li>
        <li>Otras aplicaciones o Ajustes.</li>
        <li>Aplicaciones y notificaciones.</li>
      </ol>
      <p>
        <span class="emphasy">Comentarios</span>:
        ¡Cuidado! Si se pulsa en <b>Borrar almacenamiento</b> se borrarán todos los libros descargados.
      </p>
    </div>
  </details>

    <details name="category" role="listitem" *ngIf="category==='all' || category==='descarga' || category==='movil'">
    <summary role="button">
      Instalar una versión anterior de una aplicación ya que el iOS es antiguo y no es compatible.
    </summary>
    <div class="txt-content">
      <p>
        Cuando se intenta descarga una aplicación no compatible con la versión de iOS instalada en el dispositivo, la AppStore ofrece la opción de descargar una versión anterior 
        de la aplicación (si existe) que sea compatible con la versión de iOS.
      </p>
    </div>
  </details>

  <details name="category" role="listitem" *ngIf="category==='all' || category==='descarga' || category==='movil'">
    <summary role="button">
      Al iniciar cuenta en Gestor ONCE Libros Digitales foco se queda atrapado en el campo de edición de texto de usuario.
    </summary>
    <div class="txt-content">
      <p>
        Insertar primero el campo de contraseña y después el de usuario, una vez tienes todo pulsar la tecla abajo sin soltar hasta que el final de la página y subir hasta el botón 
        de iniciar sesión.
      </p>
    </div>
  </details>

  <details name="category" role="listitem" *ngIf="category==='all' || category==='descarga' || category==='descarga'">
    <summary role="button">
      No se pueden descargar audiolibros en un ordenador.
    </summary>
    <div class="txt-content">
      <p>
        Cerrar sesión y volver a iniciarla.
      </p>
    </div>
  </details>
    
  <details name="category" role="listitem" *ngIf="category==='all' || category==='pausar lectura' || category==='eliminar'">
    <summary role="button">
      No se puede eliminar un audiolibro desde la aplicación del móvil o la tablet. El libro tampoco guarda el punto de lectura.
    </summary>
    <div class="txt-content">
      <p>
        Si el dispositivo contiene un atarjeta MicroSD, seguramente esté dañada. Para comprobarlo seguir el siguiente procedimiento:
      </p>
      <ol>
        <li>Estraer la tarjeta MicroSD.</li>
        <li>Descargar un libro.</li>
        <li>Eliminar el libro.</li>
      </ol>
      <p>
        Si al salir de la aplicación y volver a entrar el libro que se acaba de eliminar sigue siendo 
        visible, la tarjeta MicroSD está dañada y debe retirarse para poder utilizar la memoria del
        dispositivo.
      </p>
      <p>
        <span class="emphasy">Nota</span>:
        Esta solución es temporal. El usuario deberá reemplazar la tarjeta MicroSD por otra.
      </p>
    </div>
  </details>
    
  <details name="category" role="listitem" *ngIf="category==='all' || category==='descarga' || category==='movil'">
    <summary role="button">
      Error en la aplicación con iPod touch; las listas de búsqueda salen vacías.
    </summary>
    <div class="txt-content">
      <p>
        Actualizar la versión de iOS.
      </p>
    </div>
  </details>
</div>