button{
    margin-top: 0;
    background-color: green;
    color: #fff;
    padding: 1em 1em;
    border-radius: 0.2rem;
}

.flex-container{
    justify-content: space-around;
}

@media screen and (max-width: 700px) {
    .flex-container button{
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
}