<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button class="focus"></ion-menu-button>
    </ion-buttons>  
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" role="main" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <p>
    La presente aplicación busca ser una referencia rápida para resolver algunos d los problemas más comunes que se han documentado durante la instalación o la 
    ejecución de programas para facilitar la accesibilidad a diferentes aparatos:
  </p>
  <ul role="list">
    <li role="listitem">Smartphones.</li>
    <li role="listitem">Ordenadores.</li>
    <li role="listitem">BlinsShells.</li>
    <li role="listitem">Reproductores Daisy.</li>
    <li role="listitem">Lineas braille.</li>
    <li role="listitem">Etcétera.</li>
  </ul>
  
  <p>
    Mediante el menú lateral podemos acceder a los diferentes componentes de la página:
  </p>
  <ul role="list">
    <li role="listitem">Consultar incidencias.</li>
    <li role="listitem">Buscador de incidencias.</li>
    <li role="listitem">Enviar<span aria-hidden="true">/</span>Resolver incidencia.</li>
    <li role="listitem">Enviar incidencias con su solición.</li>
  </ul>

  <div class="flex-container">
    <button routerLink="/consult">Consultar la Base de Datos</button>
    <button routerLink="/search">Buscar en la Base de Datos</button>
  </div>
</ion-content>
