<p>
  Usa el filtro para que se muestren las consultas relacionadas con tu búsqueda.
</p>
<ion-list>
  <ion-item>
    <ion-select #C aria-label="Selecciona una categoría" placeholder="Selecciona un categoría" (ionChange)="selection(C.value)">
      <ion-select-option value="configuracion">Configuración</ion-select-option>
      <ion-select-option value="all">Todo</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>

<div role="list">
  <details name="category" role="listitem" *ngIf="category=='all' || category=='configuracion'">
    <summary role="button">
      La impresora impacto no imprime bien a doble espacio los saltos de página. 
    </summary>
    <div class="txt-content">
      <p>
        Se debe modificar la configuración del dispositivo y asignar el modelo correcto de la impresora: impacto texto o impacto 600.
      </p>
    </div>
  </details> 
</div>