<p>
  Usa el filtro para que se muestren las consultas relacionadas con tu búsqueda.
</p>
<ion-list>
  <ion-item>
    <ion-select #C aria-label="Selecciona una categoría" placeholder="Selecciona un categoría" (ionChange)="selection(C.value)">
      <ion-select-option value="comandos">Comandos</ion-select-option>
      <ion-select-option value="configuracion">Configuración</ion-select-option>
      <ion-select-option value="test">Test</ion-select-option>
      <ion-select-option value="all">Todo</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>

<div role="list">
  <details name="category" role="listitem" *ngIf="category==='all' || category==='comandos'">
    <summary role="button">
      Cambiar la Orbit de modo <abbr title="Interfaz de Dispositivo Humano">HID</abbr> a local.
    </summary>
    <div class="txt-content">
      <p>
        Debemos seguir el siguiente procedimiento: </p>
      <ol>
        <li>Seleccionar + flecha arriba.</li>
        <li>Seleccionar + flecha izquierda.</li>
      </ol>
     </div>
  </details>

  <details name="category" role="listitem" *ngIf="category==='all' || category==='configuracion'">
    <summary role="button">
      No se puede salir del fichero en uso.
    </summary>
    <div class="txt-content">
      <p>
        Dependiendo de lo que estemos haciendo podemo:
      </p>
      <ul>
        <li>Si se está leyendo el fichero ha de pulsar: <b>el punto 7</b>.</li>
        <li>Si se está editando se sale pulsando: <b>dos veces select</b> para acceder a un submenú donde debe seleccionarse 
          la opción <b>Salir (e)</b>.</li>
        <li>Si no se consigue salir pulsar: <b>espacio + e (puntos 1 5) y el punto 7</b>.</li>
      </ul>
     </div>
  </details>
 
  <details name="category" role="listitem" *ngIf="category==='all' || category==='comandos'">
    <summary role="button">
      ¿Qué significa Voluta Tarifa?
    </summary>
    <div class="txt-content">
      <p>
        Permite configurar el autodesplazamiento de la Línea
      </p>
     </div>
  </details>
  
  <details name="category" role="listitem" *ngIf="category==='all' || category==='comandos' || category==='test'">
    <summary role="button">
      Test de punzones(puntos).
    </summary>
    <div class="txt-content">
      <p>
        Debe seguirse el siguiente procedimiento:
      </p>
      <ol>
        <li>Encender la unidad.</li>
        <li>Entrar al modo de prueba (manteniendo pulsada la Tecla Espacio y pulsando el botón de Encendido 5 veces).</li>
        <li>La línea braille muestra el número de serie de la unidad.</li>
        <li>Elegir entre uno de los siguientes comandos:
          <ul>
            <li>Pulsar la tecla de Espacio, esto alternará todos los puntos hacia arriba o hacia abajo con cada pulsación.</li>
            <li>
              Pulsar alternativamente la tecla de cada punto (del teclado braille) para que se presenten todos los puntos 
              correspondientes a ese punto en todas las celdas (es ideal para verificar e indicar a Mantenimiento qué punto y 
              en qué carácter se encuentra el fallo.
            </li>
            <li>
              Para subir y bajar alternativamente todos los punzones de todos los caracteres, pulsar “Seleccionar + Tecla 
              Flecha Abajo. Esto también puede ayudar a recuperar los puntos, si están atascados debido al polvo acumulado en 
              la guía de movimiento del punto.
            </li>
          </ul>
        </li>
        <li>Tomar nota de los puntos que se comportan mal, si los hay.</li>
        <li>Permitir que el ejercicio se ejecute durante 4-5 minutos y pulsar “Seleccionar” para detener el proceso.</li>
        <li>Para salir del test, pulsar la Tecla de Espacio y el botón de Encendido 5 veces, o reiniciar el dispositivo pulsanado el 
          Punto 8 + la parte inferior de la Tecla de Avance. No hay respuesta aparente al comando.
        </li>
        <li>Enciender el dispositivo y verificar, si los puntos atascados se han recuperado.</li>
      </ol>
     </div>
  </details>

  <details name="category" role="listitem" *ngIf="category==='all' || category==='configuracion' || category==='vincular'">
    <summary role="button">
      No se consigue vincular Orbit a JAWS.
    </summary>
    <div class="txt-content">
      <p>
        Para poder escribir debe activarse el modo teclado braille. Para ello realizar lo siuiente:
      </p>
      <ol>
        <li>Pulsar flecha derecha + barra espaciadora + punto 6, para habilitar la conexión por USB.</li>
        <li>Agregar la Orbit Reader a Jaws como si se tratara de una línea braille al uso.</li>
        <li>Seleccionarla como línea braille predeterminada.</li>
        <li>Pulsar la barra espaciadora + los puntos del 1 al 6. La Orbit verbalizará el mensaje: modo teclado braille activado.</li>
      </ol>
      <p>Este modo braille se utiliza para poder escribir, pero si no se activa, se puede manejar el equipo sin problemas</p>
      <p>
        <span class="emphasy">Comentarios</span>: Esta solución tambien serviría para <abbr title="No Visual Desktop Accessibility">NVDA</abbr>.
      </p>
     </div>
  </details>
</div>