<p>
  Usa el filtro para que se muestren las consultas relacionadas con tu búsqueda.
</p>
<ion-list>
  <ion-item>
    <ion-select #C aria-label="Selecciona una categoría" placeholder="Selecciona un categoría" (ionChange)="selection(C.value)">
      <ion-select-option value="configuracion">Configuración</ion-select-option>
      <ion-select-option value="gestos">Gestos</ion-select-option>
      <ion-select-option value="correo">Correo Electrónico</ion-select-option>
      <ion-select-option value="vincular">Vincular</ion-select-option>
      <ion-select-option value="all">Todo</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>

<div role="list">
  <details name="category" id="consult_1" role="listitem" *ngIf="category==='all' || category==='gestos'">
    <summary role="button">
      Descolgar en un Sony Xperia con TalkBack activado.
    </summary>
    <div class="txt-content">
      <p>
        Deslizar hacia la derecha con 2 dedos.
      </p>
    </div>
  </details>

  <details name="category" id="consult_1" role="listitem" *ngIf="category==='all' || category==='configuracion' || category==='dictado'">
    <summary role="button">
      El micro del teclado para el dictado aparece atenuado (inactivo).
    </summary>
    <div class="txt-content">
      <p>
        Configurar como predeterminado el teclado de Google (GBoard).
      </p>
    </div>
  </details>

  <details name="category" id="consult_1" role="listitem" *ngIf="category==='all' || category==='configuracion'">
    <summary role="button">
      Activar transcripción de sonidos.
    </summary>
    <div class="txt-content">
      <p>
        Deben seguirs los siguientes pasos:
      </p>
      <ol>
        <li>Ajustes.</li>
        <li>Accesibilidad.</li>
        <li>Transcripción Instánea y Notificaciones de Sonidos.</li>
      </ol>
    </div>
  </details>

  <details name="category" id="consult_1" role="listitem" *ngIf="category==='all' || category==='gestos'">
    <summary role="button">
      Desactivar la voz de TalkBack con un gesto.
    </summary>
    <div class="txt-content">
      <p>
        3 toques y mantener con 2 dedos.
      </p>
      <p>
        <span class="emphasy">Comentario</span>: El gesto sólo está disponible para la versión de Android 9.1 o superior.
      </p>
    </div>
  </details>
  
  <details name="category" id="consult_1" role="listitem" *ngIf="category==='all' || category==='vincular'">
    <summary role="button">
      Conexión línea braille con TalkBack.
    </summary>
    <div class="txt-content">
      <p>
        Para añadir una línea braille a Talkback debemos tener instalada BrailleBack (dependiendo de la versión de Android no está incluido por defecto) y realizar los siguientes 
        pasos:
      </p>
      <ol>
        <li>Activar la conexión mediante Bluetooth.</li>
        <li>Vicular la línea braille.</li>
        <li>Ir a:</li>
        <ol>
          <li>Ajustes.</li>
          <li>Accesibilidad.</li>
          <li>BrailleBack.</li>
        </ol>
        <li>Comprobar que la línea braille está enlazada, si no lo est´´a pulsar sobre el desplegable y seleccionarla.</li>
      </ol>
      <p class="emphasy">Comentarios:</p>
        <ul>
          <li>Actualmente BrailleBack está incluido en la Suite de Accesibilidad de Android.</li>
          <li>Para que la línea funcione debe estar activado TalkBack.</li>
        </ul>
    </div>
  </details>
  
  <details name="category" id="consult_1" role="listitem" *ngIf="category==='all' || category==='correo'">
    <summary role="button">
      Los correos de Outllok se leen con una voz inglesa.
    </summary>
    <div class="txt-content">
      <p>
        Asegurarse que la detección automática de idioma está descativada. Si lo está, cambiar el <b>Idioma hablado</b> desde el menú de TalkBack.
      </p>
      <p>
        <span class="emphasy">Comentario</span>: Si el idioma hablado no está disponible, se puede descargar en el menú de TalkBack en la confgigaración de .
      </p>
    </div>
  </details>
</div>